id: 10
templatename: Авторизация
category: Сайт
properties: 'a:0:{}'

-----

{include 'head'}
</head>
<body class="{if $_modx->resource.template == 2}index-template{else}base-template{/if} anchor-menu-init id-58">
<!-- Mobile menu --> 
{include 'mobile-menu'}
<div class="overlay"></div>
<!-- /. Mobile menu -->

<div class="main-wrapper">
{include 'header'}
<div class="container">
    
    <div class="authorization-block-wrapper">
        {if $_modx->user.id > 1}
        {set $confirm = $.get.confirm}
        {if $confirm}
        [[!confirmRedirect]]
        {/if}
        <div class="auth-title">Вы успешно вошли в аккаунт</div>
        {else}
        <div class="auth-title">
            Для продолжения оформления <br> введите номер телефона
        </div>
        <div class="auth-subtitle">СМС был отправлен на номер: <br> <span class="auth-number-placeholder"></span></div>
        <input placeholder="+7(925)123-45-67" class="auth-number" type="text">
        <input type="text" maxlength="4" class="auth-code">
        <div class="auth-btn">Далее</div>
        <div class="code-btn">Далее</div>
        {/if}
    </div>
</div>
{include 'footer'}
</div>

{include 'js'}
<script>
    $(document).ready(function(){
        $('.auth-btn').on('click', function(){
         var num = $('.auth-number').val();
         console.log(num);
         
$.ajax({
    url: 'http://demodelivery.appsj.su/sms.json',
    type: 'post',
    data: JSON.stringify({
        "phone": num
    }),
    headers: {
        "Content-Type": 'application/json',
        "Accept": 'application/json'
    },
    success: function (data) {
        console.log(data);
        console.log(data.request_id);
        requestID = data.request_id;
        if (requestID){
            $('.auth-title').text('Отлично! Теперь введите код из СМС');
            $('.auth-subtitle').show();
            $('.auth-number-placeholder').text(num);
            $('.auth-number').hide();
            $('.auth-code').addClass('active');
            $('.auth-btn').hide();
            $('.code-btn').addClass('active');
        }
    }
});
        });
    $('.code-btn').on('click', function(){
            code = $('.auth-code').val();
            console.log(code);
            $.ajax({
                url: 'http://demodelivery.appsj.su/authorization.json',
                type: 'post',
                data: JSON.stringify({
                    "request_id": requestID,
                    "code": code
                }),
                headers: {
                    "Content-Type": 'application/json',
                    "Accept": 'application/json'
                },
                success: function (data) {
                    token = data[0].token;
                    console.log('new token is '+token);
                    $.get(
                        "http://demodelivery.appsj.su/changepassword.json",
                        {
                             "token": token
                        }, 
                        onAuthSuccess
                    );
                }
            });
        });
        function onAuthSuccess(data){
            if (data){
                location.reload();
            }
        }
    });
</script>
<script>
    $(document).ready(function(){
        $(".auth-number").mask("+7 (999) 999-9999");
    });
</script>
</body>
</html>