id: 17
source: 1
templatename: 'Отчет по продажам блюд'
description: ''
category: 'Устаревшие шаблоны'
properties: 'a:0:{}'

-----

{include 'head'}
</head>
<body class="{if $_modx->resource.template == 2}index-template{else}base-template{/if}">
<!-- Mobile menu --> 
{include 'mobile-menu'}
<div class="overlay"></div>
<!-- /. Mobile menu -->

<div class="main-wrapper">
    {set $productsTable = '!getProductsTable' | snippet : []}
<div class="delivery-page-crumbs">
    <div class="container">
        [[!pdoCrumbs?
            &showHome=`1`
            &outputSeparator=`&nbsp;&nbsp;/&nbsp;&nbsp;`
        ]]
        <h1 class="delivery-pagetitle">{$_modx->resource.pagetitle}</h1>
    </div>
</div>
<div class="promobase-wrapper container">
    <div class="select-delivery-type">
        <div class="select-delivery-type-title">
            Выберите тип доставки
        </div>
        
        <div class="select-delivery-type-body">
            <a href="{1800|url}?delivery=1" class="select-delivery-type-1 select-delivery-type">Самовывоз</a>
            <a href="{1800|url}?delivery=2" class="select-delivery-type-2 select-delivery-type">Доставка</a>
            <a href="{1800|url}?delivery=3" class="select-delivery-type-3 select-delivery-type">В ресторане</a>
        </div>
    </div>
    <button class="save-xls-btn">Скачать XLS</button>
    <table id="promo_list" class="user-orders-table">
        <thead>
            <tr>
                <th>Наименование</th>
                <th>Цена</th>
                <th>ID категории</th>
                <th>Точка 1</th>
                <th>Точка 2</th>
                <th>Точка 3</th>
                <th>Точка 4</th>
                <th>Точка 5</th>
                <th>Точка 6</th>
                <th>Точка 7</th>
                <th>Точка 8</th>
                <th>Точка 9</th>
                <th>Точка 10</th>
                <th>Точка не выбрана</th>
           </tr>
       </thead>
       <tbody>
           {foreach $productsTable as $product_name index=$index}
           <tr>
                <th>{$product_name.name}</th>
                <th>{$product_name.price}</th>
                <th>{$product_name.parent}</th>
                <th>{$product_name.restourant_1}</th>
                <th>{$product_name.restourant_2}</th>
                <th>{$product_name.restourant_3}</th>
                <th>{$product_name.restourant_4}</th>
                <th>{$product_name.restourant_5}</th>
                <th>{$product_name.restourant_6}</th>
                <th>{$product_name.restourant_7}</th>
                <th>{$product_name.restourant_8}</th>
                <th>{$product_name.restourant_9}</th>
                <th>{$product_name.restourant_10}</th>
                <th>{$product_name.restourant_null}</th>
           </tr>
           {/foreach}
       </tbody>
    </table>
</div>
{include 'footer'}
</div>
{include 'js'}
<script src="assets/template/js/jquery.tablesorter.js"></script>
<script>
$('.save-xls-btn').on('click', function(){
            var params = window
                .location
                .search
                .replace('?','')
                .split('&')
                .reduce(
                    function(p,e){
                        var a = e.split('=');
                        p[ decodeURIComponent(a[0])] = decodeURIComponent(a[1]);
                        return p;
                    },
                    {}
                );
            var delivery= params['delivery'];
            $.get(
                "[[++site_url]]/getsegmentxls.html",
                {
                    "delivery":delivery
                },
                onSuccessConvert
            );
            function onSuccessConvert(data){
                window.location.href = data;
            }
    });
</script>
</body>
</html>