id: 7
source: 1
templatename: Спасибо
description: ''
category: Сайт
properties: 'a:0:{}'

-----

{include 'head'}
</head>
<body class="{if $_modx->resource.template == 2}index-template{else}base-template{/if} anchor-menu-init id-58">
<!-- Mobile menu --> 
{include 'mobile-menu'}
<div class="overlay"></div>
<!-- /. Mobile menu -->

<div class="main-wrapper">
{include 'header'}

        <div class="middle">
            <div class="push50"></div>
            <div class="container">
            <h1>{$_modx->resource.pagetitle}</h1>
            <div class="content">
                <div class="getOrderMessage">
                {$_modx->resource.content}
                </div>
            </div>
            </div>
            
            <div class="push50"></div>
        </div>

<div class="footer-push"></div>
</div>
{include 'footer'}
{include 'js'}
</body>
</html>