id: 1
templatename: Страница
category: Сайт
properties: 'a:0:{}'

-----

{include 'head'}
</head>
<body class="{if $_modx->resource.template == 2}index-template{else}base-template{/if}">
<!-- Mobile menu --> 
{include 'mobile-menu'}
<div class="overlay"></div>
<!-- /. Mobile menu -->

<div class="main-wrapper">
{include 'header'}

        <div class="middle">
            <div class="push50"></div>
            <div class="container">
            <h1>{$_modx->resource.pagetitle}</h1>
            {if $_modx->resource.parent == 8}
            <div class="back-link">
                    <a href="{$_modx->makeUrl(8)}" title="К списку новостей и акций"><i class="material-icons">keyboard_backspace</i> 
                    К списку новостей и акций
                    </a>
            </div>            
            {/if}
            
            {set $image__page = $_modx->resource.id | resource : 'image'}      
 
           
            {if $image__page != ''}
            {set $image__big = $_modx->runSnippet('!pthumb', [ 'input' => $image__page, 'options' => 'w=1200&h=400&zc=1' ])}             
                <div class="page-img">
                            <img src="{$image__big}" alt="{$_modx->resource.pagetitle}">
                </div>   
            {/if}
            
{if $_modx->resource.id == 8}
<div class="news-list">
    <div class="row">
    {$_modx->runSnippet('pdoResources', 
           ['parents' => 8,
            'tpl' => 'news.tpl',
            'depth' => 0,
            'limit' => 3,
            'sortby'=>'{"menuindex":"ASC"}'
            ]
    )}        
    </div>
</div>

{else}
    <div class="content">
        {$_modx->resource.content}
    </div>
{/if}    
            
            

            
            </div>
            
            <div class="push50"></div>
        </div>

<div class="footer-push"></div>
</div>
{include 'footer'}
{include 'js'}
</body>
</html>