<div class="auth-form form-auth">
                                    <h4 class="text-center mb-4">Вход в систему {$_modx->user.id}</h4>
                                    <form action="[[~[[*id]]]] method="post"">
                                        <div class="form-group">
                                            <label class="mb-1"><strong>Логин</strong></label>
                                            <input type="text" class="form-control" id="username" name="username" value="">
                                            <input class="returnUrl" type="hidden" name="returnUrl" value="[[+request_uri]]" />
                                            <input class="loginLoginValue" type="hidden" name="service" value="login" />
                                        </div>
                                        <div class="form-group">
                                            <label class="mb-1"><strong>Пароль</strong></label>
                                            <input type="password" id="password" name="password" class="form-control" value="Password">
                                        </div>
                                        <div class="form-row d-flex justify-content-between mt-4 mb-2">
                                            <div class="form-group">
                                               <div class="custom-control custom-checkbox ml-1">
													<input type="checkbox" class="custom-control-input" id="basic_checkbox_1">
													<label class="custom-control-label" for="basic_checkbox_1">Remember my preference</label>
												</div>
                                            </div>
                                            <div class="form-group">
                                                <a href="page-forgot-password.html">Forgot Password?</a>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" id="loginbtn" class="btn btn-primary btn-block">Sign Me In</button>
                                        </div>
                                    </form>
                                    <div class="new-account mt-3">
                                        <p>Don't have an account? <a class="text-primary" href="./page-register.html">Sign up</a></p>
                                    </div>
                                </div>