<div class="table-responsive">
            <table class="table table-striped">
                <tr class="tr-cart-wrapper tr-cart-mobile-wrapper">
                    <th class="total cart-total-cost-title">{'ms2_cart_total' | lexicon}:</th>
                    [[-<th class="total_count">
                        <span class="ms2_total_count">{$total.count}</span>
                        {'ms2_frontend_count_unit' | lexicon}
                    </th>
                    <th class="total_weight text-nowrap">
                        <span class="ms2_total_weight">{$total.weight}</span>
                        {'ms2_frontend_weight_unit' | lexicon}
                    </th>]]
                    <th class="total_cost text-nowrap cart-total-cost-price" colspan="2">
                        <span class="ms2_total_cost ">{$total.cost}</span>
                        <i class="fa fa-rub" aria-hidden="true"></i>
                    </th>
                    <th class="order-success-btn">
                        {if $_modx->user.id > 1}
                        <a href="{21|url}">Оформление заказа</a>
                        {else}
                        <a href="{412|url}?confirm=1">Оформление заказа</a>
                        {/if}
                    </th>
                    
                </tr>
            </table>
        </div>