<div class="cart-body" id="msCart">

{foreach $products as $product}
<div class="element" id="{$product.key}">
<form method="post" class="ms2_form">
    <input type="hidden" name="key" value="{$product.key}">
    <button class="element-delete" type="submit" name="ms2_action" value="cart/remove" title="Удалить">
            <i class="material-icons">close</i>
    </button>
</form>
                <div class="row">
                    
                    <div class="col-sm-8">
                        <div class="subelement2 relative">
                            
                                                            
                                <div class="element-img relative" style="background: url({$product.id | resource : 'image'}) 50% 50% no-repeat; background-size: contain;">
                                    <a href="{$_modx->makeUrl($id)}" title="{$product.id | resource : 'pagetitle'}" class="absolute"></a>
                                </div>
                                
                            
                            <div class="text">
                                <div class="table">
                                    <div class="table-cell">
                                        <h4><a href="{$_modx->makeUrl($id)}" title="{$product.id | resource : 'pagetitle'}" class="decoration-none">{$product.id | resource : 'pagetitle'}</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="push20 visible-xs"></div>
                    </div>
                    
                    <div class="col-sm-4">
                        <div class="subelement1 relative">
                            <div class="row">
                                <div class="col-xs-6 text-center-sm">
                                    <div class="element-price">
                                        <div class="table">
                                            <div class="table-cell">
                                                <span class="black f20"><b>{$product.price}</b> руб.</span> 
                                                <br>
                                                <span class="gray f14">{$product.id | resource : 'serving__size'}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 text-right-xs text-left-sm">
                                    <div class="element-counter">
                                        <div class="table">
                                            <div class="table-cell">
                                                <div class="input-group">
                                                    <form method="post" class="ms2_form" role="form">
                	                                    <input type="hidden" name="key" value="{$product.key}" />
                                                        <div class="input-group">
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn-number btn-minus" data-type="minus" data-field="count-{$product.id}-1"><span></span></button>
                                                            </span>
                                                            <input type="text" name="count" id="count-{$product.id}-1" class="form-control input-number" value="1" min="1" max="99">
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn-number btn-plus" data-type="plus" data-field="count-{$product.id}-1"><span></span></button>
                                                            </span>
                                                        </div>
                		                                <button class="btn btn-default" type="submit" name="ms2_action" value="cart/change"><i class="glyphicon glyphicon-refresh"></i></button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{/foreach}
                
        <div class="push30"></div>
        <hr>
        <div class="cart-total-wrapper">
            
            <h4>
                <span>Итого: </span>
                <span class="total_count">
                <span class="ms2_total_count">{$total.count}</span> шт.</span>
                на сумму 
                <span class="total_cost">
                <span class="ms2_total_cost bold f22">{$total.cost}</span> руб.</span>
                
            </h4>
            <div class="push20"></div>
            <a href="{$_modx->makeUrl(21)}" title="Оформить заказ" class="btn min">Оформить заказ</a>
        </div>
    </div>


[[-
<div id="msCart">
    {if !count($products)}
        <div class="alert alert-warning">
            {'ms2_cart_is_empty' | lexicon}
        </div>
    {else}
        <div class="table-responsive">
            <table class="table table-striped">
                <tr class="header">
                    <th class="title">{'ms2_cart_title' | lexicon}</th>
                    <th class="count">{'ms2_cart_count' | lexicon}</th>
                    <th class="weight">{'ms2_cart_weight' | lexicon}</th>
                    <th class="price">{'ms2_cart_price' | lexicon}</th>
                    <th class="remove"></th>
                </tr>

                {foreach $products as $product}
                    {var $image}
                        {if $product.thumb?}
                            <img src="{$product.thumb}" alt="{$product.pagetitle}" title="{$product.pagetitle}"/>
                        {else}
                            <img src="{'assets_url' | option}components/minishop2/img/web/ms2_small.png"
                                 srcset="{'assets_url' | option}components/minishop2/img/web/ms2_small@2x.png 2x"
                                 alt="{$product.pagetitle}" title="{$product.pagetitle}"/>
                        {/if}
                    {/var}
                    <tr id="{$product.key}">
                        <td class="title">
                            <div class="d-flex">
                                <div class="image mw-100 pr-3">
                                    {if $product.id?}
                                        <a href="{$product.id | url}">{$image}</a>
                                    {else}
                                        {$image}
                                    {/if}
                                </div>
                                <div class="title">
                                    {if $product.id?}
                                        <a href="{$product.id | url}">{$product.pagetitle}</a>
                                    {else}
                                        {$product.name}
                                    {/if}
                                    {if $product.options?}
                                        <div class="small">
                                            {$product.options | join : '; '}
                                        </div>
                                    {/if}
                                </div>
                            </div>
                        </td>
                        <td class="count">
                            <form method="post" class="ms2_form" role="form">
                                <input type="hidden" name="key" value="{$product.key}"/>
                                <div class="form-group">
                                    <div class="input-group input-group-sm">
                                        <input type="number" name="count" value="{$product.count}" class="form-control"/>
                                        <div class="input-group-append">
                                            <span class="input-group-text">{'ms2_frontend_count_unit' | lexicon}</span>
                                        </div>
                                    </div>
                                    <button class="btn btn-sm" type="submit" name="ms2_action" value="cart/change">&#8635;</button>
                                </div>
                            </form>
                        </td>
                        <td class="weight">
                            <span class="text-nowrap">{$product.weight} {'ms2_frontend_weight_unit' | lexicon}</span>
                        </td>
                        <td class="price">
                            <span class="mr-2 text-nowrap">{$product.price} {'ms2_frontend_currency' | lexicon}</span>
                            {if $product.old_price?}
                                <span class="old_price text-nowrap">{$product.old_price} {'ms2_frontend_currency' | lexicon}</span>
                            {/if}
                        </td>
                        <td class="remove">
                            <form method="post" class="ms2_form text-md-right">
                                <input type="hidden" name="key" value="{$product.key}">
                                <button class="btn btn-sm btn-danger" type="submit" name="ms2_action" value="cart/remove">&times;</button>
                            </form>
                        </td>
                    </tr>
                {/foreach}

                <tr class="footer">
                    <th class="total">{'ms2_cart_total' | lexicon}:</th>
                    <th class="total_count">
                        <span class="ms2_total_count">{$total.count}</span>
                        {'ms2_frontend_count_unit' | lexicon}
                    </th>
                    <th class="total_weight text-nowrap">
                        <span class="ms2_total_weight">{$total.weight}</span>
                        {'ms2_frontend_weight_unit' | lexicon}
                    </th>
                    <th class="total_cost text-nowrap" colspan="2">
                        <span class="ms2_total_cost">{$total.cost}</span>
                        {'ms2_frontend_currency' | lexicon}
                    </th>
                </tr>
            </table>
        </div>

        <form method="post">
            <button type="submit" name="ms2_action" value="cart/clean" class="btn btn-danger">
                {'ms2_cart_clean' | lexicon}
            </button>
        </form>
    {/if}
</div>
]]