                                            {set $countproduct = '!countproduct' | snippet : [
                                                'id' => $id
                                            ]}
<div class="modificator-card">
    <form method="post" class="ms2_form msoptionsprice-product">
                        <img src="{$image}" alt="">
                        <input type="hidden" name="id" value="{$id}">
                        <div class="midificator-title">{$pagetitle}</div>
                        <div class="midificator-price">{$price}</div>
                        <div class="modificator-input-wrapper">
                            <div class="modificator-minus-item" data-id="{$id}">-</div>
                            {if $countproduct}
                            <input class="modificator-val-item" value="{$countproduct}" type="number"> 
                            {else}
                            <input class="modificator-val-item" value="0" type="number">
                            {/if}
                            <div class="modificator-plus-item">
                                <button data-id="{$id}" class="mofidicator-cart-btn" type="submit" name="ms2_action" value="cart/add">+</button>
                            </div>
                        </div>
                        <input type="hidden" name="count" id="count-{$id}" class="form-control input-number value-input-prod d-none" value="1" min="1" max="99">
                        </form>
                    </div>