<div data-id="{$id}" class="category tab-pane content-tab" id="cat_{$id}">[[-{$alias}]]
    <h2 class="category-name-tab">{$pagetitle}</h2>

    {if $template != 8}
    <div class="catalog">
        <div class="row  row-flex row-flex-wrap">
            {'!pdoPage' | snippet : [
                'element' => 'msProducts',
                'parents' => $id,
                'tpl'=>'product.tpl',
                'includeContent' => 1,
                'limit'=>'12',
                'includeTVs' => 'unit',
                'pageVarKey' => "catalog{$id}",
                'pageNavVar' => "catalog{$id}.nav",
                'ajax' => '1',
                'ajaxMode' => 'button',
                'ajaxElemWrapper' => "#cat_{$id}",
                'ajaxElemRows' => "#cat_{$id} .catalog > .row",
                'ajaxElemPagination' => "#cat_{$id} .pagenavigation",
                'ajaxElemLink' => "#cat_{$id} .pagenavigation a",
                'ajaxElemMore' => "#cat_{$id} .btn-more",
                'ajaxTplMore' => '@INLINE <button class="btn min btn-success btn-more">Загрузить еще</button>',
                'cache' => 0,
                'cache_user' => 1,
            ]}
          </div>
          <div class="pagenavigation">
              {$_modx->getPlaceholder('catalog'~$id~'.nav')}
          </div>
    </div>
    {/if}
</div>
