<li>
    <a data-id="{$id}"  class="nav-btn catalog-li-trigger" data-toggle="tab">{$pagetitle}</a>
    [[-{$_modx->runSnippet('pdoResources', [
        'parents' =>'2',
        'tpl' => 'catalog__subcategory-name.tpl',
        'depth' => 0,
        'limit'=>'0',
        'sortby'=>'{"menuindex":"ASC"}',
        'where'=>'{"template":"3"}',
        'tplWrapper' => '@INLINE <ul class="nav nav_sub nav-tabs">[[+output]]</ul>'
    ])}]]
</li>[[-{$alias}]][[-+idx:is=`1`:then=` active`]]
