<div class="catalog__mini">
    <h2>{$pagetitle}</h2>
    <div class="catalog">
        <div class="row">
            {'!msProducts' | snippet : [
            'parents' => $id,
            'tpl'=>'product.tpl',
            'limit'=>'0'
            ]} 
        </div>
    </div>
</div>