<!-- button to top -->
<span id="up"><i class="fa fa-angle-up"></i></span>
<!-- /. button to top -->

<!-- Footer -->
<div class="footer">
    <div class="container">
        <div class="footer-inner relative">
            <div class="footer-top">
                <div class="row min">
                    <div class="col-md-9">
                        <div class="footer-menu">
                            
                            {$_modx->runSnippet('pdoMenu',['parents' => 0,'level' => 1])}
                            
                        </div>
                    </div>
                    <div class="col-md-3 text-right-md">
                        <div class="push15 hidden-md hidden-lg"></div>
                        <div class="social-links f18">
                            [[-
                            <a href="#" target="_blank"><i class="fa fa-youtube-play"></i></a> 
                            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-odnoklassniki"></i></a>     
                            ]]
                             
                            <a href="{$_modx->config.instagram}" target="_blank"><i class="fa fa-instagram"></i></a>
                            <a href="{$_modx->config.vk}" target="_blank"><i class="fa fa-vk"></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="row">
                    <div class="col-md-9">
                        <div class="copyright">
                            © {$_modx->runSnippet('data')} {$_modx->config.name__site} <br />
                        </div>
                    </div>
                    <div class="col-md-3 text-right-md">
                        <div class="push12"></div>
                        <div class="payments">
                            <i class="fa fa-cc-visa f26"></i> 
                            <i class="fa fa-cc-mastercard f26"></i>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- /. Footer -->