<form method="post" class="ajax_form">
    <div class="form-group">
        <input type="text" placeholder="Ваше имя" class="form-control required" name="fio" value="">
    </div>
    <div class="form-group">
        <input type="text" placeholder="Номер вашего телефона" class="form-control required" name="tel" value="">
    </div>
    <div class="agreement-simple relative f12">
        <i class="fa fa-check-square-o f16"></i> 
        Отправляя форму, я даю согласие на обработку своих персональных данных
    </div>
    <div class="push20"></div>
    <input type="submit" class="btn min block" value="Отправить" name="callbackbtn" />

</form>