<div class="modal" id="reviewsModal">
<h3>Оставьте свой отзыв</h3>
<div class="rf">
    
<form method="post" class="ajax_form" enctype="multipart/form-data">
    <div class="form-group">
        <input type="text" class="form-control required" placeholder="Ваше имя *" name="fio" value="" required>
    </div>
    <div class="form-group">
        <input type="email" class="form-control required" placeholder="Email *" name="email" value="" required>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Ссылка на социальный сеть" name="social" value="">
    </div>    
    <div class="form-group">
        <textarea class="form-control required" placeholder="Ваш отзыв *" name="message" required></textarea>
    </div>
    <div class="push15"></div>
    <div class="agreement-simple relative f12">
        <i class="fa fa-check-square-o f16" aria-hidden="true"></i> 
        Отправляя форму, я даю согласие на обработку своих персональных данных
    </div>
    <div class="push15"></div>
    <input type="submit" class="btn min" value="Отправить" name="reviewsbtn">
</form>

</div>
</div>