<div class="col-sm-6 col-md-4">
    <div class="element relative">
        <a href="{$_modx->makeUrl($id)}" title="{$pagetitle}" class="absolute"></a>
        <div class="img-wrapper">
          {set $image = $id | resource : 'image'}     
          {set $image_slider1 = $_modx->runSnippet('!pthumb', [ 'input' => $image, 'options' => 'w=367&h=129&zc=1' ])}
          {set $image_slider2 = $_modx->runSnippet('!pthumb', [ 'input' => $image, 'options' => 'w=737&h=259&zc=1' ])}             
            <img src="{$image_slider1}" alt="{$pagetitle}" class="hidden-xs hidden-sm">
            <img src="{$image_slider2}" alt="{$pagetitle}" class="visible-xs visible-sm">
            
        </div>
        <div class="element-content">
            <div class="title">
                {$pagetitle}
            </div>
            <div class="text">
               {$introtext}
            </div>
        </div>
    </div>
</div>
<hr class="cleaner-hr">