      <div class="col-12">
                <div class="element relative dop-item-wrapper">
                    <form method="post" class="ms2_form msoptionsprice-product">
                        <input type="hidden" name="id" value="{$id}">
                        <div class="inner product-cart-tpl-wrapper product-cart-tpl-wrapper-mobile">
                            <div class="product-card-img-title-wrapper product-card-img-title-wrapper-mobile">
                                <a class="product-img-wrapper" href="{$_modx->makeUrl($id)}">
                                    <div class="img-wrapper relative">
                                         <img class="product-cart-dop-img" src="{$image}" alt="{$pagetitle}" />
                                         <div class="new-mark">
                                             Новинка
                                         </div>
                                    </div>
                                </a>
                                <div class="element-content">
                                    <a href="{$_modx->makeUrl($id)}">
                                        <div class="new-cart-title">
                                            Попробуйте новинку!
                                        </div>
                                        <div class="cart-title">
                                            {$pagetitle} 
                                        </div>
                                        <span class="new-cart-descriprion">
                                            {$description|truncate:30:'<span class="truncate-button">...</span>':$true:$false}
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="element-bottom dop-element-bottom">
                            <div class="row min d-flex">
                                <div class="product-dop-price">
                                    <div class="element-weight f13"></div>
                                    <div class="element-price cart-dop-element">{$price} <i class="fa fa-rub" aria-hidden="true"></i></div>
                                </div>
                                <div class="product-dop-btn product-count-wrapper">
                                            {set $countproduct = '!countproduct' | snippet : [
                                                'id' => $id
                                            ]}
                                    <div class="element-counter">
                                        {if $countproduct >=1}
                                        <div class="input-group product-hidden-input-wrapper active product-dop-group">
                                            [[-<span class="input-group-btn">
                                                <button type="button" class="btn-number btn-minus" disabled="disabled" data-type="minus" data-field="count-{$id}">
                                                <span></span>
                                                </button>
                                            </span>]]
                                            {if $countproduct == 1}
                                            <div class="input-product-val__minus">
                                                <img src="assets/template/images/newimages/x.svg" alt="">
                                            </div>
                                            {else}
                                            <div class="input-product-val__minus">
                                                <img src="assets/template/images/newimages/minus.svg" alt="">
                                            </div>
                                            {/if}
                                            <input type="hidden" name="count" id="count-{$id}" class="form-control input-number value-input-prod" value="1" min="1" max="99">
                                            <input type="number" id="count-{$id}" class="form-control input-number fake-input-prod cart-dop-input" value="{$countproduct}" min="0" max="99">
                                            <div class="input-product-val__plus">
                                                <img src="assets/template/images/newimages/plus.svg" alt="">
                                            </div>
                                            [[-<span class="input-group-btn">
                                                <button type="button" class="btn-number btn-plus" data-type="plus" data-field="count-{$id}">
                                                <span></span>
                                                </button>
                                            </span>]]
                                        </div>
                                        {else}
                                        <div class="input-group product-hidden-input-wrapper product-dop-group">
                                            [[-<span class="input-group-btn">
                                                <button type="button" class="btn-number btn-minus" disabled="disabled" data-type="minus" data-field="count-{$id}">
                                                <span></span>
                                                </button>
                                            </span>]]
                                            <div class="input-product-val__minus">
                                                <img src="assets/template/images/newimages/minus.svg" alt="">
                                            </div>
                                            <input type="hidden" name="count" id="count-{$id}" class="form-control input-number value-input-prod" value="1" min="1" max="99">
                                            <input type="number" id="count-{$id}" class="form-control input-number fake-input-prod cart-dop-input" value="{$countproduct}" min="0" max="99">
                                            <div class="input-product-val__plus">
                                                <img src="assets/template/images/newimages/plus.svg" alt="">
                                            </div>
                                            [[-<span class="input-group-btn">
                                                <button type="button" class="btn-number btn-plus" data-type="plus" data-field="count-{$id}">
                                                <span></span>
                                                </button>
                                            </span>]]
                                        </div>
                                        {/if}
                                    </div>
                                    [[-<div>[[-!getcountproduct? &id=`[[+id]]`]]</div>]]
                                    {if $countproduct >=1}
                                    <button data-id="{$id}" class="cart-dop-button cart-btn cart-btn-desktop disable" type="submit" name="ms2_action" value="cart/add"><img class='mobile-pic-prod' src="assets/template/images/newimages/cart-2.svg" alt=""><span class="add-to-cart-span-2">Добавить</span><span class="add-to-cart-span-1">Добавить к заказу</span></button>
                                    [[-<button data-id="{$id}" class="cart-btn cart-btn-mobile disable" type="submit" name="ms2_action" value="cart/add"><img src="assets/template/images/newimages/cart-2.svg" alt=""></button>]]
                                    {else}
                                    <button data-id="{$id}" class="cart-dop-button cart-btn cart-btn-desktop" type="submit" name="ms2_action" value="cart/add"><img class='mobile-pic-prod' src="assets/template/images/newimages/cart-2.svg" alt=""><span class="add-to-cart-span-2">Добавить</span><span class="add-to-cart-span-1">Добавить к заказу</span></button>
                                    [[-<button data-id="{$id}" class="cart-btn cart-btn-mobile" type="submit" name="ms2_action" value="cart/add"><img src="assets/template/images/newimages/cart-2.svg" alt=""></button>]]
                                    {/if}
                                    <div data-id="{$id}" class="check-count-product hidden"></div>
                                </div>
                            </div>
                            </div>
                        </div>
                        
                                </form>
                </div>
            </div>