    {if $template == 4}
      <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="element relative">
                    <form method="post" class="ms2_form msoptionsprice-product">
                        <input type="hidden" name="id" value="{$id}">
                        <div class="inner">
                            <a class="product-img-wrapper" href="{$_modx->makeUrl($id)}">
                                <div class="img-wrapper">
                                     <img src="{$image}" alt="{$pagetitle}" />
                                </div>
                            </a>
                            <div class="element-content">
                                <a href="{$_modx->makeUrl($id)}">
                                    <div class="title">
                                        {$pagetitle}
                                    </div>
                                </a>
                                <div class="subtitle">
                                    {$content|truncate:60:'<span class="truncate-button">...</span>':$true:$false}
                                </div>
                                [[-<div class="mobile-element-bottom">
<div class="row min">
                                <div class="col-xs-5">
                                    <div class="element-price">{$price}  ₽</div>
                                </div>
                                <div class="col-xs-7 text-right">
                                    <div class="element-counter">
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn-number btn-minus" disabled="disabled" data-type="minus" data-field="count-{$id}">
                                                <span></span>
                                                </button>
                                            </span>
                                            <input type="text" name="count" id="count-{$id}" class="form-control input-number" value="1" min="1" max="99">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn-number btn-plus" data-type="plus" data-field="count-{$id}">
                                                <span></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    
                                    <button class="cart-btn" type="submit" name="ms2_action" value="cart/add">
                                        <img src="assets/template/images/newimages/cart-2.svg" alt="">
                                    </button>
                                </div>
                            </div>
                                </div>]]
                            </div>
                        </div>
                        <div class="element-bottom">
                        
                            <div class="push15"></div>
                            
                            <div class="row min">
                                <div class="col-xs-5">
                                    <div class="element-weight f13"></div>
                                    <div class="element-price">{$price} <i class="fa fa-rub" aria-hidden="true"></i></div>
                                </div>
                                <div class="col-xs-7 text-right product-count-wrapper">
                                    <div class="push8"></div>
                                            {set $countproduct = '!countproduct' | snippet : [
                                                'id' => $id
                                            ]}
                                    <div class="element-counter">
                                        {if $countproduct >=1}
                                        <div class="input-group product-hidden-input-wrapper active">
                                            [[-<span class="input-group-btn">
                                                <button type="button" class="btn-number btn-minus" disabled="disabled" data-type="minus" data-field="count-{$id}">
                                                <span></span>
                                                </button>
                                            </span>]]
                                            {if $countproduct == 1}
                                            <div class="input-product-val__minus">
                                                <img src="assets/template/images/newimages/x.svg" alt="">
                                            </div>
                                            {else}
                                            <div class="input-product-val__minus">
                                                <img src="assets/template/images/newimages/minus.svg" alt="">
                                            </div>
                                            {/if}
                                            <input type="hidden" name="count" id="count-{$id}" class="form-control input-number value-input-prod" value="1" min="1" max="99">
                                            <input type="number" id="count-{$id}" class="form-control input-number fake-input-prod" value="{$countproduct}" min="0" max="99">
                                            <div class="input-product-val__plus">
                                                <img src="assets/template/images/newimages/plus.svg" alt="">
                                            </div>
                                            [[-<span class="input-group-btn">
                                                <button type="button" class="btn-number btn-plus" data-type="plus" data-field="count-{$id}">
                                                <span></span>
                                                </button>
                                            </span>]]
                                        </div>
                                        {else}
                                        <div class="input-group product-hidden-input-wrapper">
                                            <div class="input-product-val__minus">
                                                <img src="assets/template/images/newimages/x.svg" alt="">
                                            </div>
                                            <input type="hidden" name="count" id="count-{$id}" class="form-control input-number value-input-prod" value="1" min="1" max="99">
                                            <input type="number" id="count-{$id}" class="form-control input-number fake-input-prod" value="{$countproduct}" min="0" max="99">
                                            <div class="input-product-val__plus">
                                                <img src="assets/template/images/newimages/plus.svg" alt="">
                                            </div>
                                            [[-<span class="input-group-btn">
                                                <button type="button" class="btn-number btn-plus" data-type="plus" data-field="count-{$id}">
                                                <span></span>
                                                </button>
                                            </span>]]
                                        </div>
                                        {/if}
                                    </div>
                                    [[-<div>[[-!getcountproduct? &id=`[[+id]]`]]</div>]]
                                    {if $countproduct >=1}
                                    <button data-id="{$id}" class="cart-btn cart-btn-desktop disable" type="submit" name="ms2_action" value="cart/add"><img class='mobile-pic-prod' src="assets/template/images/newimages/cart-2.svg" alt=""><span>В корзину</span></button>
                                    [[-<button data-id="{$id}" class="cart-btn cart-btn-mobile disable" type="submit" name="ms2_action" value="cart/add"><img src="assets/template/images/newimages/cart-2.svg" alt=""></button>]]
                                    {else}
                                    <button data-id="{$id}" class="cart-btn cart-btn-desktop" type="submit" name="ms2_action" value="cart/add"><img class='mobile-pic-prod' src="assets/template/images/newimages/cart-2.svg" alt=""><span>В корзину</span></button>
                                    [[-<button data-id="{$id}" class="cart-btn cart-btn-mobile" type="submit" name="ms2_action" value="cart/add"><img src="assets/template/images/newimages/cart-2.svg" alt=""></button>]]
                                    {/if}
                                    <div data-id="{$id}" class="check-count-product hidden"></div>
                                </div>
                            </div>
                        </div>
                                    <div class="element-text f13 white">{$id | resource : 'content'}</div>
                                </form>
                </div>
            </div>
            {/if}