<div class="product-buy-total-count" id="msMiniCart">
    <div class="empty text-center">
      <div class="ms2_total_cost">{$total_cost} </div>
    </div>
        
    <div class="not_empty text-center relative">
      <div class="ms2_total_cost">{$total_cost} </div>
    </div>
</div>
