{set $ismember = '!admin_security' | snippet : []}
{if $ismember}
<!DOCTYPE html>
<html lang="en">

[[-<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Davur - Restaurant Food Order Bootstrap Admin Dashboard</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/admin/images/favicon.png">
	<link href="/admin/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="/admin/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="/admin/css/style.css" rel="stylesheet">
	<link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">

</head>]]
[[$admin_head]]
<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        [[$admin_nav_header]]
        <!--**********************************
            Nav header end
        ***********************************-->
		
		<!--**********************************
            Header start
        ***********************************-->
        [[$admin_top_header]]
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        [[$admin_sidebar]]
        <!--**********************************
            Sidebar end
        ***********************************-->
		
		<!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
			<div class="container-fluid">
				<div class="form-head d-flex mb-3 align-items-start">
					<div class="mr-auto d-none d-lg-block">
						<h2 class="text-black font-w600 mb-0">{$_modx->resource.pagetitle}</h2>
					</div>
					<div class="dropdown custom-dropdown d-none">
						<button type="button" class="btn btn-primary light d-flex align-items-center svg-btn" data-toggle="dropdown" aria-expanded="false">
							<svg width="16" class="scale5" height="16" viewBox="0 0 22 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.16647 27.9558C9.25682 27.9856 9.34946 28.0001 9.44106 28.0001C9.71269 28.0001 9.97541 27.8732 10.1437 27.6467L21.5954 12.2248C21.7926 11.9594 21.8232 11.6055 21.6746 11.31C21.526 11.0146 21.2236 10.8282 20.893 10.8282H13.1053V0.874999C13.1053 0.495358 12.8606 0.15903 12.4993 0.042327C12.1381 -0.0743215 11.7428 0.0551786 11.5207 0.363124L0.397278 15.7849C0.205106 16.0514 0.178364 16.403 0.327989 16.6954C0.477614 16.9878 0.77845 17.1718 1.10696 17.1718H8.56622V27.125C8.56622 27.5024 8.80816 27.8373 9.16647 27.9558ZM2.81693 15.4218L11.3553 3.58389V11.7032C11.3553 12.1865 11.7471 12.5782 12.2303 12.5782H19.1533L10.3162 24.479V16.2968C10.3162 15.8136 9.92444 15.4218 9.44122 15.4218H2.81693Z" fill="#2F4CDD"/></svg>
							<span class="fs-16 ml-3">All Status</span>
							<i class="fa fa-angle-down scale5 ml-3"></i>
						</button>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" href="#">2020</a>
							<a class="dropdown-item" href="#">2019</a>
							<a class="dropdown-item" href="#">2018</a>
							<a class="dropdown-item" href="#">2017</a>
							<a class="dropdown-item" href="#">2016</a>
						</div>
					</div>
					<div class="dropdown custom-dropdown ml-3 d-none">
						<button type="button" class="btn btn-primary light d-flex align-items-center svg-btn" data-toggle="dropdown" aria-expanded="false">
							<svg width="16" height="16" class="scale5" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M22.4281 2.856H21.8681V1.428C21.8681 0.56 21.2801 0 20.4401 0C19.6001 0 19.0121 0.56 19.0121 1.428V2.856H9.71606V1.428C9.71606 0.56 9.15606 0 8.28806 0C7.42006 0 6.86006 0.56 6.86006 1.428V2.856H5.57206C2.85606 2.856 0.560059 5.152 0.560059 7.868V23.016C0.560059 25.732 2.85606 28.028 5.57206 28.028H22.4281C25.1441 28.028 27.4401 25.732 27.4401 23.016V7.868C27.4401 5.152 25.1441 2.856 22.4281 2.856ZM5.57206 5.712H22.4281C23.5761 5.712 24.5841 6.72 24.5841 7.868V9.856H3.41606V7.868C3.41606 6.72 4.42406 5.712 5.57206 5.712ZM22.4281 25.144H5.57206C4.42406 25.144 3.41606 24.136 3.41606 22.988V12.712H24.5561V22.988C24.5841 24.136 23.5761 25.144 22.4281 25.144Z" fill="#2F4CDD"/></svg>
							<span class="fs-16 ml-3">Today</span>
							<i class="fa fa-angle-down scale5 ml-3"></i>
						</button>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" href="#">Monday</a>
							<a class="dropdown-item" href="#">Tuesday</a>
							<a class="dropdown-item" href="#">Wednesday</a>
							<a class="dropdown-item" href="#">Thursday</a>
							<a class="dropdown-item" href="#">Friday</a>
							<a class="dropdown-item" href="#">Saturday</a>
							<a class="dropdown-item" href="#">Sunday</a>
						</div>
					</div>
				</div>
				{set $salesTable = '!getSegment' | snippet : []}
		{foreach $salesTable as $user}
        <input value="{$user.user_id}" class="hidden-input__user-id" type="hidden">
        {/foreach}
                <div id="accordion-one" class="accordion accordion-primary">
                                    <div class="accordion__item">
                                        <div class="accordion__header rounded-lg collapsed" data-toggle="collapse" data-target="#default_collapseOne">
                                            <span class="accordion__header--text">Фильтры</span>
                                            <span class="accordion__header--indicator"></span>
                                        </div>
                                        <div id="default_collapseOne" class=" accordion__body" data-parent="#accordion-one">
                                            <div class="group-filters row">
                            <div class="segment-group col-md-6">
                                <div class="segment group-title">
                                    Средний чек от
                                </div>
                                <input class="segment-input form-control input-default" value="{$.get.min_avg}"  id="min_avg" type="text">
                            </div>
                            <div class="segment-group col-md-6">
                                <div class="segment group-title">
                                    Средний чек до
                                </div>
                                <input class="segment-input form-control input-default" value="{$.get.max_avg}" id="max_avg" type="text">
                            </div>
                            <div class="segment-group col-md-6">
                                <div class="segment group-title">
                                    Сумма заказов от
                                </div>
                                <input class="segment-input form-control input-default " value="{$.get.min_sum}" id="min_sum" type="text">
                            </div>
                            <div class="segment-group col-md-6">
                                <div class="segment group-title">
                                     Сумма заказов до
                                </div>
                                <input class="segment-input form-control input-default " id="max_sum" value="{$.get.max_sum}" type="text">
                            </div>
                            <div class="segment-group  col-md-6">
                                <div class="segment group-title">
                                     Хоть одна из покупок на сумму минимум
                                </div>
                                <input class="segment-input form-control input-default " id="min_cartcost" value="{$.get.min_cartcost}" type="text">
                            </div>
                            <div class="segment-group col-md-6">
                                <div class="segment group-title">
                                     Хоть одна из покупок на сумму максимум
                                </div>
                                <input class="segment-input form-control input-default " id="max_cartcost" value="{$.get.max_cartcost}" type="text">
                            </div>
                            <div class="segment-group col-md-6">
                                <div class="segment group-title">
                                    Количество заказов от
                                </div>
                                <input class="segment-input form-control input-default " value="{$.get.min_count}" id="min_count" type="text">
                            </div>
                            <div class="segment-group col-md-6">
                                <div class="segment group-title">
                                    Количесто заказов до 
                                </div>
                                <input class="segment-input form-control input-default " value="{$.get.max_count}" id="max_count" type="text">
                            </div>
                            <div class="segment-group col-md-6">
                                <div class="segment group-title">
                                    За сколько последних дней брать информацию
                                </div>
                                <input class="segment-input form-control input-default " value="{$.get.days}" id="days" type="text">
                            </div>
                            <div class="segment-group col-md-6">
                                <div class="segment group-title">
                                    Пол
                                </div>
                                {set $gender = $.get.gender}
                                <div class="gender-input-wrapper">
                                    <input class="segment-input-gender" {if $gender == 1} checked {/if} name="gender" value="1" id="gender1" type="radio">
                                    <label for="gender1">Мужской</label>
                                </div>
                                <div class="gender-input-wrapper">
                                    <input class="segment-input-gender" {if $gender == 2} checked {/if} name="gender" value="2" id="gender2" type="radio">
                                    <label for="gender2">Женский</label>
                                </div>
                                <div class="gender-input-wrapper">
                                    <input class="segment-input-gender" {if !$gender} checked {/if} name="gender" value="" id="gender3" type="radio">
                                    <label for="gender3">Не выбрано</label>
                                </div>
                            </div>
                            <div class="segment-group col-md-6">
                                <div class="segment group-title">
                                    Дата покупки входит в диапазон от 
                                </div>
                                <input class="segment-input form-control input-default " value="{$.get.date_1}" id="date_1" type="datetime-local">
                            </div>
                            <div class="segment-group col-md-6">
                                <div class="segment group-title">
                                    Дата покупки входит в диапазон до 
                                </div>
                                <input class="segment-input form-control input-default " value="{$.get.date_2}" id="date_2" type="datetime-local">
                            </div>
                            <div class="segment-group col-md-6">
                                <div class="segment group-title">
                                    Сколько дней назад была последняя покупка, от Х дней  (от 3 дней) 
                                </div>
                                <input class="segment-input form-control input-default " value="{$.get.last_buy1}" id="last_buy1" type="text">
                            </div>
                            <div class="segment-group col-md-6">
                                <div class="segment group-title">
                                    Сколько дней назад была последняя покупка, до Y дней (до 30 дней)
                                </div>
                                <input class="segment-input form-control input-default " value="{$.get.last_buy2}" id="last_buy2" type="text">
                            </div>
                            <div class="segment-group col-md-6">
                                <div class="segment group-title">
                                    Возраст от
                                </div>
                                <input class="segment-input form-control input-default " value="{$.get.min_dob}" id="min_dob" type="text">
                            </div>
                            <div class="segment-group col-md-6">
                                <div class="segment group-title">
                                    Возраст до
                                </div>
                                <input class="segment-input form-control input-default " value="{$.get.max_dob}" id="max_dob" type="text">
                            </div>
                            <div class="segment-group col-md-6">
                                <div class="segment group-title">
                                    День рождения не более дней назад
                                </div>
                                <input class="segment-input form-control input-default " value="{$.get.birthday_1}" id="birthday_1" type="text">
                            </div>
                            <div class="segment-group col-md-6">
                                <div class="segment group-title">
                                    День рождения не более дней вперед
                                </div>
                                <input class="segment-input form-control input-default " value="{$.get.birthday_2}" id="birthday_2" type="text">
                            </div>
                            <div class="segment-group col-md-6">
                                {set $deliveryList = '!admin_deliveryObjects' | snippet : []}
                                <div class="segment group-title">
                                    Выбирал способы доставки:
                                </div>
                                <!-- input class="segment-input form-control input-default " value="{$.get.delivery_type}" id="delivery_type" type="text" -->
                                <select class="segment-input form-control input-default select-control " multiple name="delivery[]" id="delivery_type" type="text">
                                    <option disabled>Выберите значения</option>
                                    {foreach $deliveryList as $deliveryElement}
                                      <option value="{$deliveryElement.id}" {$deliveryElement.selected}>{$deliveryElement.title}</option>
                                    {/foreach}
                                </select>
                            </div>
                            <div class="segment-group col-md-6">
                                <div class="segment group-title">
                                    Клиент покупал продукты:
                                </div>
                                <input class="segment-input form-control input-default" placeholder="Поиск" value="" id="products" type="text">
                                <div class="selected-results">
                                    {set $selectedItems = $.get.products}
                                    {if $selectedItems}
                                    {set $selectedItems = $.php.explode(",", $selectedItems)}
                                    {foreach $selectedItems as $selectedItem}
                                        {'!msProducts' | snippet:[
                                        'resources' => $selectedItem,
                                        'tpl' => 'searchproduct1.tpl',
                                        'limit' => 10,
                                        'parents' => 0,
                                        'includeTVs' => 'img',
                                        'includeContent'=> 1,
                                        'sortby' => ''
                                        
                                        ]}
                                    {/foreach}
                                    {/if}
                                </div>
                                <div class="modal-results"></div>
                            </div>
                            <div class="segment-group col-md-6">
                                <div class="segment group-title">
                                    Номер телефона
                                </div>
                                <input class="segment-input form-control input-default " value="{$.get.phone}" id="phone" type="text">
                            </div>
                            <div class="segment-group col-md-6">
                                {set $restaurantstList = '!admin_restaurantsObjects' | snippet : []}
                                <div class="segment group-title">
                                    Выбирал ресторан:
                                </div>
                                <select class="segment-input form-control input-default " multiple name="restaurants[]" id="restaurants" type="text">
                                    <option disabled>Выберите значения</option>
                                    {foreach $restaurantstList as $restaurantsElement}
                                      <option value="{$restaurantsElement.id}" {$restaurantsElement.selected}>{$restaurantsElement.title}</option>
                                    {/foreach}
                                </select>
                            </div>
                            <div class="segment-group col-md-6">
                                {set $cityList = '!getCityList' | snippet : []}
                                <div class="segment group-title">
                                    Выберете доступный город:
                                </div>
                                <select class="segment-input form-control input-default " multiple name="cities[]" id="cities" type="text">
                                    <option disabled>Выберите значения</option>
                                    {foreach $cityList as $cityElement}
                                      <option value="{$cityElement.id}" {$cityElement.selected}>{$cityElement.pagetitle}</option>
                                    {/foreach}
                                </select>
                            </div>
                            
                            <div class="segment-group col-md-6">
                                {set $tagList = '!admin_tagObjects' | snippet : []}
                                <div class="segment group-title">
                                    Выберете тэг/стикер:
                                </div>
                                
                                <select class="segment-input form-control input-default select-control " multiple name="tags[]" id="tag_type" type="text">
                                    <option disabled>Выберите значения</option>
                                    {foreach $tagList as $tagElement}
                                      <option value="{$tagElement.id}" {$tagElement.selected}>{$tagElement.title}</option>
                                    {/foreach}
                                </select>
                            </div>
                            
                            [[-<div class="segment-group col-md-6">
                                <div class="segment group-title">
                                    Клиент покупал продукт 1
                                </div>
                                <input class="segment-input form-control input-default " value="{$.get.product_1}" id="product_1" type="text">
                            </div>
                            <div class="segment-group col-md-6">
                                <div class="segment group-title">
                                    Клиент покупал продукт 2
                                </div>
                                <input class="segment-input form-control input-default " value="{$.get.product_2}" id="product_2" type="text">
                            </div>
                            <div class="segment-group col-md-6">
                                <div class="segment group-title">
                                    Клиент покупал продукт 3
                                </div>
                                <input class="segment-input form-control input-default " value="{$.get.product_3}" id="product_3" type="text">
                            </div>
                            <div class="segment-group col-md-6">
                                <div class="segment group-title">
                                    Клиент покупал продукт 4
                                </div>
                                <input class="segment-input form-control input-default " value="{$.get.product_4}" id="product_4" type="text">
                            </div>]]
                            <div class="segment-group-btns">
                                <button type="button" class="btn btn-primary mb-2 segment-group-btn" data-toggle="modal" data-target="#savenewsettings">Сохранить новые настройки</button>
                                <button type="button" class="btn btn-primary mb-2 segment-group-btn" data-toggle="modal" data-target="#selectnewsettings">Выбрать/изменить настройки сегмента</button>
                                <button type="button" class="btn btn-primary mb-2 segment-group-btn" data-toggle="modal" data-target="#savenewsegment">Сохранить новый сегмент</button>
                                     {set $segmentSelectors = '!getSegmentSelectors' | snippet : []}
                                    <div class="dropdown btn btn-primary mb-2 segment-group-btn">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            Выбрать сегмент
                                        </button>
                                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 56px, 0px);">
                                            {foreach $segmentSelectors as $selector}
                                                <span class="dropdown-menu__element">
                                                    <a href="{$_modx->resource.id|url}?{$selector.segment_settings}" {if $.get.segment_id == $selector.segment_id} style="font-weight:bold;" {/if}  class="dropdown-item">{$selector.segment_name} </a>
                                                    <i class="fas fa-trash-alt deletesegment" title="Удалить" data-segment="{$selector.segment_id}" data-setting=""></i>
                                                </span>
                                            {/foreach}
                                        </div>
                                    </div>
                            </div>
					    </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btns">
                                    <button type="button" class="btns-btn segment-filter-btn btn btn-success">Фильтровать</button>
                                    <a class="btns-btn btn btn-danger" href="{$_modx->resource.id|url}">Сбросить</a>
                                </div>
                                <div class="send-push-to-segment-block">
                                <h2>Отправить пуш-уведомление сегменту</h2>
                                    <div class="row">
                                        <div class="segment-group col-md-5">
                                            <input class="segment-input form-control input-default " placeholder="Заголовок" id="push_title" type="text">
                                        </div>
                                        <div class="segment-group col-md-5">
                                            <input class="segment-input form-control input-default " placeholder="Сообщение" id="push_body" type="text">
                                        </div>
                                        <div class="segment-group col-md-2">
                                            <button type="button" class="btn btn-success send-push-now send-push-btn-wrapper">Отправить </button>
                                        </div>
                                    </div>
                                <h2>Массовая рассылка пуш-уведомлений</h2>
                                    <div class="row">
                                        <div class="segment-group col-md-5">
                                            <input class="segment-input form-control input-default " placeholder="Заголовок" id="all-push_title" type="text">
                                        </div>
                                        <div class="segment-group col-md-5">
                                            <input class="segment-input form-control input-default " placeholder="Сообщение" id="all-push_body" type="text">
                                        </div>
                                        <div class="segment-group col-md-2">
                                            <button type="button" class="btn btn-success send-push-now all-send-push-btn-wrapper">Отправить </button>
                                        </div>
                                    </div>
                            </div>
                <div class="row">
					<div class="col-12">
					    
						<div class="table-responsive">
							<table id="example5" class="display mb-4 dataTablesCard" style="min-width: 845px;">
								<thead>
									<tr>
										<th>Имя</th>
										<th>Телефон</th>
										<th>Первый заказ</th>
										<th>Последний заказ</th>
										<th>Кол-во заказов</th>
										<th>Средний чек</th>
										[[-<th>Тип доставки</th>]]
										<th>Общая сумма</th>
										<th>Сумма по параметрам</th>
									</tr>
								</thead>
								<tbody>
								    {foreach $salesTable as $item}
                                    [[-<pre>{$.php.json_encode($item)}</pre>]]
                                    <tr>
										<td>{$item.user_name}</td>
										<td>{$item.mobilephone}</td>
										<td>{$item.time_start}</td>
										<td>{$item.time_end}</td>
										<td>{$item.ord_count}</td>
										<td>{$item.ord_avg}</td>
										[[-<td>{$item.delivery_name}</td>]]
										<td>{$item.ord_sum}</td>
										<td>{$item.ord_sum2}</td>
									</tr>
									{/foreach}
								</tbody>
							</table>
						</div>
                    </div>
				</div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

        <!--**********************************
            Footer start
        ***********************************-->
        <div class="modal fade" id="savenewsettings" style="display: none;" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Cохранить настройки текущего сегмента</h5>
                                                    <button type="button" class="close" data-dismiss="modal"><span>×</span>
                                                    </button>
                                                </div>
                                                  <div class="modal-body">
                                                    <div class="form-group-segment">
                                                        <label for="savename">Название</label>
                                                    <input id="savename" type="text" class="save-settings-segment-input form-control input-default">
                                                    </div>
                                                    <div class="form-group-segment">
                                                        <label for="savecomment">Комментарий</label>
                                                    <input id="savecomment" type="text" class="save-settings-segment-input form-control input-default">
                                                    </div>
                                                  </div>
                                                  <div class="modal-footer">
                                                     <button type="button" class="btn light btn-primary segment-add-settings-btn">Сохранить</button>
                                                  </div>
                                            </div>
                                        </div>
                                    </div>
        <div class="modal fade" id="savenewsegment" style="display: none;" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Cохранить новый сегмент</h5>
                                                    <button type="button" class="close" data-dismiss="modal"><span>×</span>
                                                    </button>
                                                </div>
                                              <div class="modal-body">
                                                <div class="form-group-segment">
                                                    <label for="newsegment_name">Название</label>
                                                <input id="newsegment_name" type="text" class="form-control input-default">
                                                </div>
                                              </div>
                                              <div class="modal-footer">
                                                <button type="button" class="add-segment-btn btn light btn-primary">Сохранить</button>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
        <div class="modal fade" id="selectnewsettings" style="display: none;" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Cохранить настройки текущего сегмента</h5>
                                                    <button type="button" class="close" data-dismiss="modal"><span>×</span>
                                                    </button>
                                                </div>
      <div class="modal-body">
          {set $segmentSettings = '!getSegmentSettings' | snippet : []}
          {foreach $segmentSettings as $setting}
          {if $setting.segment_id != 0}
          <div data-id="{$setting.segment_id}" class="segment-setting-group-wrapper">
              <div title="{$setting.segment_comment}" class="segment-setting-group">
                <div class="segment-setting">
                    {$setting.segment_name}
                </div>
                <div class="segment-setting">
                    {$setting.segment_createdon}
                </div>
                <div class="segment-setting segment-get-params">{$setting.segment_settings}</div>
              </div>
              <div class="segment-setting-change">
                    Изменить
                </div>
              <div class="segment-setting-delete">
                    Удалить
                </div>
              
          </div>
          {/if}
          {/foreach}
      </div>
                                            </div>
                                        </div>
                                    </div>
        <div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="http://dexignzone.com/" target="_blank">DexignZone</a> 2020</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

		<!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="/admin/vendor/global/global.min.js"></script>
	<script src="/admin/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="/admin/js/custom.min.js"></script>
	<script src="/admin/js/deznav-init.js"></script>
	<script src="/admin/vendor/chart.js/Chart.bundle.min.js"></script>
	
	<!-- Datatable -->
    <script src="/admin/vendor/datatables/js/jquery.dataTables.min.js"></script>
	<script src="/admin/vendor/apexchart/apexchart.js"></script>
	<script>
	(function($) {
	 
		var table = $('#example5').DataTable({
			searching: false,
			paging:true,
			select: false,
			//info: false,         
			lengthChange:false 
			
		});
		$('#example tbody').on('click', 'tr', function () {
			var data = table.row( this ).data();
			
		});
	   
	})(jQuery);
	</script>
<script>
    $(document).ready(function() { 
        jsonObj = [];
        var string123 = "";
        $('.segment-filter-btn').on('click', function(){
            var params = window
                .location
                .search
                .replace('?','')
                .split('&')
                .reduce(
                    function(p,e){
                        var a = e.split('=');
                        p[ decodeURIComponent(a[0])] = decodeURIComponent(a[1]);
                        return p;
                    },
                    {}
                );
            var segment_id= params['segment_id'];
            $('.segment-input').each(function(){
                var title = $(this).attr('id');
                var val = $(this).val();
                if(String(title) != "undefined") {
                    jsonObj[title] = val;
                    string123=string123+"&"+title+"="+val;
                    console.log(title + " = " + val);
                }
            });
            $('.segment-input-gender').each(function(){
                    if ($(this).prop('checked')){
                    var title = $(this).attr('name');
                    var val = $(this).val();
                    string123 = string123+"&"+title+"="+val;
                }
            });
            if (segment_id){
                string123 = string123+"&segment_id="+segment_id;
            }
            var prods = [];
            $(".res-prod-selected").each(function(){
                prods.push($(this).data("id"));
                [[-prods = prods+$(this).data("id")+" ";]]
            });
           [[- for (var i=0;i<prods.length;i++){
                string123 = string123+"&product"+i+"="+prods[i];
            }]]
            string123 = string123+"&products="+prods;
            [[-console.log(string123);]]
            var newlocation = "[[++site_url]]{$_modx->resource.alias}"+".html?"+string123;
            $(location).attr('href',newlocation);
        });
        var usersArray = [];
        $('.secret-input-btn').on('click', function(){
            var id_promo = $('.secret-input__promo-id').val();
            $('.hidden-input__user-id').each(function(){
                var user = $(this).val();
                usersArray.push(user);
            });
            for (var i=0;i<usersArray.length;i++){
                $.get(
                    "[[++site_url]]/changepromobase.html",
                    {
                     "action":"secret", 
                     "id_promo": id_promo, 
                     "id_user":usersArray[i]
                    },
                    onSuccess
                );
            }
            usersArray = [];
        });
        function onSuccess(data){
            data = JSON.parse(data);
            miniShop2.Message.success(data.response_text);
        }
        $('.segment-setting-change').on('click', function(){
            $('.segment-input').each(function(){
                var title = $(this).attr('id');
                var val = $(this).val();
                jsonObj[title] = val;
                string123=string123+"&"+title+"="+val;
            });
            $('.segment-input-gender').each(function(){
                    if ($(this).prop('checked')){
                    var title = $(this).attr('name');
                    var val = $(this).val();
                    string123 = string123+"&"+title+"="+val;
                }
            });
            var setting_id = $(this).parent().data('id');
                $.get(
                    "[[++site_url]]/segmentsettings.html",
                    {
                     "action":"change",
                     "setting_id":setting_id,
                     "settings":string123
                    },
                    onChangeSegmentSetting
                );
        });
        function onChangeSegmentSetting(data){
            if (data){
                var newlocation = "[[++site_url]]{$_modx->resource.alias}"+".html?"+data;
                $(location).attr('href',newlocation);
            }
        }
        $('.segment-setting-delete').on('click', function(){
            var setting_id = $(this).parent().data('id');
                $.get(
                    "[[++site_url]]/segmentsettings.html",
                    {
                     "action":"delete",
                     "setting_id":setting_id
                    },
                    onDeleteSegmentSetting
                );
        });
        function onDeleteSegmentSetting(data){
            if (data){
                $("[data-id="+data+"]").fadeOut();
            }
        }
        $('.segment-setting-group').on('click', function(){
            var setting_id = $(this).parent().data("id");
            var text = $(this).find('.segment-get-params').text();
            var newlocation = "[[++site_url]]{$_modx->resource.alias}"+".html?"+text+"&setting_id="+setting_id;
            $(location).attr('href',newlocation);
        });
        $('.select-segment-btn').on('click', function(){
            if ($(".select-segments-id").hasClass('active')){
                $('.select-segments-id').removeClass('active');
            } else {
                $('.select-segments-id').addClass('active');
            }
        });
        $('.add-segment-btn-modal').on('click', function(){
            $('.add-segment-modal-wrapper').addClass('active');
        });
        $('.add-segment-modal-close').on('click', function(){
            $('.add-segment-modal-wrapper').removeClass('active');
        });
        $('.segment-add-settings-modal').on('click', function(){
            $('.save-settings-modal-wrapper').addClass('active');
        });
        $('.save-settings-modal-close').on('click', function(){
            $('.save-settings-modal-wrapper').removeClass('active');
        });
        $('.segment-select-settings-btn').on('click', function(){
            $('.select-settings-modal-wrapper').addClass('active');
        });
        $('.select-settings-modal-close').on('click', function(){
            $('.select-settings-modal-wrapper').removeClass('active');
        });
        $(".segment-add-settings-btn").on('click', function(){
            $('.segment-input').each(function(){
                var title = $(this).attr('id');
                var val = $(this).val();
                jsonObj[title] = val;
                string123=string123+"&"+title+"="+val;
            });
            $('.segment-input-gender').each(function(){
                    if ($(this).prop('checked')){
                    var title = $(this).attr('name');
                    var val = $(this).val();
                    string123 = string123+"&"+title+"="+val;
                }
            });
            var name = $('#savename').val();
            var comment = $('#savecomment').val();
                $.get(
                    "[[++site_url]]/segmentsettings.html",
                    {
                     "action":"save",
                     "name":name,
                     "comment":comment,
                     "settings":string123
                    },
                    onSaveSegmentSetting
                );
        });
        function onSaveSegmentSetting(data){
            if (data){
                var url = window.location.href;
                console.log(url);
                if(url.indexOf('setting_id') < 0) {
                    url = url + '&setting_id=' + data;
                    console.log(url);
                    document.location.href = url;
                } else {
                    location.reload();
                }
            }
        }
        $('.add-segment-btn').on('click', function(){
            var params = window
                .location
                .search
                .replace('?','')
                .split('&')
                .reduce(
                    function(p,e){
                        var a = e.split('=');
                        p[ decodeURIComponent(a[0])] = decodeURIComponent(a[1]);
                        return p;
                    },
                    {}
                );
            var setting_id = params['setting_id'];
            var segment_name = $('#newsegment_name').val();
            console.log(setting_id + " - " + segment_name);
            $.get(
                "[[++site_url]]/segmentusers.html",
                {
                 "action":"add",
                 "setting_id":setting_id,
                 "name": segment_name
                },
                onAddSegment
            );
        });
        function onAddSegment (data){
        console.log(data);
            var usersArray = [];
            $('.hidden-input__user-id').each(function(){
                var user = $(this).val();
                usersArray.push(user);
            });
            for (var i=0;i<usersArray.length;i++){
                $.get(
                    "[[++site_url]]/segmentusers.html",
                    {
                     "action":"updatebase",
                     "user_id":usersArray[i],
                     "segment_id":data
                    },
                    onUpdateBase
                );
            }
        }
        function onUpdateBase(data){
            if (data){
                location.reload();
            }
        }
        $('.dropdown-item_delete').on('click', function(){
            var segment_id = $(this).data('segmentid');
            $.get(
                "[[++site_url]]/segmentusers.html",
                {
                 "action":"delete",
                 "segment_id":segment_id
                },
                onDeleteSegment
            );
        });
        function onDeleteSegment(data){
            if (data){
                $("[data-segmentid="+data+"]").parent().fadeOut();
            }  
        }
        $('.segment-message-input').on('click',function(){
            if ($(this).parent().find('.send-message-variants').hasClass('active')){
                $(this).parent().find('.send-message-variants').removeClass('active');
            } else {
                $(this).parent().find('.send-message-variants').addClass('active');
            }
        });
        $('.message-item').on('click', function(){
            var text = $(this).text();
            var channelid = $(this).data('channelid');
            $(this).parent().parent().find('.send-message-hidden-input').val(channelid);
            $(this).parent().parent().find('.segment-message-input').text(text);
            $(this).parent().removeClass('active');
        });
        $('.send-messages-btn').on('click', function(){
            channel = $('.channel-input').val();
            message = $('.message-input').val();
            userid = $('.current-user-id').val();
            var params = window
                .location
                .search
                .replace('?','')
                .split('&')
                .reduce(
                    function(p,e){
                        var a = e.split('=');
                        p[ decodeURIComponent(a[0])] = decodeURIComponent(a[1]);
                        return p;
                    },
                    {}
                );
            var segment_id= params['segment_id'];
                $.get(
                    "[[++site_url]]/sendmessages.html",
                    {
                        "action":"save",
                        "user_id":userid,
                        "segment_id":segment_id,
                        "message_id":message,
                        "channel":channel
                    },
                    onSaveMessagesSegment
                    );
        });
        function onSaveMessagesSegment(data){
            miniShop2.Message.success('Рассылка добавлена');
            $('.send-messages-btn').hide();
            $('.send-messages-btn-now').show();
        }
        $('.send-messages-btn-now').on('click',function(){
            $.get(
                "[[++site_url]]/sendmessages.html",
                {
                    "action":"send"
                },
                onSendMessagesSegment
                );
        });
        function onSendMessagesSegment(data){
            miniShop2.Message.success('Рассылка отправлена');
        }
    });
</script>
<script>
    $(document).ready(function(){
        $('.send-push-btn-wrapper').on('click', function(){
            var title = $('#push_title').val();
            var desc = $('#push_body').val();
            var pic = $('#push-pic').val();
            var link = $('#push-link').val();
            var usersArray = [];
            $('.hidden-input__user-id').each(function(){
                var user = $(this).val();
                usersArray.push(user);
            });
            $.get(
                "[[++site_url]]/send-push-to-segment.html",
                {
                    "pic":pic,
                    "title":title,
                    "desc":desc,
                    "link":link,
                    "users":usersArray
                },
                onPic
            );
                    function onPic(data){
                    console.log(data);
                    }
        });
    });
</script>
<script>
    $('.save-xls-btn').on('click', function(){
            var params = window
                .location
                .search
                .replace('?','')
                .split('&')
                .reduce(
                    function(p,e){
                        var a = e.split('=');
                        p[ decodeURIComponent(a[0])] = decodeURIComponent(a[1]);
                        return p;
                    },
                    {}
                );
            var segment_id= params['segment_id'];
            $.get(
                "[[++site_url]]/getsegmentxls.html",
                {
                    "segment_id":segment_id
                },
                onSuccessConvert
            );
            function onSuccessConvert(data){
                window.location.href = data;
            }
    });
</script>
<script>
    $(function(){
        $('#products').on('input', function(){
        var keys = $(this).val();
        console.log(keys);
        if (keys.length>2){
            $('.modal-results').slideDown();
            $.get('[[++site_url]]/searchproducts.html?query='+encodeURIComponent(keys), function(result){
                $('.modal-results').html(result);
                $(".hover-trigger").on("click", function(){
                    let test = $(this).data("id");
                    $("<div class='res-prod-selected selected-res"+test+"' data-id='"+$(this).data("id")+"'></div>").appendTo(".selected-results");
                    $('.selected-res'+test).html($(this).html());
                    $('.modal-results').slideUp();
                }); 
            });
        }
        else{
            $('.modal-results').slideUp();
        }
    });
    });
</script>
<script>
    $(".all-send-push-btn-wrapper").on("click", function(){
            var title = $('#all-push_title').val();
            var body = $("#all-push_body").val();
            $.get(
                "[[++site_url]]/send-push-to-segment.html",
                {
                    "action":"all",
                    "title": title,
                    "body": body
                },
                onPic
            );
                    function onPic(data){
                    console.log(data);
                    }
    });
    
    $('.dropdown-menu__element').on("click",".deletesegment",function(){
        let dataEdit = {};
        dataEdit["segment_id"] = $(this).attr("data-segment");
        
        $.ajax({
            type: "POST",
            headers: {
                'x-api-token':'htug9ji0oqpr329442u891q3sdasw'
            },
            url: "/api/admin/deleteSegment",
            data: JSON.stringify(dataEdit),
            success: function(data){
                //console.log(data);
                if(data['id']) {
                    //$.jGrowl(data['message'], { theme: 'saccess'});
                    $(".deletesegment[data-segment=" + data['id'] + "]").parent().addClass("d-none");
                }
                
            },
            error: function(errMsg) {
                
            }
        });
    });
</script>
</body>
</html>
{/if}