<!DOCTYPE html>
<html lang="en" class="h-100">

[[$admin_head]]

<body class="h-100">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
<div class="auth-form form-auth">
                                    <h4 class="text-center mb-4">Вход в систему {$_modx->user.id}</h4>
                                        <div class="form-group">
                                            <div style="display:none;">[[!msMiniCart]]</div>
                                            <label class="mb-1"><strong>Логин</strong></label>
                                            <input type="text" class="form-control" id="username" name="username" value="">
                                            <input class="loginLoginValue" type="hidden" name="service" value="login" />
                                        </div>
                                        <div class="form-group">
                                            <label class="mb-1"><strong>Пароль</strong></label>
                                            <input type="password" id="password" name="password" class="form-control" value="Password">
                                        </div>
                                        <div class="form-row d-flex justify-content-between mt-4 mb-2">
                                            <div class="form-group">
                                               <div class="custom-control custom-checkbox ml-1">
													<input type="checkbox" class="custom-control-input" id="basic_checkbox_1">
													<label class="custom-control-label" for="basic_checkbox_1">Remember my preference</label>
												</div>
                                            </div>
                                            <div class="form-group">
                                                <a href="page-forgot-password.html">Forgot Password?</a>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" id="loginbtn" class="btn btn-primary btn-block">Sign Me In</button>
                                        </div>
                                    
                                    <div class="new-account mt-3">
                                        <p>Don't have an account? <a class="text-primary" href="./page-register.html">Sign up</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    -

    <script src="/admin/vendor/global/global.min.js"></script>
	<script src="/admin/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="/admin/js/custom.min.js"></script>
    <script src="/admin/js/deznav-init.js"></script>
    <script src="/assets/template/js/jquery.min.js"></script>
    <script>
    $('#loginbtn').on('click', function(){
        var mail = $('#username').val();
        var password = $('#password').val();
        var data = {};
        data["mail"] = mail;
        data["password"] = password;
        var settings = {
          "async": true,
          "crossDomain": true,
          "url": "[[++site_url]]api/admin/login",
          "method": "POST",
          "headers": {
            "x-api-token": "[[++x-api-token]]",
            "content-type": "application/json",
            "cache-control": "no-cache"
          },
          "processData": false,
          "data": JSON.stringify(data)
        }
        
        $.ajax(settings).done(function (response) {
                        if (response == 1){
                            var url = "[[++site_url]]/admin-panel.html";
                            $(location).attr('href',url);
                        } else {
                            miniShop2.Message.error(response);
                        }
        });
        });
    </script>
</body>

</html>