{set $ismember = '!admin_security' | snippet : []}
{if $ismember}
<!DOCTYPE html>
<html lang="en">

[[$admin_head]]

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        [[$admin_nav_header]]
		<div style="display:none;">[[!msMiniCart]]</div>
		
        <!--**********************************
            Header start
        ***********************************-->
        [[$admin_top_header]]
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->
        [[$admin_sidebar]]

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                
                <div class="tab-list">
                    <div class="tab-list_element active" data-block="tab-block-1">
                        Основные промокоды
                    </div>
                    <div class="tab-list_element" data-block="tab-block-2">
                        Реферальные промокоды
                    </div>
                    <div class="tab-list_element" data-block="tab-block-3">
                        Промокоды на день рождения
                    </div>
                </div>
                <!-- row -->
                
                <div class="tab-block active" id="tab-block-1">
                    <h2>Основные промокоды</h2>
                    <div class="row">
    					<div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">{$_modx->resource.pagetitle} </h4>
                                    <div class="card-add-promocode btn light btn-primary" data-toggle="modal" data-target="#addPromoModal">Добавить промокод</div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-responsive-md">
                                            <thead>
                                                <tr>
                                                    <th style="width:50px;">
    													<div class="custom-control custom-checkbox checkbox-success check-lg mr-3">
    														<input type="checkbox" class="custom-control-input" id="checkAll" required="">
    														<label class="custom-control-label" for="checkAll"></label>
    													</div>
    												</th>
                                                    <th><strong>Id</strong></th>
                                                    <th><strong>Название</strong></th>
                                                    <th><strong>Доступ</strong></th>
                                                    <th><strong>Окончание</strong></th>
                                                    <th><strong>Исп./Всего</strong></th>
                                                    <th><strong>Индивидуальный</strong></th>
                                                    <th><strong>Статус</strong></th>
                                                </tr>
                                            </thead>
                                            {set $promocodes = '!admin_getPromocodes' | snippet : []}
                                            
                                            <tbody data-base="PromoBase">
                                                {foreach $promocodes as $promocode}
                                                <tr class="tr-code-{$promocode.id_promo}" data-id="{$promocode.id_promo}">
                                                    <td>
    													<div class="custom-control custom-checkbox checkbox-success check-lg mr-3">
    														<input type="checkbox" class="custom-control-input" id="customCheckBox{$promocode.id_promo}" required="">
    														<label class="custom-control-label" for="customCheckBox{$promocode.id_promo}"></label>
    													</div>
    												</td>
                                                    <td><strong>{$promocode.id_promo}</strong></td>
                                                    <td><div class="d-flex align-items-center"><img src="{$promocode.image}" class="rounded-lg mr-2" width="24" alt=""/> <span class="w-space-no">{$promocode.name}</span></div></td>
                                                    {if $promocode.availability == 1}
                                                        <td>Общий</td>
                                                    {else}
                                                        <td>Персональный</td>
                                                    {/if}
                                                    <td>{$promocode.new_date_end}</td>
                                                    <td>{if $promocode.availability != 2 && $promocode.user_only == 0}{$promocode.already_used}/{/if}{$promocode.use_count}</td>
                                                    {if $promocode.user_only == 1}
                                                        <td><span class="text-success">Да</span> <a href="#" class="btn show-user-list-btn" data-toggle="modal" data-target="#promoModalList" data-id="{$promocode.id_promo}"><i class="fas fa-bars"></i></a></td>
                                                    {else}
                                                        <td><span class="text-danger">Нет</span> {if $promocode.availability == 2}<a href="#" class="btn show-user-list-btn" data-toggle="modal" data-target="#promoModalList" data-id="{$promocode.id_promo}"><i class="fas fa-bars"></i></a>{/if}</td>
                                                    {/if}
                                                    {if $promocode.activity == 1}
                                                        <td><div class="d-flex align-items-center"><i class="fa fa-circle text-success mr-1"></i> Активен</div></td>
                                                    {else}
                                                        <td><div class="d-flex align-items-center"><i class="fa fa-circle text-danger mr-1"></i> Заблокирован</div></td>
                                                    {/if}
                                                    <td>
    													<div class="d-flex">
    														<a href="#" data-toggle="modal" data-target="#promoModal{$promocode.id_promo}" class="btn btn-primary shadow btn-xs sharp mr-1 promo-btn-data get-data-btn" data-id="{$promocode.id_promo}"><i class="fas fa-pencil-alt"></i></a>
    														<a href="#" data-id="{$promocode.id_promo}" class="remove-code btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
    													</div>
    												</td>
                                                </tr>
                                                {/foreach}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div> [[-]]
                    </div>
                </div>
                
                <div class="tab-block" id="tab-block-2">
                    <h2>Реферальные промокоды</h2>
                    <p>Контент в разработке (Блок 2)</p>
                </div>
                <div class="tab-block" id="tab-block-3">
                    <h2>Промокоды на день рождения</h2>
                    
                    
                    <div class="row">
    					<div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Настройка параметров промокода на день рождения</h4>
                                    <!-- div class="card-add-promocode btn light btn-primary" data-toggle="modal" data-target="#addPromoModal">Добавить промокод</div -->
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive-1">
                                        <form action="" id="form-birthday-setting">
                                            <div class="row">
                                                
                                                <label class="form-birthday-setting__title col-12">
                                                    <span><strong>Картинка</strong> к промокоду на день рождения:</span><br>
                                                    <small>Добавьте картинку которая будет отображаться для данного вида промокода</small><br>
                                                    <input class="form-setting-promo" type="text" name="birthday_image" value="{$_modx->config.app_birthday_image}"></label>
                                                <label class="form-birthday-setting__title col-12 col-md-4">
                                                    <span>За сколько дней <strong>ДО</strong> дня рождения:<br></span>
                                                    <small>Укажите количество дней до дня рождения, в течении кторого будет действовать промокод (числом)</small><br>
                                                    <input class="form-setting-promo" type="text" name="birthday_days_before" value="{$_modx->config.app_birthday_days_before}"></label>
                                                <label class="form-birthday-setting__title col-12 col-md-4">
                                                    <span>На сколько дней <strong>ПОСЛЕ</strong> дня рождения:<br></span>
                                                    <small>Укажите количество дней после дня рождения, в течении кторого будет действовать промокод (числом)</small><br>
                                                    <input class="form-setting-promo" type="text" name="birthday_days_after" value="{$_modx->config.app_birthday_days_after}"></label>
                                                <label class="form-birthday-setting__title col-12 col-md-4">
                                                    <span><strong>Количество</strong> применений пользователем:<br></span>
                                                    <small style="display: inline-block; min-height: 42.5px">Укажите сколько раз пользователь может применить свой промокод</small><br>
                                                    <input class="form-setting-promo" type="text" name="birthday_count" value="{$_modx->config.app_birthday_count}"></label>
                                                    
                                                <label class="form-birthday-setting__title col-12 col-md-6">
                                                    <span><strong>Название</strong> которое будет отображаться:<br></span>
                                                    <small>Укажите название для промокодов на день рождения</small><br>
                                                    <input class="form-setting-promo" type="text" name="birthday_name" value="{$_modx->config.app_birthday_name}"></label>
                                                <label class="form-birthday-setting__title col-12 col-md-6">
                                                    <span><strong>Описание</strong> которое будет отображаться:<br></span>
                                                    <small>Укажите описание для промокодов на день рождения</small><br>
                                                    <textarea class="form-setting-promo" type="text" name="birthday_description">{$_modx->config.app_birthday_description}</textarea></label>
                                                
                                                <div class="col-12"><h4>Тип промокода на день рождения:</h4></div>
                                                <label class="form-birthday-setting__title col-12 col-md-4">
                                                    <input type="radio" name="birthday_promo_type" value="2" {if $_modx->config.app_birthday_promo_type == 2}checked{/if}> Товар в подарок</label>
                                                <label class="form-birthday-setting__title col-12 col-md-4">
                                                    <input type="radio" name="birthday_promo_type" value="1" {if $_modx->config.app_birthday_promo_type == 1}checked{/if}> Скидка в процентах</label>
                                                <label class="form-birthday-setting__title col-12 col-md-4">
                                                    <input type="radio" name="birthday_promo_type" value="5" {if $_modx->config.app_birthday_promo_type == 5}checked{/if}> Скидка в рублях</label>
                                                <label class="form-birthday-setting__title col-12 ">
                                                    <div class="type_value_block" data-type="type-{$_modx->config.app_birthday_promo_type}">
                                                        <span class="type-2">Укажите ID товара в подарок (числом):<br></span>
                                                        <span class="type-1">Укажите величину скидки в процентах (числом):<br></span>
                                                        <span class="type-5">Укажите величину скидки в рублях (числом):<br></span>
                                                    </div>
                                                    
                                                    <input class="form-setting-promo" type="text" name="birthday_promo_type_value" value="{$_modx->config.app_birthday_promo_type_value}"></label>    
                                                
                                            </div>
                                            
                                            <div class="btn btn-primary">Применить изменения</div>
                                            
                                        </form>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="row">
    					<div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Настройка параметров промокода на день рождения</h4>
                                    <!-- div class="card-add-promocode btn light btn-primary" data-toggle="modal" data-target="#addPromoModal">Добавить промокод</div -->
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive-1">
                        
                        
                                        <table class="table table-responsive-md">
                                            <thead>
                                                <tr>
                                                    <th style="width:50px;">
    													<div class="custom-control custom-checkbox checkbox-success check-lg mr-3">
    														<input type="checkbox" class="custom-control-input" id="checkAll" required="">
    														<label class="custom-control-label" for="checkAll"></label>
    													</div>
    												</th>
                                                    <th><strong>Id</strong></th>
                                                    <th><strong>Название</strong></th>
                                                    <th><strong>Доступ</strong></th>
                                                    <th><strong>Окончание</strong></th>
                                                    <th><strong>Исп./Всего</strong></th>
                                                    <th><strong>Индивидуальный</strong></th>
                                                    <th><strong>Статус</strong></th>
                                                </tr>
                                            </thead>
                                            <tbody data-base="PromoBase">
                                                {set $promocodesBD = '!admin_getPromocodes' | snippet : ["action" => "BD"]}
                                                
                                                {foreach $promocodesBD as $promocode}
                                                <tr class="tr-code-{$promocode.id_promo}" data-id="{$promocode.id_promo}">
                                                    <td>
    													<div class="custom-control custom-checkbox checkbox-success check-lg mr-3">
    														<input type="checkbox" class="custom-control-input" id="customCheckBox{$promocode.id_promo}" required="">
    														<label class="custom-control-label" for="customCheckBox{$promocode.id_promo}"></label>
    													</div>
    												</td>
                                                    <td><strong>{$promocode.id_promo}</strong></td>
                                                    <td><div class="d-flex align-items-center"><img src="{$promocode.image}" class="rounded-lg mr-2" width="24" alt=""/> <span class="w-space-no">{$promocode.name}</span></div></td>
                                                    {if $promocode.availability == 1}
                                                        <td>Общий</td>
                                                    {else}
                                                        <td>Персональный</td>
                                                    {/if}
                                                    <td>{$promocode.new_date_end}</td>
                                                    <td>{if $promocode.availability != 2 && $promocode.user_only == 0}{$promocode.already_used}/{/if}{$promocode.use_count}</td>
                                                    {if $promocode.user_only == 1}
                                                        <td><span class="text-success">Да</span> <a href="#" class="btn show-user-list-btn" data-toggle="modal" data-target="#promoModalList" data-id="{$promocode.id_promo}"><i class="fas fa-bars"></i></a></td>
                                                    {else}
                                                        <td><span class="text-danger">Нет</span> {if $promocode.availability == 2}<a href="#" class="btn show-user-list-btn" data-toggle="modal" data-target="#promoModalList" data-id="{$promocode.id_promo}"><i class="fas fa-bars"></i></a>{/if}</td>
                                                    {/if}
                                                    {if $promocode.activity == 1}
                                                        <td><div class="d-flex align-items-center"><i class="fa fa-circle text-success mr-1"></i> Активен</div></td>
                                                    {else}
                                                        <td><div class="d-flex align-items-center"><i class="fa fa-circle text-danger mr-1"></i> Заблокирован</div></td>
                                                    {/if}
                                                    <td>
    													<div class="d-flex">
    														<!-- a href="#" data-toggle="modal" data-target="#promoModal{$promocode.id_promo}" class="btn btn-primary shadow btn-xs sharp mr-1 promo-btn-data get-data-btn" data-id="{$promocode.id_promo}"><i class="fas fa-pencil-alt"></i></a -->
    														<!-- a href="#" data-id="{$promocode.id_promo}" class="remove-code btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a -->
    													</div>
    												</td>
                                                </tr>
                                                {/foreach}
                                            </tbody>
                                        </table>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="http://dexignzone.com/" target="_blank">DexignZone</a> 2020</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->

        
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
  





</body>
{foreach $promocodes as $promocode}
    <div class="modal fade code-modal" id="promoModal{$promocode.id_promo}">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Промокод {$promocode.code}</h5>
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="col-xl-12 col-lg-12">
                        <div class="card">
                            <div class="card-body parent-form">
                                <div class="basic-form">
                                    <div class="form-group row align-center">
                                        <label class="col-sm-3 col-form-label">Название</label>
                                        <div class="col-sm-9">
                                            <input type="text" data-name="name" class="form-control code-{$promocode.id_promo}" value="{$promocode.name}">
                                        </div>
                                    </div>
                                </div>
                                <div class="basic-form">
                                    <div class="form-group row align-center">
                                        <label class="col-sm-3 col-form-label">Описание</label>
                                        <div class="col-sm-9">
                                            <textarea data-name="description" class="form-control code-{$promocode.id_promo}" rows="7">{$promocode.description}</textarea>
                                            [[-<input type="text" data-name="description" class="form-control code-{$promocode.id_promo}" value="{$promocode.description}">]]
                                        </div>
                                    </div>
                                </div>
                                <div class="basic-form">
                                    <div class="form-group row align-center">
                                        <label class="col-sm-3 col-form-label">Доступен</label>
                                        <div class="col-sm-9 avail-parent" data-parent="promo-for">
                                            <div data-name="availability" data-id="1" class="code-{$promocode.id_promo} btn avail-type {if $promocode.availability == 1} active {/if}" style="margin-right: 10px;">Для всех</div>
                                            <div data-name="availability" data-id="2" class="code-{$promocode.id_promo} btn avail-type {if $promocode.availability == 2} active {/if}">Персональный</div>
                                            <div data-name="availability" data-id="3" class="code-{$promocode.id_promo} btn avail-type {if $promocode.availability == 3} active {/if}">На неавторизованных</div>
                                        </div>
                                    </div>
                                </div>
                                
                                {set $segmentSelectors = '!getSegmentSelectors' | snippet : [
                                    'id_promo' => $promocode.id_promo
                                ]}
                                
                                <div class="select-segments-form {if $promocode.availability != 2}hidden{/if}" data-idcheck="2">
                                    <div class="select-segments-form-segment">
                                        <select class="segment-input form-control input-default get-value-select" multiple name="restaurants[]" id="segment{$promocode.id_promo}" type="text" data-values="">
                                            <option value="">Выберете сегмент c пользователями</option>
                                            {foreach $segmentSelectors as $selector}
                                                <option {if $selector.active} selected {/if} value="{$selector.segment_name}">{$selector.segment_name}</option>
                                            {/foreach}
                                        </select>
                                    </div>
                                    <div data-id="{$promocode.id_promo}" class="select-segments-form-btn btn">
                                        Добавить
                                    </div>
                                </div>
                                
                                <div class="basic-form">
                                    <div class="form-group row align-center">
                                        <label class="col-sm-3 col-form-label">Статус</label>
                                        <div class="col-sm-9 avail-parent">
                                            <div data-name="activity" data-id="1" class="code-{$promocode.id_promo} btn activity-type {if $promocode.activity == 1} active {/if}" style="margin-right: 10px;">Активный</div>
                                            <div data-name="activity" data-id="0" class="code-{$promocode.id_promo} btn activity-type {if $promocode.activity == 0} active {/if}">Заблокирован</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="basic-form">
                                    <div class="form-group row align-center">
                                        <label class="col-sm-3 col-form-label">Промокод</label>
                                        <div class="col-sm-9">
                                            <input type="text" data-name="code"  class="form-control code-{$promocode.id_promo}" value="{$promocode.code}">
                                            <div class="custom-control custom-checkbox mb-3 code-count-box">
											    <input data-name="user_use_count" type="checkbox" {if $promocode.user_use_count == 1} checked {/if} class="custom-control-input code-{$promocode.id_promo}" id="userUseCount{$promocode.code}">
											    <label class="custom-control-label" for="userUseCount{$promocode.code}">Нельзя применить дважды одному и тому же пользователю</label>
										    </div>
										    <div class="custom-control custom-checkbox mb-3 code-count-box">
											    <input data-name="use_count_in_check" type="checkbox" {if $promocode.use_count_in_check == 1} checked {/if} class="custom-control-input code-{$promocode.id_promo}" id="useCountInCheck{$promocode.code}">
											    <label class="custom-control-label" for="useCountInCheck{$promocode.code}">Нельзя применить в коризне дважды</label>
										    </div>
										    <div class="custom-control custom-checkbox mb-3 code-count-box">
											    <input data-name="user_only" type="checkbox" {if $promocode.user_only == 1} checked {/if} class="custom-control-input code-{$promocode.id_promo}" id="userOnly{$promocode.code}">
											    <label class="custom-control-label" for="userOnly{$promocode.code}">Индивидуальный подсчёт для пользователя</label>
										    </div>
										    <div class="custom-control custom-checkbox mb-3 code-count-box">
											    <input data-name="user_hidden" type="checkbox" {if $promocode.user_hidden == 1} checked {/if} class="custom-control-input code-{$promocode.id_promo}" id="userHidden{$promocode.code}">
											    <label class="custom-control-label" for="userHidden{$promocode.code}">Скрыть в приложении</label>
										    </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="basic-form">
                                    <div class="form-group row align-center">
                                        <label class="col-sm-3 col-form-label">Дата начала акции</label>
                                        <div class="col-sm-9">
                                            <input name="datepicker" data-name="date_start" value="{$promocode.date_start}" class="datepicker-default form-control picker__input picker__input--active code-{$promocode.id_promo}" id="datepicker{$promocode.code}" readonly="" aria-haspopup="true" aria-expanded="true" aria-readonly="false" aria-owns="datepicker_root">
                                        </div>
                                    </div>
                                </div>
                                <div class="basic-form">
                                    <div class="form-group row align-center">
                                        <label class="col-sm-3 col-form-label">Дата конца акции</label>
                                        <div class="col-sm-9">
                                            <input name="datepicker" data-name="date_end" value="{$promocode.new_date_end}" class="datepicker-default form-control picker__input picker__input--active code-{$promocode.id_promo}" id="datepicker{$promocode.code}" readonly="" aria-haspopup="true" aria-expanded="true" aria-readonly="false" aria-owns="datepicker_root">
                                        </div>
                                    </div>
                                </div>
                                <div class="basic-form">
                                    <div class="form-group row align-center">
                                        <label class="col-sm-3 col-form-label">Сколько раз можно использовать</label>
                                        <div class="col-sm-9">
                                            <input type="text" data-name="use_count" class="form-control code-{$promocode.id_promo}" value="{$promocode.use_count}">
                                        </div>
                                    </div>
                                </div>
                                <div class="basic-form">
                                    {set $deliveryList = '!admin_deliveryObjects' | snippet : [
                                        'id_promo' => $promocode.id_promo
                                    ]}
                                    <div class="form-group row align-center">
                                        <div class="segment group-title col-sm-3 col-form-label">
                                            Способы доставки:
                                        </div>
                                        <div class="col-sm-9">
                                            <select class="segment-input form-control input-default select-control code-{$promocode.id_promo}" data-name="order_types" multiple name="delivery[]" id="order_types" type="text">
                                                <option disabled>Выберите значения</option>
                                                {foreach $deliveryList as $deliveryElement}
                                                    <option value="{$deliveryElement.id}" {$deliveryElement.selected}>{$deliveryElement.title}</option>
                                                {/foreach}
                                                </optgroup>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="basic-form">
                                    {set $organisationList = '!admin_organisationObjects' | snippet : [
                                        'id_promo' => $promocode.id_promo
                                    ]}
                                    <div class="form-group row align-center">
                                        <div class="segment group-title col-sm-3 col-form-label">
                                            Организации:
                                        </div>
                                        <div class="col-sm-9">
                                            <select class="segment-input form-control input-default select-control code-{$promocode.id_promo}" data-name="orgs" multiple name="organisation[]" id="org_types" type="text">
                                                <option disabled>Выберите организацию</option>
                                                {$checkOptgroup = 0}
                                                {foreach $organisationList as $organisatioElement}
                                                    {if $organisatioElement.tag == "optgroup"}
                                                        {if $checkOptgroup == 1}</optgroup>{/if}
                                                        <optgroup label="{$organisatioElement.title}">
                                                        {$checkOptgroup = 1}
                                                    {else}
                                                        <option value="{$organisatioElement.id}" {$organisatioElement.selected}>{$organisatioElement.title}</option>
                                                    {/if}
                                                {/foreach}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="basic-form row align-center">
                                    <label class="col-sm-3 col-form-label">Тип промокода</label>
                                    <div class="col-sm-9 avail-parent" data-parent="type-promo">
                                        <div data-name="type" data-id="2" class="add-code-placeholder btn avail-type promo-type-edit {if $promocode.id_product}active{/if}" style="margin-right: 10px;">Подарок</div>
                                        <div data-name="type" data-id="5" class="add-code-placeholder btn avail-type promo-type-edit {if $promocode.child_discount_rub}active{/if}">Скидка в рублях</div>
                                        <div data-name="type" data-id="1" class="add-code-placeholder btn avail-type promo-type-edit {if $promocode.child_discount}active{/if}">Скидка в процентах</div>
                                    </div>
                                </div>
                                
                                <div class="basic-form type-block {if !$promocode.child_discount}hidden{/if}" data-idchecktype="1">
                                    <div class="form-group row align-center">
                                        <label class="col-sm-3 col-form-label">Скидка на заказ</label>
                                        <div class="col-sm-9">
                                            <input type="text" data-name="child_discount" class="form-control check-input code-{$promocode.id_promo}" value="{$promocode.child_discount}">
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="basic-form type-block {if !$promocode.child_discount_rub}hidden{/if}" data-idchecktype="5">
                                    <div class="form-group row align-center">
                                        <label class="col-sm-3 col-form-label">Скидка в рублях</label>
                                        <div class="col-sm-9">
                                            <input type="text" data-name="child_discount_rub" class="form-control check-input code-{$promocode.id_promo}" value="{$promocode.child_discount_rub}">
                                        </div>
                                    </div>
                                </div>
                                
                                
                                <div class="basic-form type-block {if !$promocode.id_product}hidden{/if}" data-idchecktype="2">
                                    <div class="form-group row align-center">
                                        <label class="col-sm-3 col-form-label">Id продукта в подарок</label>
                                        <div class="col-sm-9">
                                            <input type="text" data-name="id_product" class="form-control d-none check-input code-{$promocode.id_promo}" value="{$promocode.id_product}">
                                            <div class="input-search-block">
                                                <input type="text" class="input-search form-control" data-for="id_product" data-id="{$promocode.id_promo}" data-table="modx_site_content" data-search="pagetitle" value="[[#{$promocode.id_product}.pagetitle]]" placeholder="Введите что-то для поиска">
                                                <div class="product-list elements-list-{$promocode.id_promo}" data-forlist="id_product"></div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="basic-form">
                                    <div class="form-group row align-center">
                                        <label class="col-sm-3 col-form-label">Минимальная сумма заказа</label>
                                        <div class="col-sm-9">
                                            <input type="text" data-name="min_cart_cost" class="form-control code-{$promocode.id_promo}" value="{$promocode.min_cart_cost}">
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="basic-form">
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input data-name="image" class="photo-dir code-{$promocode.id_promo}" type="hidden">
                                            <input data-id="{$promocode.id_promo}" accept="image/*" type="file" class="file-drop custom-file-input">
                                            <label class="custom-file-label">Выберите фотографию</label>
                                        </div>
    								</div>
    								<div class="loder-items-title loder-items-title-{$promocode.id_promo}">
    								    Фотография добавлена
    								</div>
    								<div class="loader-items loader-items-{$promocode.id_promo}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-dismiss="modal">Закрыть</button>
                    <button data-id2="{$promocode.id_promo}" data-id="code-{$promocode.id_promo}" type="button" class="btn btn-primary save-promocode">Сохранить</button>
                </div>
            </div>
        </div>
    </div>

{/foreach}
[[-Модальное окно для вывода списка пользователей]]
<div class="modal fade code-modal" id="promoModalList">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Список пользователей которым использовали промокод:</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="">
                    <table id="user-promo-list">
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger light" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
                    
<div class="modal fade code-modal" id="addPromoModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Добавить промокод</h5>
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="col-xl-12 col-lg-12">
                        <div class="card">
                            <div class="card-body parent-form">
                                <div class="basic-form">
                                    <div class="form-group row align-center">
                                        <label class="col-sm-3 col-form-label">Тип промокода</label>
                                        <div class="col-sm-9 avail-parent">
                                            <div data-name="type" data-id="2" class="add-code-placeholder btn promo-type" style="margin-right: 10px;">Подарок</div>
                                            <div data-name="type" data-id="5" class="add-code-placeholder btn promo-type">Скидка в рублях</div>
                                            <div data-name="type" data-id="1" class="add-code-placeholder btn promo-type">Скидка в процентах</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="basic-form discount-block-parent d-none">
                                    <div class="form-group row align-center">
                                        <label class="col-sm-3 col-form-label">Скидка на заказ</label>
                                        <div class="col-sm-9">
                                            <input type="text" data-name="child_discount" class="form-control add-code-placeholder child_discount">
                                        </div>
                                    </div>
                                </div>
                                <div class="basic-form discount-rub-block-parent d-none">
                                    <div class="form-group row align-center">
                                        <label class="col-sm-3 col-form-label">Скидка в рублях</label>
                                        <div class="col-sm-9">
                                            <input type="text" data-name="child_discount_rub" class="form-control add-code-placeholder child_discount_rub">
                                        </div>
                                    </div>
                                </div>
                                <div class="basic-form gift-block-parent d-none">
                                    <div class="form-group row align-center">
                                        <label class="col-sm-3 col-form-label">Id продукта в подарок</label>
                                        <div class="col-sm-9">
                                            <input type="text" data-name="id_product" class="form-control add-code-placeholder id_product">
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="basic-form">
                                    <div class="form-group row align-center">
                                        <label class="col-sm-3 col-form-label">Название</label>
                                        <div class="col-sm-9">
                                            <input type="text" data-name="name" class="form-control add-code-placeholder" value="Название">
                                        </div>
                                    </div>
                                </div>
                                <div class="basic-form">
                                    <div class="form-group row align-center">
                                        <label class="col-sm-3 col-form-label">Описание</label>
                                        <div class="col-sm-9">
                                            <textarea data-name="description" class="form-control add-code-placeholder" rows="7" placeholder="Небольшое описание"></textarea>
                                            [[-<input type="text" data-name="description" class="form-control add-code-placeholder" value="Небольшое описание">]]
                                        </div>
                                    </div>
                                </div>
                                <div class="basic-form">
                                    <div class="form-group row align-center">
                                        <label class="col-sm-3 col-form-label">Доступен</label>
                                        <div class="col-sm-9 avail-parent" data-parent="promo-for-main">
                                            <div data-name="availability" data-id="1" class="add-code-placeholder btn avail-type active" style="margin-right: 10px;">Для всех</div>
                                            <div data-name="availability" data-id="2" class="add-code-placeholder btn avail-type">Персональный</div>
                                            <div data-name="availability" data-id="3" class="add-code-placeholder btn avail-type">Для неавторизованных</div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="basic-form">
                                    {set $segmentSelectorsMain = '!getSegmentSelectors' | snippet : []}
                                    
                                    <div class="select-segments-form hidden" data-idcheck="2">
                                        <div class="select-segments-form-segment col-sm-9 offset-sm-3">
                                            <select class="segment-input form-control input-default add-code-placeholder" multiple data-name="segments" name="segments[]" id="segment-main" type="text">
                                                <option value="">Выберете сегмент c пользователями</option>
                                                {foreach $segmentSelectorsMain as $selectorMain}
                                                    <option value="{$selectorMain.segment_name}">{$selectorMain.segment_name}</option>
                                                {/foreach}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="basic-form">
                                    <div class="form-group row align-center">
                                        <label class="col-sm-3 col-form-label">Статус</label>
                                        <div class="col-sm-9 avail-parent">
                                            <div data-name="activity" data-id="1" class="add-code-placeholder btn activity-type active" style="margin-right: 10px;">Активный</div>
                                            <div data-name="activity" data-id="0" class="add-code-placeholder btn activity-type ">Заблокирован</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="basic-form">
                                    <div class="form-group row align-center">
                                        <label class="col-sm-3 col-form-label">Промокод</label>
                                        <div class="col-sm-9">
                                            <input type="text" data-name="code"  class="form-control add-code-placeholder" value="Уникальное название">
                                            <div class="custom-control custom-checkbox mb-3 code-count-box">
											    <input data-name="user_use_count" type="checkbox"  checked class="custom-control-input add-code-placeholder" id="addcodeuserusecount">
											    <label class="custom-control-label" for="addcodeuserusecount">Нельзя применить дважды одному и тому же пользователю</label>
										    </div>
										    <div class="custom-control custom-checkbox mb-3 code-count-box">
											    <input data-name="use_count_in_check" type="checkbox" checked class="custom-control-input add-code-placeholder" id="useCountInCheck-new">
											    <label class="custom-control-label" for="useCountInCheck-new">Нельзя применить в коризне дважды</label>
										    </div>
										    <div class="custom-control custom-checkbox mb-3 code-count-box">
											    <input data-name="user_only" type="checkbox" checked class="custom-control-input add-code-placeholder" id="userOnly-new">
											    <label class="custom-control-label" for="userOnly-new">Индивидуальный подсчёт для пользователя</label>
										    </div>
										    <div class="custom-control custom-checkbox mb-3 code-count-box">
											    <input data-name="user_hidden" type="checkbox" class="custom-control-input add-code-placeholder" id="userHidden-new">
											    <label class="custom-control-label" for="userHidden-new">Скрыть в приложении</label>
										    </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="basic-form">
                                    <div class="form-group row align-center">
                                        <label class="col-sm-3 col-form-label">Дата начала акции</label>
                                        <div class="col-sm-9">
                                            <input name="datepicker" data-name="date_start" class="datepicker-default form-control picker__input picker__input--active add-code-placeholder" id="datepickerstart" readonly="" aria-haspopup="true" aria-expanded="true" aria-readonly="false" aria-owns="datepicker_root">
                                        </div>
                                    </div>
                                </div>
                                <div class="basic-form">
                                    <div class="form-group row align-center">
                                        <label class="col-sm-3 col-form-label">Дата конца акции</label>
                                        <div class="col-sm-9">
                                            <input name="datepicker" data-name="date_end"  class="datepicker-default form-control picker__input picker__input--active add-code-placeholder" id="datepickerend" readonly="" aria-haspopup="true" aria-expanded="true" aria-readonly="false" aria-owns="datepicker_root">
                                        </div>
                                    </div>
                                </div>
                                <div class="basic-form">
                                    <div class="form-group row align-center">
                                        <label class="col-sm-3 col-form-label">Сколько раз можно использовать</label>
                                        <div class="col-sm-9">
                                            <input type="text" data-name="use_count" class="form-control add-code-placeholder">
                                        </div>
                                    </div>
                                </div>
                                <div class="basic-form">
                                    {set $deliveryList = '!admin_deliveryObjects' | snippet : [
                                        'id_promo' => $promocode.id_promo
                                    ]}
                                    <div class="form-group row align-center">
                                        <div class="segment group-title col-sm-3 col-form-label">
                                            Способы доставки:
                                        </div>
                                        <div class="col-sm-9">
                                            <select class="form-control input-default add-code-placeholder" data-name="order_types" multiple name="delivery[]" id="order_types" type="text">
                                                <option disabled>Выберите значения</option>
                                                {foreach $deliveryList as $deliveryElement}
                                                    <option value="{$deliveryElement.id}" {$deliveryElement.selected}>{$deliveryElement.title}</option>
                                                {/foreach}
                                                </optgroup>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="basic-form">
                                    {set $organisationList = '!admin_organisationObjects' | snippet : [
                                        'id_promo' => $promocode.id_promo
                                    ]}
                                    <div class="form-group row align-center">
                                        <div class="segment group-title col-sm-3 col-form-label">
                                            Организации:
                                        </div>
                                        <div class="col-sm-9">
                                            <select class="form-control input-default add-code-placeholder" data-name="orgs" multiple name="organisation[]" id="org_types" type="text">
                                                <option disabled>Выберите организацию</option>
                                                {$checkOptgroup = 0}
                                                {foreach $organisationList as $organisatioElement}
                                                    {if $organisatioElement.tag == "optgroup"}
                                                        {if $checkOptgroup == 1}</optgroup>{/if}
                                                        <optgroup label="{$organisatioElement.title}">
                                                        {$checkOptgroup = 1}
                                                    {else}
                                                        <option value="{$organisatioElement.id}" {$organisatioElement.selected}>{$organisatioElement.title}</option>
                                                    {/if}
                                                {/foreach}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="basic-form">
                                    <div class="form-group row align-center">
                                        <label class="col-sm-3 col-form-label">Минимальная сумма заказа</label>
                                        <div class="col-sm-9">
                                            <input type="text" data-name="min_cart_cost" class="form-control add-code-placeholder">
                                        </div>
                                    </div>
                                </div>
                                <div class="basic-form">
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input data-name="image" class="photo-dir add-code-placeholder add-code-placeholder-input" type="hidden">
                                            <input data-id="{$promocode.id_promo}" accept="image/*" type="file" class="file-drop-newcode custom-file-input">
                                            <label class="custom-file-label">Выберите фотографию</label>
                                        </div>
    								</div>
    								<div class="loder-items-title loder-items-title-add-code-placeholder">
    								    Фотография добавлена
    								</div>
    								<div class="loader-items loader-items-add-code-placeholder"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-dismiss="modal">Закрыть</button>
                    <button  type="button" class="btn btn-primary save-new-promocode">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
<div class="alert alert-success alert-dismissible fade success-changes">
									<svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg>	
									<strong>Принято!</strong> Сохранения изменены.
									<button type="button" class="close h-100" data-dismiss="alert" aria-label="Close"><span><i class="mdi mdi-close"></i></span>
                                    </button>
								</div>
    <script src="/admin/vendor/moment/moment.min.js"></script>
    <script src="/admin/vendor/global/global.min.js"></script>
	<script src="/admin/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="/admin/vendor/chart.js/Chart.bundle.min.js"></script>
    <script src="/admin/js/custom.min.js"></script>
	<script src="/admin/js/deznav-init.js"></script>
    <script src="/admin/vendor/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <script src="/admin/vendor/moment/moment.min.js"></script>
    <script src="/admin/vendor/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- clockpicker -->
    <script src="/admin/vendor/clockpicker/js/bootstrap-clockpicker.min.js"></script>
    <!-- asColorPicker -->
    <script src="/admin/vendor/jquery-asColor/jquery-asColor.min.js"></script>
    <script src="/admin/vendor/jquery-asGradient/jquery-asGradient.min.js"></script>
    <script src="/admin/vendor/jquery-asColorPicker/js/jquery-asColorPicker.min.js"></script>
    <!-- Material color picker -->
    <script src="/admin/vendor/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <!-- pickdate -->
    <script src="/admin/vendor/pickadate/picker.js"></script>
    <script src="/admin/vendor/pickadate/picker.time.js"></script>
    <script src="/admin/vendor/pickadate/picker.date.js"></script>
    <script src="assets/components/ajaxform/js/lib/jquery.jgrowl.min.js"></script>


    <!-- Daterangepicker -->
    <script src="/admin/js/plugins-init/bs-daterange-picker-init.js"></script>
    <!-- Clockpicker init -->
    <script src="/admin/js/plugins-init/clock-picker-init.js"></script>
    <!-- asColorPicker init -->
    <script src="/admin/js/plugins-init/jquery-asColorPicker.init.js"></script>
    <!-- Material color picker init -->
    <script src="/admin/js/plugins-init/material-date-picker-init.js"></script>
    <!-- Pickdate -->
    <script src="/admin/js/plugins-init/pickadate-init.js"></script>
	<!-- Apex Chart -->
	<script src="/admin/vendor/apexchart/apexchart.js"></script>
	
	<script>
	    $(".tab-list").on("click",".tab-list_element",function(){
	        $(".tab-list_element").removeClass("active");
	        $(this).addClass("active");
	        $(".tab-block").removeClass("active");
	        $("#" + $(this).attr("data-block")).addClass("active");
	    });
	    
	    $("body").on("click","#form-birthday-setting .btn",function(){
	        let dataMass = {};
	        
	        $('.form-setting-promo').each(function(i,elem) {
            	dataMass["app_" + $(elem).attr("name")] = $(elem).val();
            	if($(elem).attr("name") == "birthday_description") dataMass["app_" + $(elem).attr("name")] = $(elem).text();
            });
            dataMass["app_birthday_promo_type"] = $('input[name="birthday_promo_type"]:checked').val();
            
            $.ajax({
                type: "POST",
                headers: {
                    'x-api-token':'htug9ji0oqpr329442u891q3sdasw'
                },
                url: "[[++site_url]]api/admin/saveOptionsBD",
                data: JSON.stringify(dataMass),
                success: function(data){
                     $.jGrowl(data['message'], { theme: 'saccess'});
                }
            });
	    });
	    
	    $("body").on("click","input[name=birthday_promo_type]",function(){
	        let type = $(this).attr("value");
	        $(".type_value_block").attr("data-type","type-" + type);
	    });
	    
	</script>
	
	<script>
	    $(".remove-code").on("click",function(){
	        let delcode = {};
	        delcode["id"] = $(this).data("id");
                var settings = {
                  "async": true,
                  "crossDomain": true,
                  "url": "[[++site_url]]api/admin/removePromo",
                  "method": "POST",
                  "headers": {
                    "content-type": "application/json",
                    "cache-control": "no-cache",
                    "x-api-token": "[[++x-api-token]]"
                  },
                  "processData": false,
                  "data":  JSON.stringify(delcode)
                }
                
                $.ajax(settings).done(function (response) {
                  if (response){
                  console.log(response);
                      $('.success-changes').addClass("show");
                      $(".tr-code-"+response).fadeOut();
                    }
                });
	    });
	</script>
	<script>
	    // скрипт получения списка пользователей для данного промокода
	    $("body").on("click",".show-user-list-btn",function(){
	        let dataExp = {};
    	    dataExp["promo_id"] = $(this).attr("data-id");
    	    
    	    $.ajax({
                type: "POST",
                headers: {
                    'x-api-token':'htug9ji0oqpr329442u891q3sdasw'
                },
                url: "[[++site_url]]api/admin/getPromoUserList",
                data: JSON.stringify(dataExp),
                success: function(data){
                    console.log(data);
                    $("#user-promo-list tbody").html(data);
                }
            });
        });
	    // скрипт на получение актуальных данных в модальное окно промокда
	    $("body").on("click",".promo-btn-data",function(){
	        let dataExp = {};
    	    dataExp["promo_id"] = $(this).attr("data-id");
    	    
    	    $.ajax({
                type: "POST",
                headers: {
                    'x-api-token':'htug9ji0oqpr329442u891q3sdasw'
                },
                url: "[[++site_url]]api/admin/getPromoData",
                data: JSON.stringify(dataExp),
                success: function(data){
                    //console.log(data);
                    
                    for (key in data) {
                        //console.log(key + ": " + data[key]);
                        
                        switch(key){
                            case "availability":
                                $("#promoModal" + data["id"] + " *[data-name=" + key + "]").removeClass("active");
                                $("#promoModal" + data["id"] + " *[data-name=" + key + "][data-id=" + data[key] + "]").addClass("active");
                            break;
                            case "activity":
                                $("#promoModal" + data["id"] + " *[data-name=" + key + "]").removeClass("active");
                                $("#promoModal" + data["id"] + " *[data-name=" + key + "][data-id=" + data[key] + "]").addClass("active");
                            break;
                            default:
                                let element = $("#promoModal" + data["id"] + " *[data-name=" + key + "]");
                                element.val(data[key]).attr("value");
                                if(element.prop("tagName") == "SELECT") {
                                    let checkedList = data[key].split(","); // 
                                    
                                    //console.log(key);
                                    console.log(checkedList);
                                    
                                    $("#promoModal" + data["id"] + " select[data-name=" + key + "] option").prop('selected', false);
                                    $("#promoModal" + data["id"] + " select[data-name=" + key + "]").val(checkedList).attr("value",checkedList);
                                    
                                    console.log("Что лежит в поле: " + $("#promoModal" + data["id"] + " select[data-name=" + key + "]").val());
                                    
                                    checkedList = data[key].split(",");
                                    
                                    for (num in checkedList) {
                                        if (checkedList[num] != "") {
                                            console.log("#promoModal" + data["id"] + " select[data-name=" + key + "] option[value=" + checkedList[num] + "]");
                                            
                                            //$("#promoModal" + data["id"] + " select[data-name=" + key + "] option[value=" + checkedList[num] + "]").prop('selected', true);
                                            
                                            //$("#promoModal1004 select[data-name=order_types] option[value=2]").prop('selected', true);
                                            //$("#promoModal1004 select[data-name=order_types] option[value=3]").prop('selected', true);
                                        }
                                        
                                        //element.parent().children(".dropdown-menu").find(".dropdown-menu li:nth-child(" + checkedList[num] + ")").addClass('selected').find(".dropdown-item").addClass("selected");
                                    }
                                } else {
                                    $("#promoModal" + data["id"] + " *[data-name=" + key + "]").val(data[key]).attr("value",data[key]);
                                }
                                
                            break;
                        }
                        
                        
                    }
                    
                    //$.jGrowl(data['message'], { theme: 'saccess'}); // sticky: true,
                },
                error: function(errMsg) {
                    
                }
            });
    	});
    	// получаем список выбранных элементов что бы сохранить
    	$("body").on("click",".get-value-select + button",function(){
    	    let values = $(this).parent().children(".input-default").val();
    	    $(this).parent().children(".input-default").attr("data-values",values)
    	    //console.log(values);
    	});
    	
        $('.file-drop').on('change', function(){
        	files = this.files;
        	dataid = $(this).data("id");
        	let newfile = files[0].name;
        	var data = new FormData();
        	$.each( files, function( key, value ){
        		data.append( key, value );
        	});
        	data.append( 'my_file_upload', 1 );
	$.ajax({
		url         : '[[++site_url]]add-photo.json',
		type        : 'POST', // важно!
		data        : data,
		cache       : false,
		dataType    : 'json',
		// отключаем обработку передаваемых данных, пусть передаются как есть
		processData : false,
		// отключаем установку заголовка типа запроса. Так jQuery скажет серверу что это строковой запрос
		contentType : false, 
		// функция успешного ответа сервера
		success     : function( respond, status, jqXHR ){

			// ОК - файлы загружены
			if( typeof respond.error === 'undefined' ){
				// выведем пути загруженных файлов в блок '.ajax-reply'
				var files_path = respond.files;
				var html = '';
				$.each( files_path, function( key, val ){
					 html += val +'<br>';
				} )
                let filedir = "[[++site_url]]uploads/"+newfile;
                $("<img src="+filedir+">").appendTo(".loader-items-"+dataid);
                $(".loder-items-title-"+dataid).show();
                $(".photo-dir.code-"+dataid).val(filedir);
			}
			// ошибка
			else {
				console.log('ОШИБКА: ' + respond.data );
			}
		},
		// функция ошибки ответа сервера
		error: function( jqXHR, status, errorThrown ){
			console.log( 'ОШИБКА AJAX запроса: ' + status, jqXHR );
		}

	});
        });
	</script>
    <script>
        $('.avail-type').on('click', function(){
            let parent = $(this).parent().attr("data-parent"); 
            $('.avail-parent[data-parent=' + parent + ']' + ' .avail-type').each(function(){
                $(this).removeClass('active');
            });
            $(this).addClass('active');
            
            let idCheck = $(this).attr("data-id");
            let parentElem = $(this).closest(".parent-form");
            if(idCheck == 2){
                parentElem.find("div[data-idcheck=2]").removeClass("hidden");
            } else {
                parentElem.find("div[data-idcheck=2]").addClass("hidden");
            };
        });
        $('.promo-type').on('click', function(){
            $('.promo-type').each(function(){
                $(this).removeClass('active');
            });
            $(this).addClass('active');
            if ($(this).data("id") == 1){
                $(".gift-block-parent").addClass("d-none");
                $('.discount-rub-block-parent').addClass("d-none");
                $('.discount-block-parent').removeClass("d-none");
                $(".id_product").val("");
                $(".child_discount_rub").val("");
            } else if ($(this).data("id") == 2){
                $(".gift-block-parent").removeClass("d-none");
                $('.discount-block-parent').addClass("d-none");
                $('.discount-rub-block-parent').addClass("d-none");
                $('.child_discount').val("");
                $(".child_discount_rub").val("");
            } else if ($(this).data("id") == 5){
                $(".gift-block-parent").addClass("d-none");
                $('.discount-rub-block-parent').removeClass("d-none");
                $('.discount-block-parent').addClass("d-none");
                $(".id_product").val("");
                $('.child_discount').val("");
            }
        });
        $('.basic-form').on("click",".promo-type-edit",function(){
            $('.basic-form .promo-type-edit').removeClass("active");
            $(this).addClass("active");
            let id = $(this).attr("data-id");
            
            $(".type-block").addClass("hidden");
            
            $(".basic-form[data-idchecktype=" + id + "]").removeClass("hidden");
        });
        $('.basic-form').on("blur",".check-input",function(){
            let text = $(this).val();
            
            if(text != "") {
                let id = $(this).closest(".basic-form").attr("data-idchecktype");
                $(".basic-form:not([data-idchecktype=" + id + "]) .check-input").val("").attr("value","");
                $(".basic-form:not([data-idchecktype=" + id + "]) .input-search-block input").val("").attr("value","");
                console.log("фокус снят: " + id + "(.basic-form:not([data-idchecktype=" + id + "]) .check-input)");
            }
            
        });
        
        // Функция для подгрузки списка элементов
        function getList(element) {
        
            let str = element.val();
            let idElem = element.attr("data-id");
            
            if (str.length >= 3) {
                
                let data = {};
    
                data['bd'] = element.attr("data-table");
                data['search'] = element.attr("data-search");
                data['text'] = str;
                
                //console.log(data);
                $.ajax({
                    type: "POST",
                    headers: {
                        'x-api-token':'htug9ji0oqpr329442u891q3sdasw'
                    },
                    url: "[[!++site_url]]api/admin/getElementsList",
                    data: JSON.stringify(data),
                    success: function(data){
                        //console.log(data);
                        if(data != "<ul></ul>") {
                            $(".elements-list-" + idElem).html(data).addClass("show");
                        } else {
                            $(".elements-list-" + idElem).addClass("show").html("Товар не найден");
                        }
                    },
                    error: function(errMsg) {
                        
                    }
                });
                
            } else {
                $(".elements-list-" + idElem).removeClass("show").html("");
            }
          
        }
        // отслеживание заполнение INPUT поля
        $('.input-search').on('input keyup', function(e) {
            let element = $(this);
            getList(element);
        });
        // отслеживание заполнение INPUT поля
        $('body').on('click',".input-search", function(e) {
            let element = $(this);
            getList(element);
        });
        
        // получаем элемент из списка и передаём в поля
        $('body').on('click', '.product-list__element', function() {
            let idProduct = $(this).attr("data-elementid");
            let nameInput = $(this).closest(".product-list").attr("data-forlist");
            let title = $(this).text();
            let id = $(this).closest(".basic-form").attr("data-idchecktype");
            console.log(idProduct + " - " + nameInput + " - " + title);
            $(this).closest(".input-search-block").children("input[data-for=" + nameInput + "]").val(title).attr("value",title);
            $(this).closest(".input-search-block").parent().find("input[data-name=" + nameInput + "]").val(idProduct).attr("value",idProduct);
            $(this).closest(".product-list").removeClass("show");
            $(".type-block:not([data-idchecktype=" + id + "]) .form-group input").val("").attr("value","");
        });
        
        $('.activity-type').on('click', function(){
            $('.activity-type').each(function(){
                $(this).removeClass('active');
            });
            $(this).addClass('active');
        });
            $('.save-promocode').on('click', function(){
                var id = $(this).data("id");
                str = "."+id;
                let promocode = {};
                promocode['id_promo'] = $(this).data("id2");
                $(str).each(function(){
                    if ($(this).attr("type") == "checkbox"){
                        promocode[$(this).data('name')] = $(this).prop("checked");
                    } else {
                        if ($(this).hasClass('avail-type')){
                            if ($(this).hasClass("active")){
                                promocode[$(this).data('name')] = $(this).data("id");
                            }
                        } else if ($(this).hasClass('activity-type')){
                            if ($(this).hasClass("active")){
                                promocode[$(this).data('name')] = $(this).data("id");
                            }
                        } else {
                            promocode[$(this).data('name')] = $(this).val();
                        }
                    }
                });
                console.log(promocode);
                var settings = {
                  "async": true,
                  "crossDomain": true,
                  "url": "[[++site_url]]api/admin/changePromo",
                  "method": "POST",
                  "headers": {
                    "content-type": "application/json",
                    "cache-control": "no-cache",
                    "postman-token": "3cde162e-5e08-d09b-8a1f-de8660e6019a",
                    "x-api-token": "[[++x-api-token]]"
                  },
                  "processData": false,
                  "data":  JSON.stringify(promocode)
                }
                
                $.ajax(settings).done(function (response) {
                  if (response){
                  console.log(response);
                      $('.success-changes').addClass("show");
                        function sayHi() {
                          location.reload();
                        }
                        setTimeout(sayHi, 1500);
                    }
                });
            });
    </script>
    <script>
        $(".save-new-promocode").on("click", function(){
            let promocode = {};
                $(".add-code-placeholder").each(function(){
                    if ($(this).attr("type") == "checkbox"){
                        promocode[$(this).data('name')] = $(this).prop("checked");
                    } else {
                        if ($(this).hasClass('avail-type')){
                            if ($(this).hasClass("active")){
                                promocode[$(this).data('name')] = $(this).data("id");
                            }
                        } else if ($(this).hasClass('activity-type')){
                            if ($(this).hasClass("active")){
                                promocode[$(this).data('name')] = $(this).data("id");
                            }
                        } else if ($(this).hasClass('promo-type')){
                            if ($(this).hasClass("active")){
                                promocode[$(this).data('name')] = $(this).data("id");
                            }
                        } else {
                            promocode[$(this).data('name')] = $(this).val();
                        }
                    }
                });
                finalobj = {};
                for (key in promocode){
                    var value = promocode[key];
                    if (value){
                        finalobj[key]=value;
                    }    
                }
                
                console.log(finalobj);
                
                var settings = {
                  "async": true,
                  "crossDomain": true,
                  "url": "[[++site_url]]api/admin/addPromo",
                  "method": "POST",
                  "headers": {
                    "content-type": "application/json",
                    "cache-control": "no-cache",
                    "x-api-token" : "[[++x-api-token]]",
                    "postman-token": "3cde162e-5e08-d09b-8a1f-de8660e6019a"
                  },
                  "processData": false,
                  "data":  JSON.stringify(finalobj)
                }
                
                $.ajax(settings).done(function (response) {
                  if (response){
                      console.log(response);
                     $('.success-changes').addClass("show");
                        function sayHi() {
                          location.reload();
                        }
                        setTimeout(sayHi, 1500);
                    }
                });
        });
    </script>
	<script>
        $('.file-drop-newcode').on('change', function(){
        	files = this.files;
        	dataid = $(this).data("id");
        	let newfile = files[0].name;
        	var data = new FormData();
        	$.each( files, function( key, value ){
        		data.append( key, value );
        	});
        	data.append( 'my_file_upload', 1 );
	$.ajax({
		url         : '[[++site_url]]add-photo.json',
		type        : 'POST', // важно!
		data        : data,
		cache       : false,
		dataType    : 'json',
		// отключаем обработку передаваемых данных, пусть передаются как есть
		processData : false,
		// отключаем установку заголовка типа запроса. Так jQuery скажет серверу что это строковой запрос
		contentType : false, 
		// функция успешного ответа сервера
		success     : function( respond, status, jqXHR ){

			// ОК - файлы загружены
			if( typeof respond.error === 'undefined' ){
				// выведем пути загруженных файлов в блок '.ajax-reply'
				var files_path = respond.files;
				var html = '';
				$.each( files_path, function( key, val ){
					 html += val +'<br>';
				} )
                let filedir = "[[++site_url]]uploads/"+newfile;
                $("<img src="+filedir+">").appendTo(".loder-items-title-add-code-placeholder");
                $(".loder-items-title-add-code-placeholder").show();
                $(".add-code-placeholder-input").val(filedir);
			}
			// ошибка
			else {
				console.log('ОШИБКА: ' + respond.data );
			}
		},
		// функция ошибки ответа сервера
		error: function( jqXHR, status, errorThrown ){
			console.log( 'ОШИБКА AJAX запроса: ' + status, jqXHR );
		}

	});
        });
	</script>
	<script>
	[[-
	    $(".select-segments-form-btn").on("click", function(){
	        console.log($("#segments + button").attr("title"))
	    })]]
	   $(".select-segments-form-btn").on("click", function(){
	       data_atr = $(this).data("id");
	       let obj = {};
	       obj["segments"] = $("#segment"+data_atr+"+button").attr("title");
	       obj["old_segments"] = $("#segment"+data_atr).attr("data-values");
	       obj["promo_id"] = data_atr;
	       console.log(obj);
           var settings = {
              "async": true,
              "crossDomain": true,
              "url": "[[++site_url]]api/admin/addSecretPromoToSegment",
              "method": "POST",
              "headers": {
                "content-type": "application/json",
                "cache-control": "no-cache",
                "x-api-token" : "[[++x-api-token]]"
              },
              "processData": false,
              "data": JSON.stringify(obj)
            }
            
            $.ajax(settings).done(function (response) {
                  if (response){
                      console.log(response);
                     $('.success-changes').addClass("show");
                        function sayHi() {
                          location.reload();
                        }
                        setTimeout(sayHi, 1500);
                    }
            });
	   });
	</script>
</html>
{/if}