{set $ismember = '!admin_security' | snippet : []}
{if $ismember}
<!DOCTYPE html>
<html lang="en">

[[$admin_head]]

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        [[$admin_nav_header]]
		<div style="display:none;">[[!msMiniCart]]</div>
		
        <!--**********************************
            Header start
        ***********************************-->
        [[$admin_top_header]]
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->
        [[$admin_sidebar]]

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <!-- row -->
                
                <div class="tab-list">
                    <div class="tab-list_element active" data-block="tab-block-1">
                        Основные промокоды
                    </div>
                    <div class="tab-list_element" data-block="tab-block-2">
                        Настройки реферального кода
                    </div>
                </div>
                <!-- row -->
                
                <div class="tab-block active" id="tab-block-1">
                    <div class="row">
    					<div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">{$_modx->resource.pagetitle}</h4>
                                    [[-<div class="card-add-promocode btn light btn-primary" data-toggle="modal" data-target="#addPromoModal">Добавить промокод</div>]]
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-responsive-md">
                                            <thead>
                                                <tr>
                                                    <th style="width:50px;">
    													<div class="custom-control custom-checkbox checkbox-success check-lg mr-3">
    														<input type="checkbox" class="custom-control-input" id="checkAll" required="">
    														<label class="custom-control-label" for="checkAll"></label>
    													</div>
    												</th>
                                                    <th><strong>Id</strong></th>
                                                    <th><strong>Промокод</strong></th>
                                                    <th><strong>Номер телефона</strong></th>
                                                    <th><strong>Осталось использований</strong></th>
                                                    <th><strong>Создан</strong></th>
                                                    <th><strong>Статус</strong></th>
                                                </tr>
                                            </thead>
                                            {set $promocodes = '!admin_getReferalcodes' | snippet : []}
                                            
                                            <tbody>
                                                {foreach $promocodes as $promocode}
                                                <tr class="tr-code-{$promocode.id_promo}">
                                                    <td>
    													<div class="custom-control custom-checkbox checkbox-success check-lg mr-3">
    														<input type="checkbox" class="custom-control-input" id="customCheckBox{$promocode.id_promo}" required="">
    														<label class="custom-control-label" for="customCheckBox{$promocode.id_promo}"></label>
    													</div>
    												</td>
                                                    <td><strong>{$promocode.id_promo}</strong></td>
                                                    <td><span class="w-space-no">{$promocode.code}</span></div></td>
                                                    <td>{$promocode.mobilephone}</td>
                                                    <td>{$promocode.use_count}</td>
                                                    <td>{$promocode.new_date_start}</td>
                                                    {if $promocode.activity == 1}
                                                        <td><div class="d-flex align-items-center"><i class="fa fa-circle text-success mr-1"></i> Активен</div></td>
                                                    {else}
                                                        <td><div class="d-flex align-items-center"><i class="fa fa-circle text-danger mr-1"></i> Заблокирован</div></td>
                                                    {/if}
                                                    <td>
    													<div class="d-flex">
    														<a href="#" data-toggle="modal" data-target="#promoModal{$promocode.id_promo}" class="btn btn-primary shadow btn-xs sharp mr-1"><i class="fas fa-pencil-alt"></i></a>
    														<a href="#" data-id="{$promocode.id_promo}" class="remove-code btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
    													</div>
    												</td>
                                                </tr>
                                                {/foreach}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div> [[-]]
                    </div>
                </div>
                <div class="tab-block" id="tab-block-2">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Настройка реферальных ссылок</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive-1">
                                        [[-
                                        - app_referal_count_user - пользователей на промокод (0 - ограничений нет)
                                        - app_referal_use_count - сколько применений промокода рефералом (1)
                                        - app_referal_time_used - время действия промокода в днях (0 - значит постоянно)
                                        - app_referal_type - тип промокода (1 - скидка в процентах, 2 - товар в подарок, 5 - скидка в рублях)
                                        - app_referal_type_value - дополнительный параметр для промокода
                                        - app_referal_bonus - реферальные баллы после использования промокода]]
                                        
                                        <form action="" id="form-birthday-setting">
                                            <div class="row">
                                                
                                                [[-<label class="form-birthday-setting__title col-12">
                                                    <span><strong>Картинка</strong> к промокоду на день рождения:</span><br>
                                                    <small>Добавьте картинку которая будет отображаться для данного вида промокода</small><br>
                                                    <input class="form-setting-promo" type="text" name="birthday_image" value="{$_modx->config.app_referal_image}"></label>]]
                                                <label class="form-birthday-setting__title col-12 col-md-6">
                                                    <span>Пользователей на промокод:<br></span>
                                                    <small>Укажите количество пользователей что может применить реферальный промокод</small><br>
                                                    <input class="form-setting-promo" type="text" name="referal_count_user" value="{$_modx->config.app_referal_count_user}"></label>
                                                <label class="form-birthday-setting__title col-12 col-md-6">
                                                    <span>Количество применений промокода рефералом:<br></span>
                                                    <small>Укажите количество доступных применений реферальной ссылки одним рефералом</small><br>
                                                    <input class="form-setting-promo" type="text" name="referal_use_count" value="{$_modx->config.app_referal_use_count}"></label>
                                                <label class="form-birthday-setting__title col-12 col-md-6">
                                                    <span>время действия промокода в днях:<br></span>
                                                    <small>Укажите сколько дней с момента создания ссылки доступен реферальный промокод (0 - всегда активна):</small><br>
                                                    <input class="form-setting-promo" type="text" name="referal_time_used" value="{$_modx->config.app_referal_time_used}"></label>
                                                <label class="form-birthday-setting__title col-12 col-md-6">
                                                    <span>Количество бонусов которое будет начислено пользователю:<br></span>
                                                    <small>Укажите количество бонусов числом, которое будет начислено пользователю:</small><br>
                                                    <input class="form-setting-promo" type="text" name="referal_bonus" value="{$_modx->config.app_referal_bonus}"></label>
                                                
                                                <div class="col-12"><h4>Тип промокода на день рождения:</h4></div>
                                                <label class="form-birthday-setting__title col-12 col-md-4">
                                                    <input type="radio" name="referal_type" value="2" {if $_modx->config.app_referal_type == 2}checked{/if}> Товар в подарок</label>
                                                <label class="form-birthday-setting__title col-12 col-md-4">
                                                    <input type="radio" name="referal_type" value="1" {if $_modx->config.app_referal_type == 1}checked{/if}> Скидка в процентах</label>
                                                <label class="form-birthday-setting__title col-12 col-md-4">
                                                    <input type="radio" name="referal_type" value="5" {if $_modx->config.app_referal_type == 5}checked{/if}> Скидка в рублях</label>
                                                <label class="form-birthday-setting__title col-12 ">
                                                    <div class="type_value_block" data-type="type-{$_modx->config.app_birthday_promo_type}">
                                                        <span class="type-2">Укажите ID товара в подарок (числом):<br></span>
                                                        <span class="type-1">Укажите величину скидки в процентах (числом):<br></span>
                                                        <span class="type-5">Укажите величину скидки в рублях (числом):<br></span>
                                                    </div>
                                                    
                                                    <input class="form-setting-promo" type="text" name="referal_type_value" value="{$_modx->config.app_referal_type_value}"></label>    
                                                
                                            </div>
                                            
                                            <div class="btn btn-primary">Применить изменения</div>
                                            
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="http://dexignzone.com/" target="_blank">DexignZone</a> 2020</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->

        
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
  





</body>
{foreach $promocodes as $promocode}
    <div class="modal fade code-modal" id="promoModal{$promocode.id_promo}">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Промокод {$promocode.code}</h5>
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="col-xl-12 col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="basic-form">
                                    <div class="form-group row align-center">
                                        <label class="col-sm-3 col-form-label">Название</label>
                                        <div class="col-sm-9">
                                            <input type="text" data-name="name" class="form-control code-{$promocode.id_promo}" value="{$promocode.name}">
                                        </div>
                                    </div>
                                </div>
                                <div class="basic-form">
                                    <div class="form-group row align-center">
                                        <label class="col-sm-3 col-form-label">Описание</label>
                                        <div class="col-sm-9">
                                            <input type="text" data-name="description" class="form-control code-{$promocode.id_promo}" value="{$promocode.description}">
                                        </div>
                                    </div>
                                </div>
                                <div class="basic-form">
                                    <div class="form-group row align-center">
                                        <label class="col-sm-3 col-form-label">Доступен</label>
                                        <div class="col-sm-9 avail-parent">
                                            <div data-name="availability" data-id="1" class="code-{$promocode.id_promo} btn avail-type {if $promocode.availability == 1} active {/if}" style="margin-right: 10px;">Для всех</div>
                                            <div data-name="availability" data-id="2" class="code-{$promocode.id_promo} btn avail-type {if $promocode.availability == 2} active {/if}">Персональный</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="basic-form">
                                    <div class="form-group row align-center">
                                        <label class="col-sm-3 col-form-label">Статус</label>
                                        <div class="col-sm-9 avail-parent">
                                            <div data-name="activity" data-id="1" class="code-{$promocode.id_promo} btn activity-type {if $promocode.activity == 1} active {/if}" style="margin-right: 10px;">Активный</div>
                                            <div data-name="activity" data-id="0" class="code-{$promocode.id_promo} btn activity-type {if $promocode.activity == 0} active {/if}">Заблокирован</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="basic-form">
                                    <div class="form-group row align-center">
                                        <label class="col-sm-3 col-form-label">Промокод</label>
                                        <div class="col-sm-9">
                                            <input type="text" data-name="code"  class="form-control code-{$promocode.id_promo}" value="{$promocode.code}">
                                            <div class="custom-control custom-checkbox mb-3 code-count-box">
											    <input data-name="user_use_count" type="checkbox" {if $promocode.user_use_count == 1} checked {/if} class="custom-control-input code-{$promocode.id_promo}" id="userUseCount{$promocode.code}">
											    <label class="custom-control-label" for="userUseCount{$promocode.code}">Нельзя применить дважды одному и тому же пользователю</label>
										    </div>
										    <div class="custom-control custom-checkbox mb-3 code-count-box">
											    <input data-name="use_count_in_check" type="checkbox" {if $promocode.use_count_in_check == 1} checked {/if} class="custom-control-input code-{$promocode.id_promo}" id="useCountInCheck{$promocode.code}">
											    <label class="custom-control-label" for="useCountInCheck{$promocode.code}">Нельзя применить в коризне дважды</label>
										    </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="basic-form">
                                    <div class="form-group row align-center">
                                        <label class="col-sm-3 col-form-label">Дата начала акции</label>
                                        <div class="col-sm-9">
                                            <input name="datepicker" data-name="date_start" value="{$promocode.date_start}" class="datepicker-default form-control picker__input picker__input--active code-{$promocode.id_promo}" id="datepicker{$promocode.code}" readonly="" aria-haspopup="true" aria-expanded="true" aria-readonly="false" aria-owns="datepicker_root">
                                        </div>
                                    </div>
                                </div>
                                <div class="basic-form">
                                    <div class="form-group row align-center">
                                        <label class="col-sm-3 col-form-label">Дата конца акции</label>
                                        <div class="col-sm-9">
                                            <input name="datepicker" data-name="date_end" value="{$promocode.new_date_end}" class="datepicker-default form-control picker__input picker__input--active code-{$promocode.id_promo}" id="datepicker{$promocode.code}" readonly="" aria-haspopup="true" aria-expanded="true" aria-readonly="false" aria-owns="datepicker_root">
                                        </div>
                                    </div>
                                </div>
                                <div class="basic-form">
                                    <div class="form-group row align-center">
                                        <label class="col-sm-3 col-form-label">Сколько раз можно использовать</label>
                                        <div class="col-sm-9">
                                            <input type="text" data-name="use_count" class="form-control code-{$promocode.id_promo}" value="{$promocode.use_count}">
                                        </div>
                                    </div>
                                </div>
                                {if $promocode.child_discount}
                                <div class="basic-form">
                                    <div class="form-group row align-center">
                                        <label class="col-sm-3 col-form-label">Скидка на заказ</label>
                                        <div class="col-sm-9">
                                            <input type="text" data-name="child_discount" class="form-control code-{$promocode.id_promo}" value="{$promocode.child_discount}">
                                        </div>
                                    </div>
                                </div>
                                {/if}
                                {if $promocode.id_product}
                                <div class="basic-form">
                                    <div class="form-group row align-center">
                                        <label class="col-sm-3 col-form-label">Id продукта в подарок</label>
                                        <div class="col-sm-9">
                                            <input type="text" data-name="id_product" class="form-control code-{$promocode.id_promo}" value="{$promocode.id_product}">
                                        </div>
                                    </div>
                                </div>
                                {/if}
                                <div class="basic-form">
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input data-name="image" class="photo-dir code-{$promocode.id_promo}" type="hidden">
                                            <input data-id="{$promocode.id_promo}" accept="image/*" type="file" class="file-drop custom-file-input">
                                            <label class="custom-file-label">Выберите фотографию</label>
                                        </div>
    								</div>
    								<div class="loder-items-title loder-items-title-{$promocode.id_promo}">
    								    Фотография добавлена
    								</div>
    								<div class="loader-items loader-items-{$promocode.id_promo}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-dismiss="modal">Закрыть</button>
                    <button data-id2="{$promocode.id_promo}" data-id="code-{$promocode.id_promo}" type="button" class="btn btn-primary save-promocode">Сохранить</button>
                </div>
            </div>
        </div>
    </div>

{/foreach}
<div class="modal fade code-modal" id="addPromoModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Добавить промокод</h5>
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="col-xl-12 col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="basic-form">
                                    <div class="form-group row align-center">
                                        <label class="col-sm-3 col-form-label">Тип промокода</label>
                                        <div class="col-sm-9 avail-parent">
                                            <div data-name="type" data-id="2" class="add-code-placeholder btn promo-type" style="margin-right: 10px;">Подарок</div>
                                            <div data-name="type" data-id="1" class="add-code-placeholder btn promo-type">Скидка на заказ</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="basic-form discount-block-parent d-none">
                                    <div class="form-group row align-center">
                                        <label class="col-sm-3 col-form-label">Скидка на заказ</label>
                                        <div class="col-sm-9">
                                            <input type="text" data-name="child_discount" class="form-control add-code-placeholder child_discount">
                                        </div>
                                    </div>
                                </div>
                                <div class="basic-form gift-block-parent d-none">
                                    <div class="form-group row align-center">
                                        <label class="col-sm-3 col-form-label">Id продукта в подарок</label>
                                        <div class="col-sm-9">
                                            <input type="text" data-name="id_product" class="form-control add-code-placeholder id_product">
                                        </div>
                                    </div>
                                </div>
                                <div class="basic-form">
                                    <div class="form-group row align-center">
                                        <label class="col-sm-3 col-form-label">Название</label>
                                        <div class="col-sm-9">
                                            <input type="text" data-name="name" class="form-control add-code-placeholder" value="Название">
                                        </div>
                                    </div>
                                </div>
                                <div class="basic-form">
                                    <div class="form-group row align-center">
                                        <label class="col-sm-3 col-form-label">Описание</label>
                                        <div class="col-sm-9">
                                            <input type="text" data-name="description" class="form-control add-code-placeholder" value="Небольшое описание">
                                        </div>
                                    </div>
                                </div>
                                <div class="basic-form">
                                    <div class="form-group row align-center">
                                        <label class="col-sm-3 col-form-label">Доступен</label>
                                        <div class="col-sm-9 avail-parent">
                                            <div data-name="availability" data-id="1" class="add-code-placeholder btn avail-type active" style="margin-right: 10px;">Для всех</div>
                                            <div data-name="availability" data-id="2" class="add-code-placeholder btn avail-type">Персональный</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="basic-form">
                                    <div class="form-group row align-center">
                                        <label class="col-sm-3 col-form-label">Статус</label>
                                        <div class="col-sm-9 avail-parent">
                                            <div data-name="activity" data-id="1" class="add-code-placeholder btn activity-type active" style="margin-right: 10px;">Активный</div>
                                            <div data-name="activity" data-id="0" class="add-code-placeholder btn activity-type ">Заблокирован</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="basic-form">
                                    <div class="form-group row align-center">
                                        <label class="col-sm-3 col-form-label">Промокод</label>
                                        <div class="col-sm-9">
                                            <input type="text" data-name="code"  class="form-control add-code-placeholder" value="Уникальное название">
                                            <div class="custom-control custom-checkbox mb-3 code-count-box">
											    <input data-name="user_use_count" type="checkbox"  checked class="custom-control-input add-code-placeholder" id="addcodeuserusecount">
											    <label class="custom-control-label" for="addcodeuserusecount">Нельзя применить дважды одному и тому же пользователю</label>
										    </div>
										    <div class="custom-control custom-checkbox mb-3 code-count-box">
											    <input data-name="use_count_in_check" type="checkbox" checked class="custom-control-input add-code-placeholder" id="useCountInCheck">
											    <label class="custom-control-label" for="useCountInCheck">Нельзя применить в коризне дважды</label>
										    </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="basic-form">
                                    <div class="form-group row align-center">
                                        <label class="col-sm-3 col-form-label">Дата начала акции</label>
                                        <div class="col-sm-9">
                                            <input name="datepicker" data-name="date_start" class="datepicker-default form-control picker__input picker__input--active add-code-placeholder" id="datepickerstart" readonly="" aria-haspopup="true" aria-expanded="true" aria-readonly="false" aria-owns="datepicker_root">
                                        </div>
                                    </div>
                                </div>
                                <div class="basic-form">
                                    <div class="form-group row align-center">
                                        <label class="col-sm-3 col-form-label">Дата конца акции</label>
                                        <div class="col-sm-9">
                                            <input name="datepicker" data-name="date_end"  class="datepicker-default form-control picker__input picker__input--active add-code-placeholder" id="datepickerend" readonly="" aria-haspopup="true" aria-expanded="true" aria-readonly="false" aria-owns="datepicker_root">
                                        </div>
                                    </div>
                                </div>
                                <div class="basic-form">
                                    <div class="form-group row align-center">
                                        <label class="col-sm-3 col-form-label">Сколько раз можно использовать</label>
                                        <div class="col-sm-9">
                                            <input type="text" data-name="use_count" class="form-control add-code-placeholder">
                                        </div>
                                    </div>
                                </div>
                                <div class="basic-form">
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input data-name="image" class="photo-dir add-code-placeholder add-code-placeholder-input" type="hidden">
                                            <input data-id="{$promocode.id_promo}" accept="image/*" type="file" class="file-drop-newcode custom-file-input">
                                            <label class="custom-file-label">Выберите фотографию</label>
                                        </div>
    								</div>
    								<div class="loder-items-title loder-items-title-add-code-placeholder">
    								    Фотография добавлена
    								</div>
    								<div class="loader-items loader-items-add-code-placeholder"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-dismiss="modal">Закрыть</button>
                    <button  type="button" class="btn btn-primary save-new-promocode">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
<div class="alert alert-success alert-dismissible fade success-changes">
									<svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg>	
									<strong>Принято!</strong> Сохранения изменены.
									<button type="button" class="close h-100" data-dismiss="alert" aria-label="Close"><span><i class="mdi mdi-close"></i></span>
                                    </button>
								</div>
    <script src="/admin/vendor/moment/moment.min.js"></script>
    <script src="/admin/vendor/global/global.min.js"></script>
	<script src="/admin/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="/admin/vendor/chart.js/Chart.bundle.min.js"></script>
    <script src="/admin/js/custom.min.js"></script>
	<script src="/admin/js/deznav-init.js"></script>
    <script src="/admin/vendor/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <script src="/admin/vendor/moment/moment.min.js"></script>
    <script src="/admin/vendor/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- clockpicker -->
    <script src="/admin/vendor/clockpicker/js/bootstrap-clockpicker.min.js"></script>
    <!-- asColorPicker -->
    <script src="/admin/vendor/jquery-asColor/jquery-asColor.min.js"></script>
    <script src="/admin/vendor/jquery-asGradient/jquery-asGradient.min.js"></script>
    <script src="/admin/vendor/jquery-asColorPicker/js/jquery-asColorPicker.min.js"></script>
    <!-- Material color picker -->
    <script src="/admin/vendor/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <!-- pickdate -->
    <script src="/admin/vendor/pickadate/picker.js"></script>
    <script src="/admin/vendor/pickadate/picker.time.js"></script>
    <script src="/admin/vendor/pickadate/picker.date.js"></script>
     <script src="assets/components/ajaxform/js/lib/jquery.jgrowl.min.js"></script>


    <!-- Daterangepicker -->
    <script src="/admin/js/plugins-init/bs-daterange-picker-init.js"></script>
    <!-- Clockpicker init -->
    <script src="/admin/js/plugins-init/clock-picker-init.js"></script>
    <!-- asColorPicker init -->
    <script src="/admin/js/plugins-init/jquery-asColorPicker.init.js"></script>
    <!-- Material color picker init -->
    <script src="/admin/js/plugins-init/material-date-picker-init.js"></script>
    <!-- Pickdate -->
    <script src="/admin/js/plugins-init/pickadate-init.js"></script>
	<!-- Apex Chart -->
	<script src="/admin/vendor/apexchart/apexchart.js"></script>
	<script>
	    $(".tab-list").on("click",".tab-list_element",function(){
	        $(".tab-list_element").removeClass("active");
	        $(this).addClass("active");
	        $(".tab-block").removeClass("active");
	        $("#" + $(this).attr("data-block")).addClass("active");
	    });
	    
	    $("body").on("click","#form-birthday-setting .btn",function(){
	        let dataMass = {};
	        
	        $('.form-setting-promo').each(function(i,elem) {
            	dataMass["app_" + $(elem).attr("name")] = $(elem).val();
            });
            dataMass["app_referal_type"] = $('input[name="referal_type"]:checked').val();
            
            console.log(dataMass);
            
            $.ajax({
                type: "POST",
                headers: {
                    'x-api-token':'htug9ji0oqpr329442u891q3sdasw'
                },
                url: "[[++site_url]]api/admin/saveOptionsBD",
                data: JSON.stringify(dataMass),
                success: function(data){
                     $.jGrowl(data['message'], { theme: 'saccess'});
                }
            });
	    });
	    
	    $("body").on("click","input[name=referal_type]",function(){
	        let type = $(this).attr("value");
	        $(".type_value_block").attr("data-type","type-" + type);
	    });
	</script>
	<script>
	    $(".remove-code").on("click",function(){
	        let delcode = {};
	        delcode["id"] = $(this).data("id");
                var settings = {
                  "async": true,
                  "crossDomain": true,
                  "url": "[[++site_url]]admin-remove-promocode.json",
                  "method": "POST",
                  "headers": {
                    "content-type": "application/json",
                    "cache-control": "no-cache",
                    "postman-token": "3cde162e-5e08-d09b-8a1f-de8660e6019a"
                  },
                  "processData": false,
                  "data":  JSON.stringify(delcode)
                }
                
                $.ajax(settings).done(function (response) {
                  if (response){
                  console.log(response);
                      $('.success-changes').addClass("show");
                      $(".tr-code-"+response).fadeOut();
                    }
                });
	    });
	</script>
	<script>
	
        $('.file-drop').on('change', function(){
        	files = this.files;
        	dataid = $(this).data("id");
        	let newfile = files[0].name;
        	var data = new FormData();
        	$.each( files, function( key, value ){
        		data.append( key, value );
        	});
        	data.append( 'my_file_upload', 1 );
	$.ajax({
		url         : '[[++site_url]]add-photo.json',
		type        : 'POST', // важно!
		data        : data,
		cache       : false,
		dataType    : 'json',
		// отключаем обработку передаваемых данных, пусть передаются как есть
		processData : false,
		// отключаем установку заголовка типа запроса. Так jQuery скажет серверу что это строковой запрос
		contentType : false, 
		// функция успешного ответа сервера
		success     : function( respond, status, jqXHR ){

			// ОК - файлы загружены
			if( typeof respond.error === 'undefined' ){
				// выведем пути загруженных файлов в блок '.ajax-reply'
				var files_path = respond.files;
				var html = '';
				$.each( files_path, function( key, val ){
					 html += val +'<br>';
				} )
                let filedir = "[[++site_url]]uploads/"+newfile;
                $("<img src="+filedir+">").appendTo(".loader-items-"+dataid);
                $(".loder-items-title-"+dataid).show();
                $(".photo-dir.code-"+dataid).val(filedir);
			}
			// ошибка
			else {
				console.log('ОШИБКА: ' + respond.data );
			}
		},
		// функция ошибки ответа сервера
		error: function( jqXHR, status, errorThrown ){
			console.log( 'ОШИБКА AJAX запроса: ' + status, jqXHR );
		}

	});
        });
	</script>
    <script>
        $('.avail-type').on('click', function(){
            $('.avail-type').each(function(){
                $(this).removeClass('active');
            });
            $(this).addClass('active');
        });
        $('.promo-type').on('click', function(){
            $('.promo-type').each(function(){
                $(this).removeClass('active');
            });
            $(this).addClass('active');
            if ($(this).data("id") == 1){
                $(".gift-block-parent").addClass("d-none");
                $('.discount-block-parent').removeClass("d-none");
                $(".id_product").val("");
            } else if ($(this).data("id") == 2){
                $(".gift-block-parent").removeClass("d-none");
                $('.discount-block-parent').addClass("d-none");
                $('.child_discount').val("");
            }
        });
        $('.activity-type').on('click', function(){
            $('.activity-type').each(function(){
                $(this).removeClass('active');
            });
            $(this).addClass('active');
        });
            $('.save-promocode').on('click', function(){
                var id = $(this).data("id");
                str = "."+id;
                let promocode = {};
                promocode['id_promo'] = $(this).data("id2");
                $(str).each(function(){
                    if ($(this).attr("type") == "checkbox"){
                        promocode[$(this).data('name')] = $(this).prop("checked");
                    } else {
                        if ($(this).hasClass('avail-type')){
                            if ($(this).hasClass("active")){
                                promocode[$(this).data('name')] = $(this).data("id");
                            }
                        } else if ($(this).hasClass('activity-type')){
                            if ($(this).hasClass("active")){
                                promocode[$(this).data('name')] = $(this).data("id");
                            }
                        } else {
                            promocode[$(this).data('name')] = $(this).val();
                        }
                    }
                });
                console.log(promocode);
                var settings = {
                  "async": true,
                  "crossDomain": true,
                  "url": "[[++site_url]]admin-change-promocode.json",
                  "method": "POST",
                  "headers": {
                    "content-type": "application/json",
                    "cache-control": "no-cache",
                    "postman-token": "3cde162e-5e08-d09b-8a1f-de8660e6019a"
                  },
                  "processData": false,
                  "data":  JSON.stringify(promocode)
                }
                
                $.ajax(settings).done(function (response) {
                  if (response){
                  console.log(response);
                      $('.success-changes').addClass("show");
                        function sayHi() {
                          location.reload();
                        }
                        setTimeout(sayHi, 1500);
                    }
                });
            });
    </script>
    <script>
        $(".save-new-promocode").on("click", function(){
            let promocode = {};
                $(".add-code-placeholder").each(function(){
                    if ($(this).attr("type") == "checkbox"){
                        promocode[$(this).data('name')] = $(this).prop("checked");
                    } else {
                        if ($(this).hasClass('avail-type')){
                            if ($(this).hasClass("active")){
                                promocode[$(this).data('name')] = $(this).data("id");
                            }
                        } else if ($(this).hasClass('activity-type')){
                            if ($(this).hasClass("active")){
                                promocode[$(this).data('name')] = $(this).data("id");
                            }
                        } else if ($(this).hasClass('promo-type')){
                            if ($(this).hasClass("active")){
                                promocode[$(this).data('name')] = $(this).data("id");
                            }
                        } else {
                            promocode[$(this).data('name')] = $(this).val();
                        }
                    }
                });
                finalobj = {};
                for (key in promocode){
                    var value = promocode[key];
                    if (value){
                        finalobj[key]=value;
                    }    
                }
                var settings = {
                  "async": true,
                  "crossDomain": true,
                  "url": "[[++site_url]]admin-add-promocode.json",
                  "method": "POST",
                  "headers": {
                    "content-type": "application/json",
                    "cache-control": "no-cache",
                    "postman-token": "3cde162e-5e08-d09b-8a1f-de8660e6019a"
                  },
                  "processData": false,
                  "data":  JSON.stringify(finalobj)
                }
                
                $.ajax(settings).done(function (response) {
                  if (response){
                      console.log(response);
                     $('.success-changes').addClass("show");
                        function sayHi() {
                          location.reload();
                        }
                        setTimeout(sayHi, 1500);
                    }
                });
        });
    </script>
	<script>
        $('.file-drop-newcode').on('change', function(){
        	files = this.files;
        	dataid = $(this).data("id");
        	let newfile = files[0].name;
        	var data = new FormData();
        	$.each( files, function( key, value ){
        		data.append( key, value );
        	});
        	data.append( 'my_file_upload', 1 );
	$.ajax({
		url         : '[[++site_url]]add-photo.json',
		type        : 'POST', // важно!
		data        : data,
		cache       : false,
		dataType    : 'json',
		// отключаем обработку передаваемых данных, пусть передаются как есть
		processData : false,
		// отключаем установку заголовка типа запроса. Так jQuery скажет серверу что это строковой запрос
		contentType : false, 
		// функция успешного ответа сервера
		success     : function( respond, status, jqXHR ){

			// ОК - файлы загружены
			if( typeof respond.error === 'undefined' ){
				// выведем пути загруженных файлов в блок '.ajax-reply'
				var files_path = respond.files;
				var html = '';
				$.each( files_path, function( key, val ){
					 html += val +'<br>';
				} )
                let filedir = "[[++site_url]]uploads/"+newfile;
                $("<img src="+filedir+">").appendTo(".loder-items-title-add-code-placeholder");
                $(".loder-items-title-add-code-placeholder").show();
                $(".add-code-placeholder-input").val(filedir);
			}
			// ошибка
			else {
				console.log('ОШИБКА: ' + respond.data );
			}
		},
		// функция ошибки ответа сервера
		error: function( jqXHR, status, errorThrown ){
			console.log( 'ОШИБКА AJAX запроса: ' + status, jqXHR );
		}

	});
        });
	</script>
</html>
{/if}