/*
В© 2016вЂ“2018. РљРѕРјР°РЅРґР° СЂР°Р·СЂР°Р±РѕС‚С‡РёРєРѕРІ collary.ru
Email: info@collary.ru
Site: https://collary.ru/
---------------------------------------------
*/
/*  FOOTER BOTTOM*/
html, body {
  height: 100% !important;
}
.main-wrapper{
  min-height: 100%;
  height: auto;
  margin: 0 auto -180px;
}
.footer{
  background: #272727;
  min-height: 180px;
}
.footer-push{
  height: 180px;
}
/*  /. FOOTER BOTTOM*/
body{
  font-size: 16px;
  line-height: 1.6;
  color: #312F2F;
  overflow-x: hidden;
  font-family: 'ProximaNova';
}
.content ul,
.content ol{
  margin-bottom: 15px;
}
.content ul > li,
.content ol > li{
  margin-bottom: 10px;
  position: relative;
}
.content ul > li{
  padding-left: 25px;
}
.content ul > li:after{
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  top: 9px;
  left: 10px;
  background: #312f2f;
  border-radius: 50%;
}
.content ul ul,
.content ol ul,
.content ol ol,
.content ul ol{
  padding-top: 10px;
  padding-left: 10px;
}
.content ul ul li,
.content ol ul li{
  padding-left: 15px;
  position: relative;
  margin-bottom: 10px;
}
.content ul ul li:after,
.content ol ul li:after{
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 4px;
  top: 9px;
  left: 0;
  border: 1px solid #999999;
  border-radius: 50%;
}
.content ul ol li,
.content ol ol li{
  list-style: decimal; 
  padding-left: 3px;
  margin-left: 12px;
  margin-bottom: 10px;
}
.content ol{ 
  counter-reset: item; 
}
.content ol li{
  display: block; 
}
.content ol li:before{ 
  content: counters(item, ".") ". "; 
  counter-increment: item;
  padding: 0 5px 0 10px;
  color: #000;
}
.content ul ul ol li:after,
.content ol ul ol li:after{
  display: none;
}
h1,
.title-h1{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 0.8em;
}
h2,
.title-h2{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 1.1;
  margin-bottom: 0.8em;
}
h3{
  font-weight: 900;
  font-size: 34px;
  line-height: 1.1;
  margin-bottom: 0.6em;
}
h4{
  font-weight: 900;
  font-size: 24px;
  line-height: 1.1;
  margin-bottom: 0.6em;
}
h5{
  font-weight: 900;
  font-size: 18px;
  line-height: 1.1;
  margin-bottom: 0.6em;
}
h6{
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 15px;
}
@media only screen and (max-width: 1189px) {
  h1,
  .title-h1{
      font-size: 50px;
  }
  h2,
  .title-h2{
      font-size: 38px;
  }
  .pagetitle h1{
      font-size: 38px;
  }
  h3, h4{
      font-size: 30px;
  }
}
@media only screen and (max-width: 991px) {
  h1,
  .title-h1{
      font-size: 46px;
  }
  h2,
  .title-h2{
      font-size: 34px;
  }
  h3, h4{
      font-size: 28px;
  }
}
@media only screen and (max-width: 767px) {
  h1,
  .title-h1{
      font-size: 34px;
  }
  .pagetitle h1{
      font-size: 30px;
  }
  h2,
  .title-h2{
      font-size: 24px;
  }
  h3, h4, h5{
      font-size: 24px;
  }
}

blockquote{
  margin-bottom: 20px;
  padding: 0 0 0 20px;
  font-size: 16px;
  border-left: 3px solid #EFBC1E;
}
a{
  color: #efbc1e;
  text-decoration: none;
  -webkit-transition: all 200ms ease-out;
-moz-transition: all 200ms ease-out;
-o-transition: all 200ms ease-out;
transition: all 200ms ease-out;
}
a:hover{
  color: #000;
}
a:focus{
  outline: none;
}
a.invert{
  color: #000;
}
a.invert:hover{
  color: #efbc1e;
}
.btn{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background: #EFBC1E;
  font-size: 20px;
  padding: 14px 45px;
  margin-bottom: 15px;
  position: relative;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 200ms ease-out;
-moz-transition: all 200ms ease-out;
-o-transition: all 200ms ease-out;
transition: all 200ms ease-out;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}
.btn:hover{
  background: #ef4134;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  color: #fff;
}
.btn.block{
  display: block;
  width: 100%;
}
.btn.min{
  padding: 10px 25px;
  font-size: 16px;
}
.btn.invert{
  background:#C62F27;
  color: #fff;
}
.btn.invert:hover{
  background: #EFBC1E;
  color: #fff;
}
.form-group{
  position: relative;
}

.push1{
  height: 1px;
}
.push2{
  height: 2px;
}
.push3{
  height: 3px;
}
.push4{
  height: 4px;
}
.push5{
  height: 5px;
}
.push6{
  height: 6px;
}
.push7{
  height: 7px;
}
.push8{
  height: 8px;
}
.push9{
  height: 9px;
}
.push10{
  height: 10px;
}
.push11{
  height: 11px;
}
.push12{
  height: 12px;
}
.push13{
  height: 13px;
}
.push14{
  height: 14px;
}
.push15{
  height: 15px;
}
.push16{
  height: 16px;
}
.push17{
  height: 17px;
}
.push18{
  height: 18px;
}
.push19{
  height: 19px;
}
.push20{
  height: 20px;
}
.push25{
  height: 25px;
}
.push30{
  height: 30px;
}
.push35{
  height: 35px;
}
.push40{
  height: 40px;
}
.push45{
  height: 45px;
}
.push50{
  height: 50px;
}
.push55{
  height: 55px;
}
.push60{
  height: 60px;
}
.push70{
  height: 70px;
}
.push80{
  height: 80px;
}
.push90{
  height: 90px;
}
.push100{
  height: 100px;
}
.f8{
  font-size: 8px;
}
.f9{
  font-size: 9px;
}
.f10{
  font-size: 10px;
}
.f11{
  font-size: 11px;
}
.f12{
  font-size: 12px;
}
.f13{
  font-size: 13px;
}
.f14{
  font-size: 14px;
}
.f15{
  font-size: 15px;
}
.f16{
  font-size: 16px;
}
.f17{
  font-size: 17px;
}
.f18{
  font-size: 18px;
}
.f19{
  font-size: 19px;
}
.f20{
  font-size: 20px;
}
.f21{
  font-size: 21px;
}
.f22{
  font-size: 22px;
}
.f24{
  font-size: 24px;
}
.f26{
  font-size: 26px;
}
.f28{
  font-size: 28px;
}
.f30{
  font-size: 30px;
}
.f34{
  font-size: 34px;
}
.f36{
  font-size: 36px;
}
.red{
  color: #FF4632;
}
.white{
  color: #fff;
}
.black{
  color: #000;
}
.gray{
  color: #676767;
}
p{
  margin-bottom: 20px;
}
strong,
b, 
.bold{
  font-weight: bold;
}
.weight100,
.light{
  font-weight: 100;
}
.weight900{
  font-weight: 900;
}
.italic{
  font-style: italic;
}
input:focus::-moz-placeholder{
  opacity: 0;
}
input:focus:-ms-input-placeholder{
  opacity: 0;
}
input:focus::-webkit-input-placeholder{
  opacity: 0;
}
textarea:focus::-moz-placeholder{
  opacity: 0;
}
textarea:focus:-ms-input-placeholder{
  opacity: 0;
}
textarea:focus::-webkit-input-placeholder{
  opacity: 0;
}
.strike{
  text-decoration: line-through;
}
.hide {
display: none;
}
.show {
display: block;
}
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
:invalid {
box-shadow: none;
}
:-moz-submit-invalid {
box-shadow: none;
}
:-moz-ui-invalid {
box-shadow:none;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
em, i{
  font-style: italic;
}
.cleaner,
.clear{
  clear: both;
  height: 0;
  line-height: 0;
  display: block !important;
}
.cleaner-hr,
.clear-hr{
  height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
  border: none;
}
.left{
  float: left;
}
.right{
  float: right;
}
.upper{
  text-transform: uppercase;
}
img{
  max-width: 100%;
}
img.left{
  float: left;  
  margin-right: 20px;
}
img.right{
  float: right;  
  margin-left: 20px;
}
.dashed{
  text-decoration: none;
  border-bottom: 1px dashed;
}
.dotted{
  text-decoration: none !important;
  border-bottom: 1px dotted;
}
.dashed:hover,
.dotted:hover{
  border-bottom-color: transparent;
}
.static{
  position: static;
}
.hidden{
opacity:0;
}
.visible{
  opacity:1;
}
.row.min{
  margin-left: -5px;
  margin-right: -5px;
}
.row.min > div[class^="col-"]{
  padding-left: 5px;
  padding-right: 5px;
}
.row.no-padding{
  margin-left: 0;
  margin-right: 0;
}
.row.no-padding > div[class^="col-"]{
  padding-left: 0;
  padding-right: 0;
}
.table{
  display: table;
  width: 100%;
  height: 100%;
}
.table-cell{
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.decoration{
  text-decoration: underline;
}
.decoration:hover{
  text-decoration: none;
}
.decoration-none{
  text-decoration: none !important;
}
.decoration-hover{
  text-decoration: none;
}
.decoration-hover:hover{
  text-decoration: underline;
}
.round{
  border-radius: 50%;
}
a.absolute{
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.box{
  display: none;
}
.box.visible{
  display: block;
}
/* fancybox */
.fancybox-inner{
  overflow: visible !important;
}
.fancybox-wrap{
  padding: 35px 0 0;
}
.fancybox-skin{
  margin-bottom: 35px;
}
.fancybox-overlay{
  background: rgba(0,0,0,0.8);
}
.fancybox-close {
  background: #C62F27 !important;
  top: 0 !important;
  right: 0px !important;
  width: 40px !important;
  height: 40px !important;
  cursor: pointer;
  z-index: 8040;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
@media only screen and (min-width: 768px) {
.fancybox-close {
  background: transparent !important;
  top: -40px !important;
  right: -40px !important;
  width: 40px !important;
}
}
.fancybox-close:after{
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  content: "";
  display: block;
  position: absolute;
  background: #333333;
  margin-left: -1px;
}
.fancybox-close:after {
  background: url(../images/close.png) 50% 50% no-repeat;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  content: "";
  display: block;
  position: absolute;
  margin-top: -10px;
  margin-left: -10px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
.fancybox-close:hover{
  background: #FF4632;
}
.fancybox-close:hover:after {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.fancybox-skin{
  background: #fff;
  box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.3)  !important;
  border-radius: 0;
}
.fancybox-nav span{
  visibility: visible;
  -webkit-transition: all 200ms ease-out;
-moz-transition: all 200ms ease-out;
-o-transition: all 200ms ease-out;
transition: all 200ms ease-out;
}
.fancybox-next span {
  background: rgba(0,0,0,0.4);
  width: 40px;
  height: 40px;
  margin-top: -20px;
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  right: 20px;
}
.fancybox-prev span {
  background: rgba(0,0,0,0.4);
  width: 40px;
  height: 40px;
  margin-top: -20px;
  left: 20px;
}
.fancybox-prev span:after,
.fancybox-next span:after{
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 14px;
  top: 50%;
  left: 50%;
  margin-top: -7px;
  margin-left: -4px;
  background: url(../images/fancy-arrow.png) 0 0 no-repeat;
}
.fancybox-next span:hover,
.fancybox-prev span:hover{
  background: #3C3C3C;
}
.fancybox-title-float-wrap{
  left: 0;
  margin-bottom: -28px;
  width: 100%;
  text-align: left;
  overflow: hidden;
}
.fancybox-title-float-wrap .child{
  background: rgba(255, 255, 255, 1);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-shadow: none;
  color: #000;
  display: block;
  font-size: 14px;
  padding: 12px 20px;
  font-weight: normal;
}
.fancybox-title-float-wrap .child{
  white-space: normal;
  width: 100%;
}
/* end fancybox */


/***********************slick carousel*******************************/
.slick-slider{
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list{
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus{
  outline: none;
}
.slick-list.dragging{
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list{
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track{
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after{
  display: table;
  content: '';
}
.slick-track:after{
  clear: both;
}
.slick-loading .slick-track{
  visibility: hidden;
}
.slick-slide{
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide{
  float: right;
}
.slick-slide.slick-loading img{
  display: none;
}
.slick-slide.dragging img{
  pointer-events: none;
}
.slick-initialized .slick-slide{
  display: block;
}
.slick-loading .slick-slide{
  visibility: hidden;
}
.slick-vertical .slick-slide{
  display: block;
  height: auto;
}
.slider-wrapper .item img{
  min-height: 300px;
}
.slick-dots {
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
  display: block;
  margin-top: 20px;
}
.slick-dots li button{
  position: absolute;
  top: -5px;
  left: -5px;
  border: none;
  border-radius: 50%;
  display: block;
  opacity: 0;
}
.slick-dots li {
  cursor: pointer;
  display: inline-block;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin: 0 6px 0;
  cursor: pointer;
  position: relative;
  background: #efbc1e;
  opacity: 0.6;
  -webkit-transition: all 200ms ease-out;
-moz-transition: all 200ms ease-out;
-o-transition: all 200ms ease-out;
transition: all 200ms ease-out;
}
.slick-dots li:hover{
  opacity: 1;
}
.slick-dots li.slick-active{
  background: #ef4134;
  opacity: 1;
}
.slick-prev, 
.slick-next {
  display: block;
  width: 44px;
  height: 44px;
  position: absolute;
  z-index: 50;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  text-align: center;
  color: #fff;
  top: 50%;
  margin-top: -22px;
  background: rgba(0,0,0,0.2);
}
.slick-prev{
  left: -60px;
}
.slick-next{
  left: auto;
  right: -60px;
}
.slick-prev i{
  margin-left: -4px;
}
.slick-next i{
  margin-right: -4px;
}
.slick-prev i, 
.slick-next i{
  line-height: 44px;
}
.slick-prev:hover, 
.slick-next:hover{
  background: #efbc1e;
  color: #fff;
  box-shadow: 0 0 0 5px rgba(0,0,0,0.08);
}
/****************end slick carousel****************/



@media only screen and (min-width: 992px){
  
  /************* custom chrome scroll ***************/
  body::-webkit-resizer {
      background-image: url('');
      background-repeat: no-repeat;
      width: 8px;
      height: 1px;
  }
  body::-webkit-scrollbar {
      width: 8px;
  }
  body::-webkit-scrollbar-button {
      background-image: url('');
      background-repat: no-repeat;
      width: 8px;
      height: 0px;
  }
  body::-webkit-scrollbar-thumb {
      -webkit-border-radius: 0px;
      border-radius: 0px;
      background-color: #EFBC1E;
  }
  body::-webkit-scrollbar-track {
      background-color: #22282E;
  }
  /*********** end custom chrome scroll **********/
}


#up{
  position: fixed;
  z-index: 300;
  bottom: 30px;
  right: 10px;
  display: none;
  color: #FFFFFF;
  width: 44px;
  text-align: center;
  height: 44px;
  border-radius: 100%;
  cursor: pointer;
  -webkit-transition: background-color 200ms ease-out;
  -moz-transition: background-color 200ms ease-out;
  -o-transition: background-color 200ms ease-out;
  transition: background-color 200ms ease-out;
  background: #EFBC1E;
  font-size: 32px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
#up:hover{
  background-color: #2C2C2C;
}
#up .fa{
  display: block;
  line-height: 40px;
}

.delay-250{
  -webkit-animation-delay: 250ms;
-moz-animation-delay: 250ms;
-o-animation-delay: 250ms;
  animation-delay: 250ms;
}
.delay-500{
  -webkit-animation-delay: 500ms;
-moz-animation-delay: 500ms;
-o-animation-delay: 500ms;
  animation-delay: 500ms;
}
.delay-750{
  -webkit-animation-delay: 750ms;
-moz-animation-delay: 750ms;
-o-animation-delay: 750ms;
  animation-delay: 750ms;
}
.delay-1000{
  -webkit-animation-delay: 1000ms;
-moz-animation-delay: 1000ms;
-o-animation-delay: 1000ms;
  animation-delay: 1000ms;
}
.delay-1250{
  -webkit-animation-delay: 1250ms;
-moz-animation-delay: 1250ms;
-o-animation-delay: 1250ms;
  animation-delay: 1250ms;
}
.delay-1500{
  -webkit-animation-delay: 1500ms;
-moz-animation-delay: 1500ms;
-o-animation-delay: 1500ms;
  animation-delay: 1500ms;
}
.delay-1750{
  -webkit-animation-delay: 1750ms;
-moz-animation-delay: 1750ms;
-o-animation-delay: 1750ms;
  animation-delay: 1750ms;
}
.delay-2000{
  -webkit-animation-delay: 2000ms;
-moz-animation-delay: 2000ms;
-o-animation-delay: 2000ms;
  animation-delay: 2000ms;
}
.delay-2500{
  -webkit-animation-delay: 2500ms;
-moz-animation-delay: 2500ms;
-o-animation-delay: 2500ms;
  animation-delay: 2500ms;
}
.delay-3000{
  -webkit-animation-delay: 3000ms;
-moz-animation-delay: 3000ms;
-o-animation-delay: 3000ms;
  animation-delay: 3000ms;
}
.delay-3500{
  -webkit-animation-delay: 3500ms;
-moz-animation-delay: 3500ms;
-o-animation-delay: 3500ms;
  animation-delay: 3500ms;
}
/* Preloader */
#preloader {
  background: #fff;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  left: 0;
  position: fixed;
  z-index: 9999;
  display: block;
  -webkit-transition: all 600ms ease-out;
  -moz-transition: all 600ms ease-out;
  -o-transition: all 600ms ease-out;
  transition: all 600ms ease-out;
  opacity: 1;
}
#preloader.hid {
  opacity: 0;
  visibility: hidden;
}
.no-preloader #preloader{
  display: none;
}
#preloader img{
  width: 200px;
}
/* Preloader end */


/* AGREEMENT */
.agreement{
  position: relative;
  margin-bottom: 20px;
  color: #7C7F8C;
}
.agreement input{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
.agreement i{
  vertical-align: middle;
  margin-top: -3px;
}
.agreement input + label .checked{
  display: none;
}

.agreement input:checked + label .checked{
  display: inline-block;
}
.agreement input:checked + label .no-checked{
  display: none;
}
.agreement input.error + label{
  color: red;
}
/* /. AGREEMENT */


/* PAGINATION */
.pagination{
  margin: 30px 0 0;
  text-align: center;
}
.pagination li{
  display: inline-block;
  text-align: center;
}
.pagination a,
.pagination li > span{
  font-size: 16px;
  font-weight: bold;
  color: #5E6066;
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-decoration: none;
}
.pagination .active a{
  background: #FEB013;
  color: #fff;
  border-radius: 100%;
}
.pagination a:hover{
  color: #000;
}
/* /. PAGINATION */


.mobile-menu {
  position: fixed;
  top: 0;
  right: -470px;
  background: #ef4134;
  height: 100%;
  width: 370px;
  max-width: 100%;
  z-index: 1000;
  overflow-y: scroll;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  padding-top: 59px;
  box-shadow: -3px 0 3px rgba(0, 0, 0, 0.2);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.8);
  z-index: -100;
  opacity: 0;
  -webkit-transition: opacity 200ms ease-out;
  -moz-transition: opacity 200ms ease-out;
  -o-transition: opacity 200ms ease-out;
  transition: opacity 200ms ease-out;
}
.mobile-logo{
  padding: 0 0 0 10px;
}
.mobile-logo img{
  height: 80px;
}
.mobile-menu li{
  position: relative;
}
.mobile-menu > div > ul > li {
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.mobile-menu > div > ul > li:first-of-type{
  border-top: 1px solid rgba(255,255,255,0.1);
}
.mobile-menu > div > ul > li.down > a {
  padding-right: 60px;
}
.mobile-menu .dropdown-button{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 45px;
  width: 48px;
  z-index: 10;
}
.mobile-menu .dropdown-button:before {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  top: 13px;
  left: 16px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
.mobile-menu .dropdown-button.active:before{
  -moz-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
  top: 19px;
}
.mobile-menu > div > ul > li > ul {
  position: static;
  width: 100%;
  display: none;
}
.mobile-menu > div > ul  > li > a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 13px 20px 10px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}
.mobile-menu > div > ul > li.active > a{
  background: #efbc1e;
  color: #312f2f;
}
.mobile-menu > div > ul > li > ul > li.active > a,
.mobile-menu > div ul ul ul .active a{
  color: #383838;
}
.mobile-menu > div > ul > li > ul > li > a,
.mobile-menu > div ul ul ul a{
  display: block;
  font-size: 15px;
  line-height: 18px;
  text-decoration: none;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  padding: 10px 10px 10px 30px;
  color: #FFFFFF;
  position: relative;
}
.mobile-menu > div > ul > li > ul > li > a:before,
.mobile-menu > div ul ul ul a:before {
  content: "";
  display: block;
  position: absolute;
  top: 17px;
  left: 20px;
  width: 5px;
  height: 3px;
  background: #EF2B32;
}
.mobile-menu > div ul ul ul a{
  padding: 6px 10px 6px 45px;
  font-size: 13px;
}
.mobile-menu > div ul ul ul a:before{
  left: 34px;
  top: 12px;
}
.mobile-menu .dropdown-button + ul {
  position: static;
  width: 100%;
  display: none;
  margin-bottom: 10px;
}
.mobile-menu ul ul .dropdown-button:before{
  width: 6px;
  height: 6px;
  content: "+";
  border: none;
  color: #fff;
  -moz-transform: rotate(0) !important;
  -webkit-transform: rotate(0) !important;
  -o-transform: rotate(0) !important;
  -ms-transform: rotate(0) !important;
  transform: rotate(0) !important;
  top: 8px !important;
  left: 17px;
  font-size: 16px;
}
.mobile-menu a[href="javascript:void();"]{
  text-transform: uppercase;
  color: #fff !important;
  padding-left: 20px;
}
.mobile-menu a[href="javascript:void();"]:before{
  display: none;
}


@media only screen and (max-width: 1189px) {
  .mobile-menu.open {
      right: 0;
  }
  .mobile-menu.open + .overlay {
      z-index: 500;
      opacity: 1;
  }
}
@media only screen and (max-width: 440px) {
  .mobile-menu{
      width: 100%;
  }
}
/************* /. mobile-menu **************/

.modal {
  display: none;
  width: 460px;
  max-width: 100%;
  background: #fff;
  padding: 35px 25px 25px;
}
.modal.big-modal{
  width: 600px;
}
#responseMessage .modal-content.error{
  color: #FF4632;
}