@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:400,700,900|Material+Icons&subset=cyrillic");
@import url(bootstrap.css);
@import url(font-awesome.css);
@import url(jquery.fancybox.css);
@import url(common.css);
@import url(jquery.formstyler.css);
@import url(jquery.jscrollpane.css);
/*
    font-family: 'ProximaNova';
    font-family: 'Roboto', sans-serif;               (normal,bold,900)
    font-family: 'Roboto Condensed', sans-serif;     (bold)
*/

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Light.otf"),
    url("../fonts/ProximaNova-Light.ttf"),
    url("../fonts/ProximaNova-Light.woff"),
    url("../fonts/ProximaNova-Light.woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-LightIt.otf"),
    url("../fonts/ProximaNova-LightIt.ttf"),
    url("../fonts/ProximaNova-LightIt.woff"),
    url("../fonts/ProximaNova-LightIt.woff2");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Regular.otf"),
    url("../fonts/ProximaNova-Regular.ttf"),
    url("../fonts/ProximaNova-Regular.woff"),
    url("../fonts/ProximaNova-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-RegularIt.otf"),
    url("../fonts/ProximaNova-RegularIt.ttf"),
    url("../fonts/ProximaNova-RegularIt.woff"),
    url("../fonts/ProximaNova-RegularIt.woff2");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Bold.otf"),
    url("../fonts/ProximaNova-Bold.ttf"), url("../fonts/ProximaNova-Bold.woff"),
    url("../fonts/ProximaNova-Bold.woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-BoldIt.otf"),
    url("../fonts/ProximaNova-BoldIt.ttf"),
    url("../fonts/ProximaNova-BoldIt.woff"),
    url("../fonts/ProximaNova-BoldIt.woff2");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Extrabld.otf"),
    url("../fonts/ProximaNova-Extrabld.ttf"),
    url("../fonts/ProximaNova-Extrabld.woff"),
    url("../fonts/ProximaNova-Extrabld.woff2");
  font-weight: 900;
  font-style: normal;
}

body {
  background-color: #ffffff;
  /* background-image: url('../images/content/pizza-bg1.png'); */
  background-repeat: repeat;
  background-position: left top;
  background-size: auto;
  font-family:'Lato', sans-serif;
}

.header-bottom:before {
  background-image: linear-gradient(135deg, #faf8e4 50%, transparent 50%),
    linear-gradient(225deg, #faf8e4 50%, transparent 50%),
    linear-gradient(45deg, #faf8e4 50%, transparent 50%),
    linear-gradient(-45deg, #faf8e4 50%, transparent 50%);
}
.content-section {
  background: #faf8e4;
}

/* HEADER */

.header-top {
  background: #272727;
  position: relative;
  z-index: 100;
  color: #fff;
}
.send-push-input-wrapper input {
    width: 100%!important;
}

.send-push-input-wrapper {
    margin-bottom: 2rem;
}
.send-push-btn-wrapper-disabled {
    display: inline-block;
    color: #fff;
    background: #808080;
    width: 100%;
    padding: 8px 0px;
    font-size: 15px;
    height: 100%;
    font-style: initial;
    border-radius: 5px;
    position: relative;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
.send-push-btn-wrapper {
    display: inline-block;
    color: #fff;
    background: #efbc1e;
    padding: 8px 0px;
    font-size: 15px;
    width: 100%;
    height: 100%;
    font-style: initial;
    border-radius: 5px;
    margin-top: 0;
    position: relative;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
.header-top .inner {
  height: 48px;
}
.header-top-left > span {
  margin-right: 15px;
  font-size: 14px;
}
.header-top-left > span:last-of-type {
  margin-right: 0;
}
.header-top-left > span i {
  color: #efbc1e;
  font-size: 16px;
  margin-right: 4px;
}
.header-tel {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  padding-left: 40px;
}
.header-tel a {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 18px;
  color: #ef4134;
}
.header-tel a:hover {
  color: #fff;
}
.header-tel .pulse {
  position: absolute;
  top: 50%;
  margin-top: -14px;
  left: 0;
  width: 28px;
  height: 28px;
  text-align: center;
  line-height: 30px;
  color: #272727;
  border: none;
  font-size: 14px;
  box-shadow: 0 0 0 0 #ffffff;
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}
@-webkit-keyframes pulse {
  to {
    box-shadow: 0 0 0 13px rgba(239, 188, 30, 0);
  }
}
@-moz-keyframes pulse {
  to {
    box-shadow: 0 0 0 13px rgba(239, 188, 30, 0);
  }
}
@-ms-keyframes pulse {
  to {
    box-shadow: 0 0 0 13px rgba(239, 188, 30, 0);
  }
}
@keyframes pulse {
  to {
    box-shadow: 0 0 0 13px rgba(239, 188, 30, 0);
  }
}

.header-bottom {
  position: relative;
  height: 80px;
  background: #e22c2f;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
@media (min-width: 768px) {
  .header-bottom.fixed {
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 800;
  }
}

.header-bottom.fixed + .header-bottom-push {
  height: 80px;
}
.header-bottom.fixed .inner {
  padding-top: 0;
}
.header-bottom > .container {
  height: 100%;
}
.header-bottom .inner {
  padding-top: 2px;
  height: 100%;
}
.header-wrapper_bottom a {
    color: inherit;
}
.header-bottom:before {
  content: "";
  position: absolute;
  bottom: -12px;
  top: -12px;
  left: 0;
  right: 0;
  background-color: #e22c2f;
  background-image: linear-gradient(135deg, #fff 50%, transparent 50%),
    linear-gradient(225deg, #fff 50%, transparent 50%),
    linear-gradient(45deg, #fff 50%, transparent 50%),
    linear-gradient(-45deg, #fff 50%, transparent 50%);
  background-position: top left, top left, bottom left, bottom left;
  background-size: 12px 12px;
  background-repeat: repeat-x;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
.header-bottom.fixed:before {
  opacity: 0;
}
.logo {
  height: 100%;
}
.header-bottom-bar {
  height: 100%;
}
.header-search-btn {
  border: 1px solid #fff;
  border-radius: 4px;
  display: inline-block;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 33px;
  color: #fff;
  cursor: pointer;
  margin-right: 3px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
.header-search-btn:hover {
  color: #efbc1e;
  border-color: #efbc1e;
}
.header-cart {
  border: 1px solid #fff;
  border-radius: 4px;
  display: inline-block;
  height: 35px;
  text-align: center;
  line-height: 33px;
  color: #fff;
  padding: 0 8px;
  width: 150px;
  overflow: hidden;
  vertical-align: top;
}
.header-cart i {
  vertical-align: middle;
  margin: -2px 4px 0 0;
}
@media only screen and (max-width: 991px) {
  .header-top .inner {
    height: 54px;
  }
  .header-top-left > span {
    display: block;
    padding-left: 22px;
    position: relative;
    height: auto;
  }
  .header-top-left > span i {
    position: absolute;
    left: 0;
    top: 2px;
    width: 16px;
    display: inline-block;
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  .header-top .inner {
    height: auto;
    padding: 15px 0;
  }
  .header-top-left,
  .header-top-right {
    float: none !important;
  }
  .header-tel {
    height: auto;
    position: relative;
    text-align: left;
    margin-top: 10px;
  }
  .header-cart {
    width: auto;
  }
  .logo img {
    max-width: 150px;
  }
  .header-bottom {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 800;
  }
  .header-bottom:before {
    display: none;
  }
  .header-bottom + .header-bottom-push {
    height: 0 !important;
  }
  .header-top-push {
    height: 60px;
  }
}

/** top-menu **/
.top-menu-wrapper {
  height: 100%;
}
.top-menu {
  margin-right: 50px;
}
.top-menu > ul > li {
  display: inline-block;
  padding: 0 20px;
  position: relative;
}
.top-menu > ul > li:first-of-type {
  padding-left: 0;
}
.top-menu > ul > li:last-of-type {
  padding-right: 0;
}
.top-menu > ul > li:after {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 4px;
  top: 50%;
  margin-top: -2px;
  right: -2px;
  border-radius: 100%;
  background: #efbc1e;
}
.top-menu > ul > li:last-of-type:after {
  display: none;
}
.top-menu > ul > li > a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 100;
}
.top-menu > ul > li.active > a,
.top-menu > ul > li > a:hover {
  color: #efbc1e;
}

/* mob-menu-btn begin */
.menu-button {
  display: none;
  width: 35px;
  height: 35px;
  cursor: pointer;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  border: 1px solid #fff;
  position: relative;
  border-radius: 4px;
  vertical-align: top;
  right: 0;
  top: 0;
  margin-left: 3px;
}
.icon-menu-burger {
  height: 2px;
  width: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1px 0 0 -10px;
  -webkit-transition: transform 0.2s ease 0s;
  -moz-transition: transform 0.2s ease 0s;
  -o-transition: transform 0.2s ease 0s;
  -ms-transition: transform 0.2s ease 0s;
  transition: transform 0.2s ease 0s;
  -webkit-transition: -webkit-transform 0.2s ease 0s;
}
.icon-menu-burger__line {
  background: #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: transform 0.2s linear 0.2s;
  -moz-transition: transform 0.2s linear 0.2s;
  -o-transition: transform 0.2s linear 0.2s;
  -ms-transition: transform 0.2s linear 0.2s;
  transition: transform 0.2s linear 0.2s;
  -webkit-transition: -webkit-transform 0.2s linear 0.2s;
}
.icon-menu-burger:before,
.icon-menu-burger:after {
  background: #fff;
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
}
.menu-button.active .icon-menu-burger__line,
.menu-button.active .icon-menu-burger:before,
.menu-button.active .icon-menu-burger:after {
  background: #fff;
}
.icon-menu-burger:before {
  top: -6px;
  -webkit-transition: top 0.2s linear 0.4s;
  -moz-transition: top 0.2s linear 0.4s;
  -o-transition: top 0.2s linear 0.4s;
  -ms-transition: top 0.2s linear 0.4s;
  transition: top 0.2s linear 0.4s;
}
.icon-menu-burger:after {
  bottom: -6px;
  -webkit-transition: bottom 0.2s linear 0.4s;
  -moz-transition: bottom 0.2s linear 0.4s;
  -o-transition: bottom 0.2s linear 0.4s;
  -ms-transition: bottom 0.2s linear 0.4s;
  transition: bottom 0.2s linear 0.4s;
}
.menu-button.active .icon-menu-burger {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: transform 0.2s linear 0.4s;
  -moz-transition: transform 0.2s linear 0.4s;
  -o-transition: transform 0.2s linear 0.4s;
  -ms-transition: transform 0.2s linear 0.4s;
  transition: transform 0.2s linear 0.4s;
  -webkit-transition: -webkit-transform 0.2s linear 0.4s;
}
.menu-button.active .icon-menu-burger__line {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.menu-button.active .icon-menu-burger:before {
  -webkit-transition: top 0.2s linear;
  -moz-transition: top 0.2s linear;
  -o-transition: top 0.2s linear;
  -ms-transition: top 0.2s linear;
  transition: top 0.2s linear;
  top: 0;
}
.menu-button.active .icon-menu-burger:after {
  -webkit-transition: bottom 0.2s linear;
  -moz-transition: bottom 0.2s linear;
  -o-transition: bottom 0.2s linear;
  -ms-transition: bottom 0.2s linear;
  transition: bottom 0.2s linear;
  bottom: 0;
}
.mobile-menu .menu-button {
  position: absolute;
  top: 12px;
  right: 16px;
}
/* mob-menu-btn end */

@media only screen and (max-width: 1189px) {
  .top-menu {
    display: none;
  }
  .menu-button {
    display: inline-block;
  }
}
/** /. top-menu **/

/* /. HEADER */

/* TOP SLIDER */
.top-slider-wrapper {
  margin-bottom: 40px;
}
.top-slider {
  overflow: hidden;
  height: 33.7vw;
}
.top-slider.slick-slider {
  overflow: inherit;
}
.top-slider .element-img {
  height: 33.7vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #272727;
}
.slide-pattern {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.top-slider .slick-list {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.top-slider .element {
  border-radius: 5px;
  overflow: hidden;
}
.top-slider .slick-prev,
.top-slider .slick-next {
  /* margin-top: -22px; */
}
.top-slider .slider-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #fff;
  overflow: hidden;
}
.top-slider .slider-content-inner {
  padding: 30px 50px 20px;
}
.top-slider .title {
  font-size: 60px;
  line-height: 1.3;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
}
.top-slider .subtitle {
  font-size: 30px;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
}
.top-slider .text {
  margin: 10px 0 20px;
  font-size: 18px;
}
.top-slider .slick-dots {
  position: absolute;
}
@media (min-width: 1190px) {
  .top-slider {
    height: 400px;
  }
  .top-slider .element-img {
    height: 268px;
  }
  .top-slider.slick-slider {
    height: auto;
  }
}
@media (max-width: 1189px) {
  .top-slider .slider-content-inner {
    padding: 2% 5% 1%;
  }
  .top-slider .title {
    font-size: 4.8vw;
  }
  .top-slider .subtitle {
    font-size: 2.6vw;
  }
  .top-slider .text {
    margin: 1% 0 2%;
    font-size: 1.5vw;
  }
  .top-slider .btn.min {
    font-size: 1.6vw;
    padding: 1% 2%;
  }
}
/* /. TOP SLIDER */

/* STYLER */
select {
  height: 34px;
  padding: 6px 24px 5px 15px;
  border: 1px solid #e3e3e4;
  border-radius: 3px;
  color: #333333;
  font-size: 14px;
  font-weight: 300;
  font-family: "Roboto";
  background: #fff;
}
.select-styler,
.cloned-select-styler {
  width: 100%;
  margin-bottom: 20px;
  display: block !important;
}
.jq-selectbox__search input::-moz-placeholder {
  opacity: 0;
}
.jq-selectbox__search input:-ms-input-placeholder {
  opacity: 0;
}
.jq-selectbox__search input::-webkit-input-placeholder {
  opacity: 0;
}
.jq-selectbox__select {
  box-shadow: none;
  height: 34px;
  padding: 6px 24px 5px 15px;
  border: 1px solid #e3e3e4;
  border-radius: 3px;
  color: #333333;
  text-shadow: none;
  font-size: 14px;
  font-weight: 300;
  font-family: "Roboto";
  background: #fff;
}
.jq-selectbox__select:hover {
  border-color: #f4a33b;
}
.filters-block .jq-selectbox__select {
  border: 1px solid transparent;
}
.form-group .opened .jq-selectbox__select {
  border-color: transparent;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}
.form-group .opened .jq-selectbox__select:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 6px;
  bottom: -3px;
  left: 0;
  background: #fff;
  z-index: 10;
}
.jq-selectbox__select:hover {
  background: #fff;
}
.jq-selectbox__select:active {
  background: #fff;
  box-shadow: none;
}
.opened .jq-selectbox__select {
  border-color: #bbbbbb;
}
.jq-selectbox__trigger {
  border-left: none;
  width: 24px;
}
.jq-selectbox__trigger-arrow {
  opacity: 1;
  border: none;
  top: 15px;
  background: url(../images/content/down-arrow.png) 0 0 no-repeat;
  width: 12px;
  height: 6px;
  right: 8px;
}
.jq-selectbox.opened .jq-selectbox__trigger-arrow {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  top: 13px;
}
.jq-selectbox__dropdown {
  top: 30px !important;
  bottom: inherit !important;
  border-radius: 0;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  max-height: 260px;
  overflow: hidden;
  padding: 0 0 10px !important;
  border: none;
  border-radius: 0 3px 3px 3px;
}
.jq-selectbox ul {
  max-height: 230px !important;
}
.jq-selectbox li {
  padding: 0 15px;
  color: #666666;
  white-space: normal !important;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: bold;
  margin: 12px 0;
}
.jq-selectbox li:hover {
  color: #ef4134;
  background: transparent;
}
.jq-selectbox li.sel {
  color: #f04134;
  background: transparent;
}
.jq-selectbox li:last-of-type {
  border-bottom: none;
}
.jq-selectbox__select-text {
  font-size: 14px;
  font-weight: 300;
}
.form-group.error .jq-selectbox__select {
  border-color: #f6392f;
  background: #fdf0e8;
}
.jq-selectbox__dropdown .jspVerticalBar {
  width: 10px;
  right: 10px;
  background: #f2f2f2;
}
.jspDrag {
  background: #c1c1c1;
  border-radius: 0;
}

/* /. STYLER */

/* CATALOG */
.catalog-wrapper .category {
  margin-bottom: 30px;
}
.catalog .element {
  background: #fff;
  border-radius: 5px;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); */
  margin-bottom: 20px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
.catalog .element:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.catalog .element .inner {
  border-radius: 5px;
  overflow: hidden;
}
.catalog .element .img-wrapper {
  height: 270px;
  overflow: hidden;
  text-align: center;
}
.catalog .element .img-wrapper img {
  max-height: 100%;
}
.catalog .element .element-content {
  padding: 15px 20px 0;
  width: 100%;
}
.catalog .element .title {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: black;
  font-style: normal;
  line-height: 1.1;
  font-weight: bold;
  /* margin-bottom: 15px; */
  height: 44px;
  overflow: hidden;
  position: relative;
  padding-right: 30px;
}
.catalog .element .product-info-btn {
  width: 20px;
  height: 20px;
  display: block;
  text-align: center;
  line-height: 20px;
  border: 1px solid #ccc;
  border-radius: 100%;
  position: absolute;
  right: 0;
  top: 2px;
  color: #ccc;
  font-size: 14px;
  font-weight: normal;
  cursor: pointer;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  z-index: 10;
}
.catalog .element .product-info-btn:hover,
.catalog .element .product-info-btn.active {
  border-color: #f88b3f;
  color: #f88b3f;
}
.catalog .element .element-bottom {
  padding: 0 20px 15px;
  position: relative;
  z-index: 10;
}
.catalog .element .element-options {
  height: 36px;
}
.catalog .element .element-weight {
  height: 20px;
  margin-bottom: 2px;
  color: #ef4134;
}
.catalog .element .element-price {
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 1.2;
}
.catalog .cart-btn {
  display: inline-block;
  color: #fff;
  background: #efbc1e;
  padding: 8px 20px;
  font-size: 15px;
  font-style: initial;
  position: relative;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  border: none;
  border-radius: 5px;
  /* margin: 0 0 5px 5px; */
}
.catalog .cart-btn i {
  margin-left: -2px;
}
.catalog .cart-btn:hover {
  background: #ef4134;
}
.catalog .element .element-text {
  position: absolute;
  background: #272727;
  padding: 20px;
  border-radius: 5px;
  top: 345px;
  z-index: 20;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
.catalog .element .element-text.active {
  top: 325px;
  visibility: visible;
  opacity: 1;
}
.catalog .element .element-text .f16 {
  line-height: 1.3;
}
.catalog .element .element-text:before {
  content: "";
  display: block;
  position: absolute;
  top: -8px;
  right: 22px;
  border-bottom: 8px solid #272727;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}

/* input counter */
.element-counter {
  display: inline-block;
  vertical-align: top;
}
.element-counter .input-group {
  position: relative;
  /* display: none; */
  border-radius: 5px;
}
.element-counter .form-control {
  border: 1px solid #e3e3e4;
  background: transparent;
}
.element-counter .input-number {
  width: 55px;
  height: 40px;
  padding: 0 20px 0 8px;
  border-radius: 5px;
  border-color: #e3e3e4;
  font-size: 16px;
  margin-bottom: 0;
}
.element-counter .btn-number {
  background: #e3e3e4;
  border: none;
  position: absolute;
  width: 16px;
  height: 20px;
  padding: 0;
}
.element-counter .btn-number.btn-plus {
  top: 0;
  right: 0;
  border-radius: 0 5px 0 0;
}
.element-counter .btn-number.btn-minus {
  bottom: 0;
  right: 0;
  border-radius: 0 0 5px 0;
}
.element-counter .btn-number.btn-plus span {
  display: inline-block;
  border-bottom: 5px solid #9da8a5;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  position: absolute;
  left: 50%;
  margin-left: -4px;
  top: 8px;
}
.element-counter .btn-number.btn-minus span {
  display: inline-block;
  border-top: 5px solid #9da8a5;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  position: absolute;
  left: 50%;
  margin-left: -4px;
  bottom: 8px;
}
.element-counter .btn-number:hover:not([disabled="disabled"]) {
  background: #ccd3d1;
}
/* /. input counter */

.msoptionsprice-spinner {
  visibility: hidden;
  opacity: 0;
}

/* /. CATALOG */

/* INDEX INFORMATION BLOCK */
.index-information-block {
  background: #fff;
}
.index-information-block .element {
  margin-bottom: 60px;
}
.index-information-block .img-wrapper {
  position: relative;
  height: 170px;
  width: 193px;
  margin: 0 auto 25px;
}
.index-information-block .img-wrapper img {
  position: absolute;
  bottom: 0;
  left: 0;
}
.index-information-block .element-content {
  padding: 0 20px;
}
.index-information-block .element-content .title {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}
/* /. INDEX INFORMATION BLOCK */

/* INDEX REVIEWS */
.reviews-section {
  background: url(../images/content/callback-back.jpg) 0 0 no-repeat;
  height: 590px;
}
.reviews-carousel-wrapper {
  padding-left: 550px;
  padding-top: 100px;
}
.reviews-carousel {
  height: 200px;
  width: 600px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.reviews-carousel .element {
  height: 200px;
  background: #fff;
  padding-left: 200px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.4;
}
.reviews-carousel .element .img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  overflow: hidden;
}
.reviews-carousel .element-content {
  padding: 30px;
  height: 200px;
  overflow: auto;
}
.reviews-carousel .element-content .title {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

@media only screen and (min-width: 1921px) {
  .reviews-section {
    background-size: cover;
  }
}
@media (max-width: 1190px) {
  .reviews-section {
    display: none;
  }
}
/* /. INDEX REVIEWS */

.content-section {
  background: #faf8e3;
  font-size: 15px;
  color: #352b17;
}

/* INDEX MAP */
#map2 {
  height: 500px;
}
.callback {
  position: absolute;
  top: 100px;
  left: 0;
  width: 300px;
  background: #fff;
  z-index: 20;
}
.footer_line_1,
.footer_line_2,
.footer_line_3 {
  margin-left: 30px;
  margin-top: 10px;
}
.footer_line_1 {
  margin-top: 20px;
}
.footer_line_1 i,
.footer_line_1 .text,
.footer_line_2 i,
.footer_line_2 .text,
.footer_line_3 i,
.footer_line_3 .text {
  display: inline-block;
  vertical-align: top;
}
.footer_line_1 i,
.footer_line_2 i,
.footer_line_3 i {
  margin-right: 10px;
  position: relative;
  top: 2px;
  font-size: 18px;
  color: #ef4134;
}
.footer_line_1 .text {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.428;
  width: 200px;
  overflow: hidden;
}
.footer_line_2 .text {
  font-size: 18px;
  line-height: 1.473;
  height: 26px;
  overflow: hidden;
}
.footer_line_2 i {
  top: 4px;
}
.footer_line_3 .text {
  font-size: 14px;
  line-height: 2.165;
  height: 60px;
  overflow: hidden;
}
.footer_line_3 i {
  top: 6px;
}
.footer_line_4 {
  margin-top: 20px;
  width: 300px;
  padding-left: 30px;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  background: #f04134;
}
.footer_line_5 {
  margin: 20px 30px;
  font-size: 14px;
  line-height: 1.429;
}
.callback-form {
  padding: 0 30px 20px;
}

@media only screen and (max-width: 767px) {
  .callback {
    position: static;
    width: auto;
    margin: 0 -15px 0;
    padding-top: 10px;
  }
  .header-top {
    display: none;
    }
    
    .menu-button {
        display: none;
    }
    .nav_root li {
    /* margin: 0 auto; */
    display: flex!important;
    justify-content: center;
}

.nav_root .slick-prev {
    left: 0;
}

.nav_root .slick-next {
    right: 0;
}
  .footer_line_4 {
    width: 100%;
    text-align: left;
    padding-left: 15px;
  }
  .footer_line_1,
  .footer_line_2,
  .footer_line_3,
  .footer_line_5 {
    margin-left: 15px;
  }
  .callback-form {
    padding: 0 15px 20px;
  }
  #map2 {
    height: 360px;
  }
}
/* /. INDEX MAP */

/* FOOTER */
.footer-inner {
  min-height: 180px;
  padding-top: 32px;
  color: #535353;
  font-size: 14px;
}
.index-template .footer-inner {
  padding-left: 330px;
}
.footer-top {
  padding-bottom: 20px;
  margin-bottom: 27px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-menu li {
  display: inline-block;
  margin-right: 15px;
}
.footer-menu li:last-of-type {
  margin-right: 0;
}
.footer a {
  color: #ccc;
}
.footer a:hover,
.footer .active a {
  color: #efbc1e;
}
.footer .social-links a {
  color: rgba(255, 255, 255, 0.2);
  margin: 0 0 0 10px;
}
.footer .social-links a:first-of-type {
  margin-left: 0;
}
.footer .social-links a:hover {
  color: #fff;
}
.payments i {
  color: #ccc;
  margin-left: 2px;
}
@media (max-width: 991px) {
  .footer-inner {
    padding-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .index-template .footer-inner {
    padding-left: 0;
  }
}
/* /. FOOTER */

/* OTHER */
.base-template .content {
  background: #fff;
  padding: 40px;
  border-radius: 5px;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); */
}
@media (max-width: 767px) {
  .base-template .content {
    padding: 0;
    font-size: 14px;
  }
}

.payments .element {
  margin-bottom: 30px;
  padding-left: 150px;
  min-height: 122px;
  padding-top: 10px;
}
.payments .element .img-wrapper {
  width: 122px;
  position: absolute;
  top: 0;
  left: 0;
}
.payments .element .title {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}
@media only screen and (max-width: 767px) {
  .payments .element {
    padding-left: 100px;
    padding-top: 0;
  }
  .payments .element .img-wrapper {
    width: 72px;
  }
}
/* /. OTHER */

/* NEWS LIST */
.news-list .element {
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  border-radius: 5px;
  overflow: hidden;
}
.news-list .element:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.news-list .element .img-wrapper {
  height: 128px;
  overflow: hidden;
  background: #ccc;
}
.news-list .element-content {
  padding: 25px;
}
.news-list .element .title {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
  height: 44px;
  overflow: hidden;
  font-size: 14px;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
.news-list .element:hover .title {
  color: #ef4134;
}
.news-list .element .text {
  color: #878686;
  font-size: 14px;
  height: 66px;
  overflow: hidden;
}
.back-link {
  margin: -15px 0 30px;
}
.back-link a {
  color: #000;
  text-transform: uppercase;
}
.back-link a:hover {
  color: #ef4134;
}
.back-link i {
  vertical-align: middle;
  margin-top: -2px;
}

@media only screen and (max-width: 1189px) {
  .news-list .element .img-wrapper {
    height: 10.9vw;
  }
  .news-list .element-content {
    padding: 20px;
  }
  .news-list .element .text {
    height: 60px;
    font-size: 13px;
  }
}
@media only screen and (max-width: 991px) {
  .news-list .element .img-wrapper {
    height: 15.9vw;
  }
  .index-template .news-list > .row > div:nth-child(3){
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .news-list .element .img-wrapper,
  .news-list .element .title,
  .news-list .element .text {
    height: auto;
  }
}
.news-list > .row > hr:nth-of-type(2n) {
  clear: both;
}
@media only screen and (min-width: 992px) {
  .news-list > .row > hr:nth-of-type(2n) {
    clear: none;
  }
  .news-list > .row > hr:nth-of-type(3n) {
    clear: both;
  }
}
/* /. NEWS LIST */

/* CART */
#msOrder {
  margin-top: 0 !important;
}
.cart-body {
  margin: 10px 0 0;
}
.cart-body .element {
  background: #fff;
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid #ebebeb;
  position: relative;
}
.cart-body .element-counter {
  display: inline-block;
}
.cart-body .element-price {
  display: inline-block;
}
.cart-body .element-delete {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  color: red;
  padding: 0;
  border: 0;
  background: transparent;
  z-index: 20;
}
.cart-body .element-delete i {
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
.cart-body .element-delete:hover i {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.cart-body .subelement2 {
  padding-left: 120px;
  min-height: 100px;
}
.cart-body .subelement2 .text,
.cart-body .element .element-price,
.cart-body .element .element-counter {
  height: 100px;
}
.cart-body .element .element-img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  opacity: 1;
}
.cart-body .element a:hover .element-img {
  opacity: 0.8;
}
.cart-body .element hr {
  margin: 10px 0;
}

@media only screen and (max-width: 767px) {
  .cart-body .element .element-img {
    position: static;
    margin-bottom: 20px;
  }
  .cart-body .subelement2 {
    padding-left: 0;
  }
  .cart-body .subelement2 .text,
  .cart-body .element .element-price,
  .cart-body .element .element-counter {
    height: auto;
  }
}

.order-wrapper .material-icons {
  vertical-align: middle;
  margin-top: -3px;
}
.order-wrapper #msOrder .error {
  background: #ffd2d2;
  border-color: #ffd2d2 !important;
}

/* /. CART */

/* PRODUCT DETAIL */
.product-detail {
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.product-detail-content {
  padding-top: 30px;
}
.product-detail .jq-selectbox__select {
  height: 40px;
}
.product-detail .jq-selectbox__dropdown {
  top: 37px !important;
}
.product-detail select {
  height: 40px;
}
.product-detail .jq-selectbox__select {
  padding-top: 9px;
}
.product-detail .jq-selectbox__trigger-arrow {
  top: 18px;
}
.jq-selectbox.opened .jq-selectbox__trigger-arrow {
  top: 16px;
}
.product-detail .element-counter .input-number {
  width: 65px;
  height: 45px;
}
.product-detail .element-counter .btn-number {
  height: 23px;
}
.product-carousel {
  max-height: 570px;
  overflow: hidden;
  text-align: center;
}
.product-carousel .slick-prev {
  left: 5px;
}
.product-carousel .slick-next {
  right: 5px;
}
@media only screen and (min-width: 992px) {
  .product-detail h1 {
    font-size: 40px;
  }
}
/* /. PRODUCT DETAIL */
.order-content p {
  font-size: 13px;
  line-height: 2;
  color: #505050;
}
.getOrderMessage {
  padding: 50px;
  margin-bottom: 5px;
  border-radius: 5px;
  text-align: center;
  /* background: #c1f1be; */
}
.id-58 h1 {
  display: none;
}
.logo__site {
    width: 9%;
}
.product__content p{
    margin: 0px;
}
.element-text p {
    margin: 0px;
}
.catalog__mini{
    display: NONE;
}
.catalog_mini-hidden{
    display: none;
}
.catalog_mini-active{
    display: block!important;
}
.catalog .element .img-wrapper img {
    margin-top: 10px;
}
.info__graf__text p {
    margin: 0px;
}
.top-catalog-ul li {
    position: relative;
    display: inline-block;
    color: var(--secondary);
    padding: 4.5px 34px;
    cursor:pointer;
    font-size: 24px;
    text-align: center;
}
.top-catalog-ul {
    margin-bottom: 4rem;
}
.nav-btn {
    z-index: 20;
    position: relative;
    display: inline-block;
    color: var(--secondary);
    padding: 4.5px 33px;
    font-size: 24px;
}
.content-tab{
    display: none;
}
.content-tab.active{
    display: block!important;
}
.pagenavigation.allitems{
    display: none;
}
.nav_root {
    margin-bottom: 4rem;
    display: flex;
}
.catalog-li-trigger{
    cursor:pointer;
}
.catalog-li-trigger.active{
        color: white;
        background: #EFBC1E;
        border-radius: 32px;
        /* padding-bottom: 25px; */
}
.header-wrapper {
    display: flex;
    margin-bottom: 38px;
}

.header-wrapper__top {
    display: flex;
    align-items: flex-start;
}
.header-wrapper__top--left {
    display: flex;
    flex-grow: 1;
}

.header-wrapper__top--right {
    display: flex;
    align-items: center;
}
.header {
    padding-top: 20px;
}

.header-wrapper__logotype {
    width: 19%;
    margin-top: 3px;
}

.top__address span {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 1.2;
    margin-left: 7px;
    color: #000000;
    margin-right: 20px;
}
.top__worktime {
    color: rgba(0, 0, 0, 0.4);
}
.top__phone {
    color: black;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    /* line-height: 22px; */
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding-right: 15px;
}
.header-wrapper__content {
    width: 82%;
}
.top__login img {
    padding-left: 25px;
    padding-right: 5px;
}

.top__login {font-weight: normal;cursor: pointer;color: black;}
.header-wrapper_bottom ul {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.header-wrapper_bottom li {
    padding-right: 34px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    line-height: 19px;
}
.header-wrapper_bottom {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.shopping-cart {
    display: flex;
    background: #EFBC1E;
    cursor: pointer;
    color: white;
    padding: 8px 21px;
    font-size: 15px;
    border-radius: 44px;
}

.shopping-cart img {
    padding-right: 11px;
}
.title-item {
    background: #F8F8F8;
    border-radius: 8px;
    display: flex;
    /* padding: 12px 16px; */
    margin-bottom: 4px;
}

.title-item img {
    margin-top: 12px;
    margin-left: 16px;
    width: 40px;
    margin-bottom: 12px;
    margin-right: 16px;
    height: 40px;
}

.top-title__maintitle {
    margin-top: 12px;
    font-weight: bold;
    font-size: 15px;
    color: black;
}
.top-title__subtitle {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.6);
}
.pr-18{
    /* padding-right: 18px; */
}
.top-slider .slick-prev {
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.08);
    border-radius: 44px;
    left: -25px;
}

.top-slider.slick-initialized.slick-slider.slick-dotted {}

.top-slider .slick-next {
    background: #FFFFFF;
/* elevate - sm */
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.08);
    border-radius: 44px;
    right: -25px;
}

.top-slider i {
    color: #EFBC1E;
}
.nav_root li a {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    padding: 8px 20px;
    font-weight: bold;
    /* margin-right: 20px; */
}
.element-content .subtitle {font-size: 13px;font-family: auto;min-height: 33px;line-height: 1.3;color: rgba(0, 0, 0, 0.4);font-weight: normal;font-style: normal!important;}

.element-content .subtitle strong {
    font-size: 13px;
    font-family: auto;
    line-height: 1.3;
    color: rgba(0, 0, 0, 0.4);
    width: 100%;
    font-weight: normal;
    font-style: normal!important;
}
button.btn.min.btn-success.btn-more {
    background: none;
    font-size: 18px;
    color: #efbc1e;
    border-color: #efbc1e;
    border: 1px solid;
    font-style: normal;
    width: auto;
}
.main-news-title {
    margin-bottom: 64px;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
}
.news-item-text {
    position: absolute;
    bottom: 9px;
    left: 16px;
}

.news-item-wrapper {
    position: relative;
}

.news-item-title {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 120%;
    z-index: 999999999;
    position: relative;
    color: white;
}

.news-item-date {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    z-index: 99;
    position: relative;
    line-height: 120%;
    margin-top: 6px;
    color: #efbc1e;
}
.news-item-wrapper:after {
    content: '';
    position: absolute;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    top: 0;
    z-index: 0;
    right: 0;
    opacity: 0.6;
    left: 0;
}
.news-list-slick-init .slick-next {
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.08);
    border-radius: 44px;
    right: -16px;
}

.news-list-slick-init .slick-prev {
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.08);
    border-radius: 44px;
    left: -16px;
}

.news-list-slick-init i {
    color: #EFBC1E;
}
.news-list-slick-init .slick-dots li {
    width: 8px;
    height: 8px;
}
h2{
    font-style:normal;
}
.order-trigger-section {
    background: #EFBC1E;
    padding-top: 60px;
    padding-bottom: 64px;
}

.otder-trigger-title {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 120%;
    color: white;
    /* font-family: 'Lato', sans-serif; */
}

.order-trigger-subtitle {
    font-style: normal;
    margin-top: 24px;
    margin-bottom: 25px;
    font-weight: 500;
    width: 50%;
    font-size: 22px;
    line-height: 140%;
    color: white;
}
.order-trigger-images img {
    margin-right: 25px;
}
.app-trigger-section {
    background: #F8F8F8;
    padding-top: 66px;
    padding-bottom: 60px;
}

.app-item-title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 120%;
    color: black;
    margin-bottom: 20px;
    margin-top: 24px;
}

.app-item-subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 120%;
/* or 18px */


/* gray-800 */
    width: 80%;
    color: rgba(0, 0, 0, 0.8);
}

.app-item-wrapper img {
    margin-left: 8px;
}
.app-item {
    width: 20.2%;
    margin-right: 30px;
}
.d-flex{
    display: flex;
}
img.iphone-amazing-img {
    position: absolute;
    right: 64px;
}
.footer-wrapper {
    background: #FFFFFF;
    box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
    padding-top: 24px;
    padding-bottom: 24px;
}

.footer-top-section {
    display: flex;
    justify-content: space-between;
}

nav.footer-navigation ul {
    display: flex;
}

nav.footer-navigation li {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
/* identical to box height */
    margin-right: 36px;
    display: flex;
    align-items: center;

/* Template / Dark */
    color: #555555;
}

w {}

nav.footer-navigation {
    width: 33%;
}

.footer-trigger-title {
    width: 33%;
    font-style: normal;
    font-weight: normal;
    color: black;
    font-size: 15px;
    line-height: 120%;
/* identical to box height, or 18px */
    text-align: center;
}

.footer-phone {
    width: 33%;
    text-align: right;
    /* color: rgba(0, 0, 0, 0.8); */
}

.footer-phone a {
    color: rgba(0, 0, 0, 0.8);
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 120%;
}
.footer-socials {
    display: flex;
}

.footer-middle-section {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}

.footer-social-icon {
    margin-right: 8px;
}
.footer-worktime {
    color: rgba(0, 0, 0, 0.6);
    font-style: normal;
    font-weight: normal;
    margin-top: -20px;
    font-size: 15px;
    line-height: 120%;
}
.payment-cards-wrapper {
    text-align: right;
    margin-top: 28px;
    margin-bottom: 30px;
}

.footer-trigger-buttons img {
    width: 123px;
}

.payment-cards-wrapper img {
    margin-left: 15px;
}
hr.footer-hr {border-top: 1px solid rgba(0, 0, 0, 0.1);}
.footer-bottom-section {
    display: flex;
    justify-content: space-between;
}

.mark {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 120%;
    color: rgba(0, 0, 0, 0.6);
}

.company_policy a {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
    line-height: 120%;
}
.shopping-cart span {
    margin-left: 5px;
}
input[type="text"] {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 4px;
    font-style: normal;
    font-weight: normal;
    width: 280px;
    padding: 7px 12px;
    color: rgba(0, 0, 0, 0.4);
    font-size: 15px;
}
.search-icon {
    position: absolute;
    top: 34%;
    right: 43px;
}
input[type="text"]:focus {
    border: 1px solid #EFBC1E;
    color: black;
}
img.header-mobile-logo {
    display: none;
}

.mobile-menu-icon {
    display: none;
}
.nav_root .slick-prev {
    display: none!important;
}

.nav_root .slick-next {
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.08);
    border-radius: 44px;
    right: 0;
}

.cart-add-response-success {
    position: absolute;
    background: #FFFFFF;
/* text-shadow-xl */
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    width: 300px;
    font-style: normal;
    padding: 16px;
    display: none;
    top: 56px;
    z-index: 1;
    right: 20px;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}
.cart-add-response-success.active{
    display: block;
}
.cart-add-response-success:after {
    content: '';
    position: absolute;
    right: 12px;
    top: -31px;
    border: 17px solid transparent;
    border-bottom: 20px solid white;
}
.nav_root i {
    color: #EFBC1E;
}
.mobile-element-bottom {
    display: none;
}
.footer-mobile-version{
    display: none;
}
.nav_root_wrapper.fixed {
    position: fixed;
    background: #FFFFFF;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.12);
    top: 0;
    height: 70px;
    left: 0;
    right: 0;
    z-index: 800;
}

.nav_root_wrapper.fixed .nav_root {
    margin:0 auto;
    /* height: 70px; */
    align-items: center;
}
.fixed .catalog-li-trigger.active {
    background: none;
    color: black;
    border-bottom: 2px solid #efbc1e;
    /* padding-bottom: 21px; */
    border-radius: 0;
}

.fixed .catalog-li-trigger {
    padding: 0;
    margin-right: 40px;
    padding-bottom: 21px;
    padding-top: 22px;
}
.product-title {
    font-style: normal;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 48px;
    line-height: 120%;
}

.product-content_wrapper {
    padding-left: 96px;
}
.product-cashback-icon {
    width: 170px;
    height: 41px;
    display: flex;
    background: #E22C2F;
    border-radius: 70px;
    position: absolute;
    left: 0;
    top: 0;
    align-items: center;
    justify-content: center;
}
.product-cashback-icon p {
    font-style: initial;
    font-weight: bold;
    font-size: 18px;
    margin-left: -11px;
    font-family: 'Lato';
    color: white;
    line-height: 22px;
    margin: 0;
}

.product-cashback-icon img {
    margin-right: 5px;
}
.product-ingrediensts-btn {
    color: #E22C2F;
    cursor: pointer;
}

.product-ingredients-description {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 120%;
/* or 18px */


/* gray-600 */
    color: rgba(0, 0, 0, 0.6);
}
.ingredient-item {
    display: flex;
    cursor: pointer;
    align-items: center;
    position: relative;
}

img.ingredient-img {
    width: 40px;
    margin-right: 24px;
}

.ingredient-title {
    /* flex-grow: 1; */
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 120%;
    width: 100%;
    cursor: pointer;
}

.ingredients-wrapper {
    background: #FFFFFF;
/* gray-100 */
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 16px;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 20px;
}
label.ingredient-title::after {content: '';display: inline-block;width: 20px;height: 20px;position: absolute;right: 0;vertical-align: middle;border: 2px solid #EFBC1E;}

.ingredient-item input[type="checkbox"] {
    display: none;
}
.ingredient-item input[type="checkbox"]:checked + label::after{
    border:1px solid red;
}
img.yellow-checked {
    position: absolute;
    right: 2px;
    bottom: 13px;
    display: none;
}
.product-ingrediensts-btn-arrow.rotate {
    transform: rotate(180deg);
}
.product-size-title {
    color: rgba(0, 0, 0, 0.4);
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 16px;
}

.product-size-btn-wrapper {
    display: flex;
    justify-content: center;
}

.product-size-btn {
    width: 33%;
    text-align: center;
    background: #F8F8F8;
    font-weight: bold;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
    border-radius: 0px;
    padding: 15px 24px;
}

.product-size-btn.active {
    background: #000000;
    border-radius: 4px 0px 0px 4px;
    color: white;
    transition: 0.5s;
}
.product-lavash-btn.active {
    background: #000000;
    border-radius: 4px 0px 0px 4px;
    color: white;
    transition: 0.5s;
}
.product-lavash-title {
    color: rgba(0, 0, 0, 0.4);
    font-size: 15px;
    margin-top: 24px;
    margin-bottom: 16px;
}

.product-lavash-btn-wrapper {
    display: flex;
    justify-content: center;
}

.product-lavash-btn {
    width: 25%;
    text-align: center;
    background: #F8F8F8;
    font-weight: bold;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
    border-radius: 0px;
    padding: 15px 24px;
}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.modificator-input-wrapper input {
    width: 20%;
    border: none;
    background: inherit;
    text-align: center;
    padding: 0;
}

.modificator-card {
    flex: 0 0 20%;
    margin-right: 12px;
    padding: 17px 10px 8px 10px;
    max-width: 20%;
    background: #F3F3F3;
    border-radius: 8px;
}

.modificator-input-wrapper {
    display: flex;
    justify-content: space-between;
}

.modificator-plus-item {border-radius: 50%;width: 28px;color: white;font-weight: bold;background: #EFBC1E;cursor: pointer;height: 28px;display: flex;/* align-items: center; */justify-content: center;}
.modificator-minus-item {
    border-radius: 50%;
    width: 28px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: bold;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.midificator-price {
    text-align: center;
    /* margin-bottom: 4px; */
}

.midificator-title {
    text-align: center;
    margin-top: 4px;
    line-height: 1.2;
    margin-bottom: 0px;
    height: 39px;
}

.modificator-card img {
    width: 78px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 60px;
}

.product-modificator-title {
    color: rgba(0, 0, 0, 0.4);
    font-size: 15px;
    margin-top: 40px;
    margin-bottom: 24px;
}
.product-modificator-slider-wrapper {
    display: flex;
}
.product-modificator-slider-wrapper .slick-next {
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.08);
    width: 32px;
    border-radius: 44px;
    right: -3px;
    height: 32px;
    display: flex!important;
    justify-content: center;
    align-items: center;
}

.product-modificator-slider-wrapper i {
    color: #EFBC1E;
    font-size: 12px;
}

.product-modificator-slider-wrapper .slick-prev {background: #FFFFFF;box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.08);width: 32px;border-radius: 44px;left: -16px;height: 32px;display: flex!important;justify-content: center;align-items: center;}
.product-modificators {
    margin-bottom: 40px;
}
.product-buy-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-buy-price {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 120%;
}

.product-buy-input {
    display: flex;
    background: #F8F8F8;
    margin-left: 26px;
    border-radius: 4px;
    padding: 12px 34.5px;
    justify-content: center;
}

.product-buy-input input {
    width: 52px;
    border: none;
    font-family: Lato;
    padding-left: 17px;
    font-style: normal;
    padding-right: 17px;
    background: #F8F8F8;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    text-align: center;
}
.product-buy-btn {
    background: #EFBC1E;
    border-radius: 4px;
    border: none;
    padding: 13.5px 28px;
    display: flex;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
}
.product-buy-total-count {
    font-weight: bold;
    margin-right: 6px;
    margin-left: 6px;
}

.product-buy-plus {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
}

.product-buy-minus {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
.calories-total {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 20px;
    line-height: 120%;
/* or 26px */
    display: flex;
    margin-top: 60px;
    align-items: center;
    color: #000000;
}

.caloreies-info {
    display: flex;
    margin-bottom: 60px;
}

.caloreies-info-item {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 120%;
/* identical to box height, or 18px */


/* gray-600 */
    color: rgba(0, 0, 0, 0.6);
}

.caloreies-info-item span {
    color: black;
    margin-right: 24px;
}
.product-card-bottom-card-title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 120%;
/* or 26px */


/* black */
    margin-top: 20px;
    color: #000000;
}
.row.product-card-bottom-card-wrapper {
    margin-bottom: 36px;
}
.product-card-bottom-card-subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 120%;
/* or 18px */


/* gray-600 */
    color: rgba(0, 0, 0, 0.6);
    margin-top: 16px;
}
.modal-menu-mobile.active{
    width: 100%;
}
.modal-menu-mobile {
    background: #FFFFFF;
    box-shadow: 0px 0px 12px #000000;
    position: fixed;
    z-index: 999;
    /* height: auto; */
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    overflow-y: auto;
    /* display: none; */
    right: 0;
    width: 0;
    left: 0;
    bottom: 0;
}
img.modal-menu-close {
    position: absolute;
    top: 6px;
    left: 10px;
}
.modal-menu-main-content {
    padding-top: 97px;
    padding-right: 24px;
    display: block;
    height: 100%;
    width: 80%;
    background: white;
    box-shadow: 0px 0px 12px #000000;
    display: none;
    padding-left: 32px;
}

.modal-menu-main-content li {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;

/* black */
    color: #000000;
    margin-bottom: 34px;
}
input.mobile-input-search {
    width: 100%;
}
li.mobile-input-wrapper {
    position: relative;
    margin-left: -12px;
}

li.mobile-input-wrapper img {
    right: 12px;
}
.modal-menu-mobile-socials {
    display: flex;
    justify-content: center;
}

.modal-menu-mobile-social-icon {
    margin-right: 12px;
}

.modal-menu-mobile-social-icon:last-child {
    margin: 0;
}

hr.modal-menu-mobile-hr {
    margin-bottom: 36px;
    margin-top: 36px;
}

li.loginuser-mobile {
    display: flex;
    align-items: center;
}

li.loginuser-mobile img {
    margin-right: 13px;
}
.modal-menu-mobile-adres {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 120%;
/* identical to box height, or 18px */
    color: black;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 36px;
    text-align: center;

/* black */
}

.modal-menu-mobile-adres i {
    margin-right: 12px;
}
a.mobile-menu-modal-phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
/* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;

/* black */
    color: #000000;
}
.cart-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.cart-image {
    flex: 0 0 25%;
    max-width: 20.5%;
}
.cart-title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
/* identical to box height */
    margin-left: 32px;
    color: #000000;
}

.cart-title a {
    color: inherit;
}
.cart-image-wrapper {
    display: flex;
    align-items: center;
}
.tr-cart-wrapper {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin-bottom: 33px;
}

td.td-cart-title {
    width: 50%;
}

td.td-cart-price {
    width: 25%;
}

td.td-cart-count {
    width: 25%;
    display: flex;
    justify-content: flex-end;
}
.change-value-cart-input {width: 22px;text-align: center;padding: 0;margin-left: 23px;margin-bottom: 0;font-weight: bold;margin-right: 23px;color: black;border: none;background: #F8F8F8;}
.cart-input-vals{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1px 17.5px;
        background: #F8F8F8;
        border-radius: 4px;
}
.table-striped{
    display: flex;
}
.table-striped tbody{
    width: 100%;
}
span.mr-2.text-nowrap {
    font-weight: bold;
    font-size: 22px;
    line-height: 120%;
/* or 26px */
    display: flex;
    text-align: center;
    align-items: center;

/* black */
    color: #000000;
    justify-content: center;
}
.cart-input-plus {
    cursor: pointer;
}

.cart-input-minus {
    cursor: pointer;
}
h1.cart-pagetitle {
    margin-top: 22px;
    text-align: center;
}
.cart-subtitle {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 110%;
    margin-top: 9px;
    color: rgba(0, 0, 0, 0.4);
}
.gift {
    color: #33BB51!important;
}
.input-group.product-hidden-input-wrapper {
    display: none;
    align-items: center;
    background: #F8F8F8;
    padding: 7.5px 8px;
    border-radius: 4px;
}
.cart-btn.disable{
    display: none!important;
}
.product-hidden-input-wrapper.active{
    display: flex;
}
.input-group.product-hidden-input-wrapper input {
    border: none;
    text-align: center;
    width: 31px;
    height: 18px;
    margin-left: 8px;
    color: black;
    padding: 0;
    margin-right: 8px;
    font-style: revert;
}

.input-product-val__minus {
    cursor: pointer;
}
hr.gratitude-hr {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    margin-top: 16px;
    margin-bottom: 16px;
}
.input-product-val__plus {
    cursor: pointer;
}
.d-none{
    display: none!important;
}
.cart-btn-mobile {
    display: none!important;
}
.gratitude-total-price-wrapper {
    display: flex;
    margin-bottom: 39px;
}

.gratitude-total-price__title {
    flex-grow: 1;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 120%;
/* identical to box height, or 18px */
    display: flex;
    align-items: center;
    color: #000000;
}
.gratitude-total-price__price i {
    margin-left: 3px;
}
.go-to-menu{
        margin: 0 auto;
    display: flex;
    margin-bottom: 60px;
}
.gratitude-total-price__price {
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 120%;
/* identical to box height, or 18px */
    display: flex;
    align-items: center;
    color: #000000;
}
img.mobile-pic-prod{
    display: none;
}
ol.breadcrumb {
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.2);
}

.delivery-page-crumbs {
    padding-top: 24px;
    padding-bottom: 29px;
    background: #E22C2F;
}

ol.breadcrumb li {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 130%;
/* identical to box height, or 17px */


/* white */
    color: #FFFFFF;
}

ol.breadcrumb li a {
    color: inherit;
}
h1.delivery-pagetitle {
    padding-top: 53px;
    margin-bottom: 0;
    color: #FFFFFF;
/* text-shadow-xl */
    font-size: 40px;
    text-shadow: 0px 2px 16px rgba(0, 0, 0, 0.12);
}
.delivery-main-content {
    margin-top: 60px;
}
.mobile-menu-modal-phone {
    padding-bottom: 20px;
}
.cart-subtitle.delivery-subtitle-cart {
    color: #E22C2F;
}
.product-cart-tpl-wrapper {
    display: flex;
    align-items: center;
}
.cart-dop-element {
    font-weight: bold;
    font-size: 22px;
    line-height: 120%;
    display: flex;
    text-align: center;
    align-items: center;
    color: #000000;
    justify-content: center;
}
.product-card-img-title-wrapper {
    display: flex;
    align-items: center;
    width: 50%;
}
.dop-element-bottom{
    width: 50%;
}
.product-dop-price{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-dop-btn{
    width: 50%;
    text-align: right;
}
.new-cart-title {
    margin-left: 32px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 9px;
    line-height: 120%;
/* identical to box height, or 18px */


/* Primary */
    color: #E22C2F;
}
.search-icon{
    cursor:pointer;
}
.search-submit-btn{display: none;}
span.new-cart-descriprion {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    margin-top: 9px;
    line-height: 110%;
/* or 13px */


/* gray-400 */
    color: rgba(0, 0, 0, 0.4);
    margin-left: 32px;
}
.cart-dop-button {
    background: #FFFFFF;
/* primary */
    border: 1px solid #EFBC1E;
    box-sizing: border-box;
    border-radius: 4px;
    color: #EFBC1E;
    padding: 11.5px 37px;
}
.cart-dop-input{
        margin-left: 18px!important;
    margin-right: 18px!important;
}
.product-dop-group{
    padding: 12.5px 18px!important;
}
img.product-cart-dop-img {
    height: 108px;
    width: 108px;
}
.new-mark {
    position: absolute;
    top: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
/* identical to box height */
    padding: 2px 4px;
    color: white;
    background: linear-gradient(261.14deg, #00A3FF 0%, #00B2FF 100%);
    border-radius: 16px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    text-transform: uppercase;
}
.cart-total-cost-title {
    width: 50%;
}

.cart-total-cost-price {
    width: 25%;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    justify-content: center;
    line-height: 120%;
/* identical to box height, or 34px */
    display: flex;
    align-items: center;

/* black */
    color: #000000;
}
.gratitude-img-wrapper {
    text-align: center;
    margin-bottom: 30px;
}

.gratitude-title {
    font-weight: bold;
    font-size: 28px;
    line-height: 110%;
/* identical to box height, or 31px */
    margin-bottom: 20px;
    text-align: center;

/* dark */
    color: #000000;
}

.gratitude-subtitle {
    font-size: 15px;
    margin-bottom: 8px;
    line-height: 120%;
/* identical to box height, or 18px */
    text-align: center;

/* gray-600 */
    color: rgba(0, 0, 0, 0.6);
}

.gratitude-time-calc {
    font-size: 15px;
    line-height: 120%;
/* identical to box height, or 18px */
    text-align: center;

/* gray-600 */
    color: rgba(0, 0, 0, 0.6);
}

.gratitude-time-calc span {
    font-weight: bold;
}

.gratitude-order {
    max-width: 562px;
    margin: 0 auto;
    margin-top: 36px;
}
.gratitude-item-img-wrapper {
    flex: 0 0 13%;
    max-width: 13%;
    margin-right: 20px;
}
.gratitude-bottom-section {
    display: flex;
}

.gratitude-item-count {
    flex-grow: 1;
    color: rgba(0, 0, 0, 0.6);
}

.gratitude-item-text {
    width: 100%;
}

.gratitude-item-price {}

.gratitude-item-price {
    font-size: 15px;
    line-height: 120%;
/* identical to box height, or 18px */


/* black */
    font-weight: bold;
    color: #000000;
}
.gratitude-item {
    display: flex;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 24px;
}

.gratitude-item-title {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: black;
    line-height: 120%;
}
.gratitude-order-title {
    font-weight: bold;
    font-size: 18px;
    /* padding-bottom: 16px; */
    line-height: 22px;
/* identical to box height */


/* black */
    color: #000000;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.05); */
}
.cart-total-cost-price i{
    font-size: 25px;
    display: flex;
    margin-top: 5px;
}
th.order-success-btn {
    display: flex;
    justify-content: flex-end;
    width: 25%;
    text-align: right;
    /* padding: 13.5px 28px; */
}
th.order-success-btn a {
    background: #EFBC1E;
    border-radius: 4px;
    font-style: normal;
    padding: 13.5px 13px;
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
/* or 23px */
    display: flex;
    align-items: center;
    text-align: center;

/* white */
    color: #FFFFFF;
}
.form-order-wrapper {
    max-width: 763px;
    margin: 0 auto;
    background: #F8F8F8;
    padding: 60px 99.5px;
    border-radius: 4px;
}
h1.order-form-header {
    font-style: normal;
    font-weight: bold;
    font-family: Lato;
    font-size: 28px;
    line-height: 120%;
/* identical to box height, or 34px */
    color: #000000;
}
.order-input-wrapper {
    display: flex;
}

.order-input-title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 24px;
    line-height: 22px;
/* identical to box height */
    color: #000000;
}

.order-input-wrapper input {
    width: 50%;
    margin-bottom: 0;
}

.input-subtext {
    width: 50%;
    margin-left: 31px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 120%;
/* or 18px */
    display: flex;
    align-items: center;

/* gray-600 */
    color: rgba(0, 0, 0, 0.6);
}

.form-group.input-parent {
    margin-bottom: 60px;
}
.delivery-types {
    display: flex;
    margin-bottom: 60px;
}
.delivery-type {
    width: 50%;
    background: #ffffff;
    font-weight: bold;
    justify-content: center;
    font-size: 15px;
    line-height: 120%;
    padding: 15px 24px;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.6);
    border-radius: 4px 0px 0px 4px;
}

.delivery-type.active {
    background: #000000;
    color: white;
}
.width-input{
    width: 100%!important;
}
.product-image_wrapper{
    text-align:center;
}
textarea#comment {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin-bottom:60px;
    border-radius: 4px;
}
.payment-type {
    width: 50%;
    background: #ffffff;
    font-weight: bold;
    justify-content: center;
    font-size: 15px;
    line-height: 120%;
    padding: 15px 24px;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.6);
    border-radius: 4px 0px 0px 4px;
}

.payment-types {
    display: flex;
}

.payment-type.active {
    background: #000000;
    color: white;
}
.payment-bottom-order {
    display: flex;
    margin-top: 60px;
}

.payments-titles {
    flex-grow: 1;
}
.final-total-cost {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 3px;
    display: flex;
    align-items: center;
    color: #000000;
}

.final-total-cost span {
    margin-left: 8px;
}
.final-btn {
    /* height: 100%; */
    margin-bottom: 0;
}
.payment-rules-link {
    margin-left: 11px;
    font-size: 15px;
}
.final-cards img {
    margin-right: 10px;
}
.authorization-block-wrapper {
    background: #F8F8F8;
    border-radius: 4px;
    max-width: 762px;
    margin: 0 auto;
    padding: 60px 99px;
    margin-bottom: 40px;
}

.auth-title {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 16px;
    line-height: 120%;
/* or 34px */
    text-align: center;
}

input.auth-number {
    background: #FFFFFF;
/* gray-100 */
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 60px;
    width: 100%;
    display: flex;
    margin-bottom: 61px;
    justify-content: center;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
}
.auth-btn {
    color: white;
    background: #EFBC1E;
    border-radius: 4px;
    width: 110px;
    height: 50px;
    cursor: pointer;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    margin: 0 auto;
    line-height: 130%;
/* or 23px */
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.code-btn {
    color: white;
    background: #EFBC1E;
    border-radius: 4px;
    width: 110px;
    height: 50px;
    cursor: pointer;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    margin: 0 auto;
    line-height: 130%;
/* or 23px */
    display: none;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.code-btn.active{
    display: flex!important;
}
.auth-subtitle {
    font-size: 15px;
    line-height: 120%;
    text-align: center;
    display: none;
    color: rgba(0, 0, 0, 0.6);
}
input.auth-code {
    margin: 0 auto;
    border: none;
    font-family: Roboto;
    letter-spacing: 20px;
    padding: 2px;
    border: 1px solid #efbc1e;
    background: none;
    font-style: normal;
    font-weight: bold;
    width: 140px;
    margin-bottom: 62px;
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin-top: 62px;
    line-height: 28px;
    display: none;
    align-items: center;
    text-align: center;
    color: #000000;
}
.auth-code.active {
    display: flex!important;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 156px;
    padding-left: 20px;
}
.bonus-wrapper {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.bonus-persent-wrapper {
    display: flex;
    align-items: center;
}

.bonus-persent {
    ont-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 120%;
/* or 26px */
    display: flex;
    align-items: center;
    text-align: center;

/* primary */
    color: #EFBC1E;
}

.bonus-persent-title {
    font-size: 15px;
    line-height: 120%;
/* identical to box height, or 18px */
    margin-left: 8px;
    display: flex;
    align-items: center;
    text-align: center;

/* gray-600 */
    color: rgba(0, 0, 0, 0.6);
}
.user-orders-table{
    width: 100%;
}
.user-orders-table .header {
    background: #e22c2f;
    color: white;
    font-weight: bold;
    border: 1px solid black;
    cursor: pointer;
}
.user-orders-table th {
    border: 1px solid;
    text-align: right;
    padding: 9px;
}
.bonus-cost-wrapper {
    display: flex;
    align-items: center;
}
.self-delivery-address:before {
    content: '';
    display: inline-block;
    width: 20px;
    cursor: pointer;
    height: 20px;
    vertical-align: middle;
    margin-right: 16px;
    border: 2px solid #EFBC1E;
}
form.simplesearch-search-form input {
    width: 100%;
}
.auth-subtitle span {
    color: black;
}
.self-delivery-address {
    position: relative;
    cursor: pointer;
    display: flex;
        margin-bottom: 28px;
    align-items: center;
}
img.address-checked-img {
    position: absolute;
    left: 4px;
    display: none;
    top:2px;
}
.segment-filter {
    padding-bottom: 4rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.segment-group input {
    width: 20%;
}
.self-delivery-address input {
    display: block;
    position: absolute;
    opacity: 0;
    left: 4px;
}
.delivery-label {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #000000;
}
.add-to-cart-span-2{
    display: none;
}
.mofidicator-cart-btn{
    border-radius: inherit;
    background: inherit;
    border: inherit;
}
.promocode-wrapper {
    display: flex;
    align-items: center;
}

.promocode-title {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 120%;
/* identical to box height, or 18px */
    color: #000000;
}

input.promocode-input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 4px;
    margin-left: 24px;
    background: white;
    width: 195px;
    height: 34px;
}

.promocode-btn {
    font-weight: bold;
    font-size: 15px;
    line-height: 120%;
/* identical to box height, or 18px */
    border: 1px solid #EFBC1E;
    display: flex;
    border-radius: 4px;
    padding: 7px 19px;
    color: #EFBC1E;
    cursor: pointer;
    align-items: center;
    text-align: center;
}
.segment-filter-btn{
        display: inline-block;
        color: #fff;
        background: #efbc1e;
        padding: 8px 0px;
        font-size: 15px;
        height: 100%;
        font-style: initial;
        flex: 0 0 30%;
        max-width: 27%;
        border-radius: 5px;
        margin-top: 13px;
        position: relative;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
}
.promobase-wrapper{
        overflow-x: scroll;
        margin-top: 2rem;
}
input.promo-change-val-input {
    border: none;
    text-align: right;
    color: black;
}
.promo-add-group-wrapper {
    flex-wrap: wrap;
    display: flex;
    margin-top: 4rem;
}

.promo-add-group {
    width: 25%;
    margin-bottom: 13px;
}

.promo-add-group input {
    width: 79%;
}

.promo-add-title {
    font-weight: bold;
    margin-bottom: 3px;
}
.promo-add-group-btn {
    display: inline-block;
    color: #fff;
    background: #efbc1e;
    padding: 8px 20px;
    font-size: 15px;
    transition: all 200ms ease-out;
    border: none;
    border-radius: 5px;
    font-style: initial;
    position: relative;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}
.promo-save-changes{
    cursor:pointer;
}
.promo-delete{
    cursor:pointer;
}
.segment-group {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 15px;
    margin-bottom: 1rem;
}

.segment-group input {
    width: 100%;
}
.gender-input-wrapper {
    display: flex;
    align-items: center;
    /* margin-right: 38px; */
}

.gender-input-wrapper input {
    width: auto;
    margin-right: 10px;
}
.segment-group-btns {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.segment-group-btn {
    display: inline-block;
    color: #fff;
    background: #efbc1e;
    padding: 8px 0px;
    font-size: 15px;
    height: 100%;
    font-style: initial;
    flex: 0 0 30%;
    max-width: 30%;
    border-radius: 5px;
    margin-top: 13px;
    position: relative;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
.save-settings-modal-wrapper{
    position: fixed;
    top: 0;
    overflow-x: hidden;
    overflow-y: auto;
    right: 0;
    display: none;
    height: auto;
    bottom: 0;
    left: 0;
    background: #80808061;
    z-index: 9999999;
    transition: opacity .15s linear;
}
.save-settings-modal-wrapper.active{
    display: block;
}
.select-settings-modal-wrapper{
    position: fixed;
    top: 0;
    overflow-x: hidden;
    overflow-y: auto;
    right: 0;
    display: none;
    height: auto;
    bottom: 0;
    left: 0;
    background: #80808061;
    z-index: 9999999;
    transition: opacity .15s linear;
}
.select-settings-modal-wrapper.active{
    display: block;
}
.modal-dialog {
    max-width: 500px;
    margin: 0 auto;
    transition:0.5s;
    margin-top: 15%;
    background: white;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    /* border: 1px solid rgba(0,0,0,.2); */
    border-radius: .3rem;
    outline: 0;
}
.modal-header {
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
}

.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}

.modal-footer {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: .75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px);
}
.form-group-segment label {
    display: block;
}

.form-group-segment input {
    width: 100%;
}

.segment-setting-group {
    display: flex;
    cursor: pointer;
    flex: 0 0 60%;
    justify-content: space-between;
}
.segment-get-params {
    display: none;
}
.segment-setting-group:hover {
    background: #adadad45;
}
.segment-setting-delete{
    cursor:pointer;
}
.segment-setting-delete:hover{
    color:red;
}
.segment-setting-group-wrapper {
    display: flex;
    justify-content: space-between;
}
.segment-setting-change:hover {
    color: #495c22;
}

.segment-setting-change {
    cursor: pointer;
}
.segment-group-btn:hover {
    color: white;
}
.add-segment-modal-wrapper {
    position: fixed;
    top: 0;
    overflow-x: hidden;
    overflow-y: auto;
    right: 0;
    display: none;
    height: auto;
    bottom: 0;
    left: 0;
    background: #80808061;
    z-index: 9999999;
    transition: opacity .15s linear;
}
.add-segment-modal-wrapper.active{
    display: block;
}
.select-segments-id {
    background: white;
    width: 100%;
    cursor: pointer;
    z-index: 1000;
    position: absolute;
    left: 0px;
    will-change: transform;
    display: none;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}
.select-segments-id.active{
    display: block;
}
.dropdown-item {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    border-bottom: 1px solid #7a787838;
    text-align: left;
    white-space: normal;
    background-color: transparent;
}

.dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}
.select-segment-btn-wrapper {
    flex: 0 0 30%;
    position: relative;
}

.select-segment-btn {
    display: inline-block;
    color: #fff;
    background: #efbc1e;
    padding: 8px 0px;
    font-size: 15px;
    width: 100%;
    font-style: initial;
    border-radius: 5px;
    margin-top: 13px;
    position: relative;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
.dropdown-item a {
    color: inherit;
}
.send-message-variants {
    background: white;
    width: 100%;
    cursor: pointer;
    z-index: 1000;
    position: absolute;
    left: 0px;
    will-change: transform;
    display: none;
    min-width: 10rem;
    padding: .5rem 0;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.messages-channel-dropdown-wrapper {
    position: relative;
    flex: 0 0 30%;
    max-width: 30%;
}

.send-message-to-segment_wrapper input {
    width: 100%;
}

.message-item {
    padding: 7px 12px;
}
.send-message-to-segment_wrapper {
    display: flex;
    justify-content:space-between;
    margin-bottom: 3rem;
}
.send-messages-btn {
    margin-top: 0;
}
.add-secret-group-wrapper {
    margin-bottom: 3rem;
}
.segment-message-input {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    font-style: normal;
    font-weight: normal;
    padding: 7px 12px;
    color: rgba(0, 0, 0, 0.4);
    font-size: 15px;
}
.send-message-variants.active{
    display: block;
}
.send-messages-btn-disabled {
    margin: 0;
    background-color: grey;
}
.send-messages-btn-now{
    display: none;
    margin:0;
}
.cron-input-dropwodown-wrapper {
    position: relative;
    flex: 0 0 30%;
    max-width: 30%;
}

.cron-segment-dropdown-item {
    padding: 7px 12px;
}
.cron-segment-input-variants.active{
    display: block;
}
.cron-segment-input-variants {
    background: white;
    width: 100%;
    cursor: pointer;
    z-index: 1000;
    position: absolute;
    left: 0px;
    will-change: transform;
    display: none; 
    min-width: 10rem;
    padding: .5rem 0;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}
.cron-add-command{
    margin: 0;
}
.cron-sender-time-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cron-sender-time_minutes {
    flex: 0 0 50%;
    max-width: 50%;
}
.cron-sender-wrapper{
    margin-bottom: 2rem;
}
.select-delivery-type {}

.select-delivery-type-title {
    font-size: 24px;
}

.select-delivery-type-body {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.select-delivery-type {
    cursor: pointer;
    font-size: 18px;
}

.select-delivery-type.active {
    font-weight: bold;
}
/**************************************************   MEDIA QUERIS   *****************************************************/

@media only screen and (max-width: 1189px) {
}
@media only screen and (max-width: 991px) {
}
@media only screen and (max-width: 767px) {
    .payment-bottom-order {
    display: block;
    margin-top: 30px;
}
td.td-cart-title {
    width: 100%;
}
.change-value-cart-input {
    margin: 0;
}

.cart-input-vals {
    padding: 0;
    width: 111px;
    justify-content: space-evenly;
}
.authorization-block-wrapper {
    padding: 60px 16px;
    width: calc(100% + 30px);
    margin-left: -15px;
}
.product-card-img-title-wrapper-mobile {
    width: 100%;
    align-items: flex-start;
}
.product-card-img-title-wrapper-mobile .product-img-wrapper {
    flex: 0 0 34.4%;
    max-width: 100px;
    min-width: 100px;
}

.product-card-img-title-wrapper-mobile .img-wrapper.relative {
    width: 100%;
}

.product-card-img-title-wrapper-mobile img.product-cart-dop-img {
    width: 100%;
    height: 100px;
}

.product-card-img-title-wrapper-mobile .new-cart-title {
    margin-left: 12px;
}

.product-card-img-title-wrapper-mobile .cart-title {
    margin-left: 12px;
    font-size: 16px;
    line-height: 19px;
}

.product-card-img-title-wrapper-mobile span.new-cart-descriprion {
    display: none;
}

.product-card-img-title-wrapper-mobile .element-bottom.dop-element-bottom {
    width: 100%;
}

.element-bottom.dop-element-bottom {
    width: 74%;
    position: absolute;
    bottom: 14px;
    display: flex;
    left: 93px;
    align-items: center;
}
.product-cart-tpl-wrapper-mobile {
    display: block;
}
.cart-input-minus {
}

span.mr-2.text-nowrap {
    font-size: 15px;
}

.cart-title {
    font-size: 15px;
    margin-left: 24px;
}
td.td-cart-price {
    width: auto;
    position: absolute;
    display: block;
    right: 0;
    top: 79px;
}

td.td-cart-count {
    width: auto;
    position: absolute;
    top: 63px;
    left: 144px;
}

.tr-cart-wrapper {
    display: block;
    position: relative;
    height: 132px;
    border-bottom: 1px solid #F3F3F3;
    /* padding-bottom: 25px; */
}

.cart-image {
    flex: 0 0 36.5%;
    max-width: 120px;
    min-width: 120px;
}

.cart-image img {
    width: 100%;
}

.cart-image-wrapper {
    align-items: flex-start;
}
.final-total-cost {
    margin-bottom: 8px;
}

.payments-titles {
    margin-bottom: 40px;
}

.final-btn {
    margin: 0 auto;
    padding: 13px 37px!important;
    display: flex;
}
.form-order-wrapper {
    padding: 60px 16px;
    width: calc(100% + 30px);
    margin-left: -15px;
}

.order-input-wrapper input {
    width: 100%;
}

.order-input-wrapper {
    display: block;
}

h1.order-form-header {
    text-align: center;
}

.order-input-title {
    margin-bottom: 12px;
}

.input-subtext {
    width: 100%;
    margin-left: 0;
    margin-top: 8px;
    font-size: 13px;
}

.form-group.input-parent {
    margin-bottom: 24px;
}
    img.mobile-pic-prod {
    padding-left: 14px;
    padding-right: 14px;
    display: block;
    padding-top: 6px;
}
        .header-wrapper_bottom ul {
        display: none;
    }
    .top__address {
        display: none;
    }
    .cart-btn-mobile {
    display: inline-block!important;
}
.push15 {
    height: 0px!important;
}
.cart-btn span{display: none;}
.element-weight.f13 {
    height: 0!important;
    margin: 0!important;
}
.catalog .element:hover{
    box-shadow:none;
}
.push8 {
    height: 0;
}

.input-group.product-hidden-input-wrapper.active {
    padding: 5px 8px!important;
}
    .top__worktime {
        display: none;
    }
    
    .top__login {
        display: none;
    }
    
    .top__phone {
        display: none;
    }
.header-wrapper {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}

.header-wrapper__content {
    width: 33%;
    /* margin-right: -51px; */
    padding-left: 42px;
    /* position: absolute; */
}

.header-wrapper__logotype {
    width: 33%;
}

.mobile-menu-icon {
    width: 33%;
}
.header-descktop-logo{
    display: none;
}
.shopping-cart {
    background: black;
    padding: 0;
    height: 32px;
    display: flex;
    width: 100px;
    align-items: center;
}

.shopping-cart img {
    padding: 0;
    margin-left: 9px;
    margin-right: 5px;
}
.header-wrapper_bottom {
    margin: 0;
}
.header {
    margin-bottom: 25px;
}
.pr-18{
    padding-right: 10px;
}
.top-slider .slick-list {
    border-radius: 16px;
}
img.header-mobile-logo {
    display: block;
}

.mobile-menu-icon {
    display: block;
}
.mobile-element-bottom {
    display: block;
}
.dop-item-wrapper img.mobile-pic-prod {
    display: none;
}

.cart-dop-button span {display: block;}

.dop-item-wrapper {
    border: 1px solid #E22C2F;
    box-sizing: border-box;
    padding: 16px;
    border-radius: 4px;
}

.cart-dop-button {
    padding: 5px 22.5px;
}
.nav_root li a {
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    padding: 0;
    margin-right: 20px;
}
.top-slider-wrapper {
    margin-bottom: 24px;
}
.catalog-li-trigger.active {
    background: none!important;
    color: black!important;
    font-weight: bold!important;
    border-bottom: 2px solid #EFBC1E;
    border-radius: 0;
    padding-bottom: 7px;
}
.nav_root{
    height: 34px;
}
.catalog .element .inner{
    display: flex;
}
h2.all-menu {
    display: none;
}

h2.category-name-tab {
    display: none;
}
.catalog .element .img-wrapper {
    height: auto;
}

.catalog .element .img-wrapper img {
    margin: 0;
    width: 100%;
}
.element-content .subtitle strong {
    font-size: 12px;
}
.gratitude-item-img-wrapper {
    flex: 0 0 26%;
    max-width: 23%;
}
.catalog .element .element-bottom {
    padding: 0;
    justify-content: space-between;
    display: flex;
    margin-left: 42%;
}
.catalog .element .title {
    padding: 0;
    font-family: 'Lato', sans-serif;
    margin-bottom: 8px;
    height: auto;
}
.catalog .cart-btn {
    padding: 0;
    width: 56px;
    height: 34px;
    text-align: center;
}
.row.min {
    display: flex;
    width: 100%;
    align-items: center;
}
.footer-mobile-version{
    display: block;
}
section.trigger-section-wrapper {
    display: none;
}
.catalog .element .element-price {font-family: 'Lato', sans-serif;font-size: 15px;font-weight: normal;color: black;}
a.product-img-wrapper {
    flex: 0 0 39%;
    max-width: 45%;
}
.footer-descktop-version{
    display: none;
}
.footer-trigger-title {
    width: 100%;
}

.footer-trigger-buttons {
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 24px;
}

.footer-trigger-buttons img {
    width: 153px;
}
.footer-phone {
    width: 100%;
    text-align: center;
    margin-top: 40px;
}
.footer-worktime {
    margin-top: 4px;
    text-align: center;
}

.footer-phone a {
    font-size: 18px;
}
.payment-cards-wrapper {
    text-align: center;
    margin-bottom: 44px;
}
nav.footer-navigation {
    width: 100%;
    display: flex;
    justify-content: center;
}
.add-to-cart-span-1 {
    display: none!important;
}
nav.footer-navigation ul {
    display: block;
}

nav.footer-navigation li {
    margin-right: 0;
    text-align: center;
    margin-bottom: 16px;
    display: block;
}

.footer-socials {
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 49px;
}
.footer-bottom-section {
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.add-to-cart-span-2{
    display: block;
}
.mark {
    margin-bottom: 16px;
}
.product-content_wrapper {
    padding: 0;
}
.product-dop-price {
    font-size: 18px;
    line-height: 22px;
}

.element-price.cart-dop-element {
    font-size: 18px;
    line-height: 22px;
}
.tr-cart-mobile-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.tr-cart-mobile-wrapper .cart-total-cost-title {
    flex: 0 0 75%;
    max-width: 75%;
}

.tr-cart-mobile-wrapper .cart-total-cost-price {
    flex: 0 0 25%;
    max-width: 25%;
}

.tr-cart-mobile-wrapper .order-success-btn {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
}

.tr-cart-mobile-wrapper .order-success-btn a {
    width: inherit;
    text-align: center;
    display: block;
}
.product-dop-btn.product-count-wrapper {width: auto;}
.product-title {
    font-size: 29px;
}

.product-size-btn {
    font-size: 13px;
    padding: 7px 8px;
}

.product-lavash-btn {
    font-size: 12px;
    padding: 7px 8px;
}
.row.product-card-bottom-card-wrapper {
    display: none;
}

.caloreies-info-item {
    width: 33%;
}

.caloreies-info-item span {
    margin-right: 0px;
}
.product-buy-section {
    flex-wrap: wrap;
}

.product-buy-price {
    order: 2;
    /* width: 50%; */
}

.product-buy-input {
    order: 1;
    /* width: 50%; */
    margin-left: 0;
}

.product-buy-btn {
    order: 3;
    margin-top: 40px;
    width: 100%;
    justify-content: center;
}
.modal-menu-main-content.active{
    display: block;
}
html {
    overflow-x: hidden;
}
}
@media only screen and (max-width: 320px){
    .header-wrapper__content{
        padding-left:28px;
    }
    .modal-menu-main-content{
        height:inherit;
    }
}
@media only screen and (min-width: 768px) {

}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1190px) {
}
.select-segments-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.select-segments-form-segment {
    width: 75%;
    margin-right: 5%;
}

.select-segments-form-btn {
    width: 43%;
    color: white;
    color: #fff;
    background-color: #229743;
    border-color: #1f8d3e;
    height: 100%;
    cursor: pointer;
}

.select-segments-form-btn:hover {
    color: white;
}