id: 27
source: 1
name: catalog__index.tpl
description: ''
properties: 'a:0:{}'

-----

<div class="category" id="{$alias}">
<h2>{$pagetitle}</h2>

    {$_modx->runSnippet('pdoResources', 
       ['parents' => $id,
        'tpl' => 'catalog__mini.tpl',
        'depth' => 0,
        'limit'=>'0',
        'sortby'=>'{"menuindex":"ASC"}',
        'where'=>'{"template":"3"}'
        
        ]
    )}
    
    {if $template != 8}
    <div class="catalog">
            <div class="row">
                {'!msProducts' | snippet : [
                'parents' => $id,
                'tpl'=>'product.tpl',
                'limit'=>'0'
                ]}            
          </div>
    </div>
    {/if}
</div>      