id: 36
source: 1
name: emailTpl.reviews.tpl
description: ''
properties: 'a:0:{}'

-----

<p>Новы отзыв на сайте [[++site_name]]</p>
<p><b>Ваше имя:</b> [[+fio]]</p>
<p><b>Email:</b> [[+email]]</p>
<p><b>Cеть:</b> [[+social]]</p>
<br>
<p><b>Ваш отзыв</b></p>
<p>[[+message]]</p>