id: 32
source: 1
name: form.msOrder.tpl
description: ''
category: miniShop2
properties: 'a:0:{}'
static_file: core/components/minishop2/elements/chunks/chunk.ms_order.tpl

-----

<form class="ms2_form" id="msOrder" method="post">
    <div class="">
        
        <div class="">
            <h4>Личные данные</h4>
            <div class="row">
            {foreach ['email','receiver','phone'] as $field}
                <div class="col-sm-6">
                    <div class="form-group  input-parent">
                            <input type="text" id="{$field}" placeholder="{('ms2_frontend_' ~ $field) | lexicon}"
                                   name="{$field}" value="{$form[$field]}"
                                   class="form-control{($field in list $errors) ? ' error' : ''}">
                    </div>
                </div>
            {/foreach}
            </div>
        </div>
        
        <div class="push20"></div>
        <div class="" id="deliveries">
            <h4>Информация по доставке</h4>
            <div class="form-group">
                <div class="">
                    {foreach $deliveries as $delivery index=$index}
                        {var $checked = !($order.delivery in keys $deliveries) && $index == 0 || $delivery.id == $order.delivery}
                        <div class="checkbox">
                            <label class="col-form-label delivery input-parent">
                                <input type="radio" name="delivery" value="{$delivery.id}" id="delivery_{$delivery.id}"
                                       data-payments="{$delivery.payments | json_encode}"
                                        {$checked ? 'checked' : ''}>
                                {if $delivery.logo?}
                                    <img src="{$delivery.logo}" alt="{$delivery.name}" title="{$delivery.name}"/>
                                {else}
                                    {$delivery.name}
                                {/if}
                                {if $delivery.description?}
                                    <p class="small">
                                        {$delivery.description}
                                    </p>
                                {/if}
                            </label>
                        </div>
                    {/foreach}
                </div>
            </div>
        </div>
        <div class="push30"></div>   
        
<div id="deliveries">    
        
        <div class="row">
                <div class="col-sm-6">
                    <div class="form-group input-parent">
                        <input type="text" id="street" placeholder="Улица" name="street" class="form-control">
                    </div>
                </div>
                <div class="col-sm-3">
                        <div class="form-group input-parent">
                            <input type="text" id="building" placeholder="Дом" name="building" value="" class="form-control">
                        </div>
                    </div>
                <div class="col-sm-3">
                        <div class="form-group input-parent">
                            <input type="text" id="room" placeholder="Квартира" name="room" value="" class="form-control">
                        </div>
                    </div>
        </div>
        <textarea id="comment" placeholder="Комментарий к заказу" name="comment" class="form-control"></textarea> 
</div>         
<div class="push20"></div>       
<div class="" id="payments">
            <h4>{'ms2_frontend_payments' | lexicon}</h4>
            <div class="form-group ">
                <div class="">
                    {foreach $payments as $payment index=$index}
                        {var $checked = !($order.payment in keys $payments) && $index == 0 || $payment.id == $order.payment}
                        <div class="checkbox">
                            <label class="col-form-label payment input-parent">
                                <input type="radio" name="payment" value="{$payment.id}" id="payment_{$payment.id}"{$checked ? 'checked' : ''}>
                                {if $payment.logo?}
                                    <img src="{$payment.logo}" alt="{$payment.name}" title="{$payment.name}" class="mw-100"/>
                                {else}
                                    {$payment.name}
                                {/if}
                                {if $payment.description?}
                                    <p class="small">{$payment.description}</p>
                                {/if}
                            </label>
                        </div>
                    {/foreach}
                </div>
            </div>
        </div>
<div class="push40"></div>        
</div>

    <div class="row">


  

    </div>

 

<hr class="mt-4 mb-4"/>

<div class="well">
            <h4>Итого, с доставкой: <span id="ms2_order_cost">{$order.cost ?: 0}</span> руб.</h4>
            <div class="push10"></div>
            <button type="submit" name="ms2_action" value="order/submit" class="btn min ms2_link">
            Сделать заказ!
            </button>
</div>
    
</form>