id: 24
source: 1
name: header
description: ''
properties: 'a:0:{}'

-----

    <div class="header">
        <div class="header-top-push"></div>
        <div class="header-top">
            <div class="container">
                <div class="inner relative">
                    <div class="table">
                        <div class="table-cell">
                            <div class="header-top-left left">
                                
                                <span class="address">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i> 
                                    {$_modx->config.adres}
                                </span>
                                
                                
                                <span class="shedule">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i> 
                                    {$_modx->config.time_work}
                                </span>
                                
                            </div>
                            <div class="header-top-right">
                                
                                <div class="header-tel">
                                    <div class="pulse"><i class="fa fa-phone" aria-hidden="true"></i></div>
                                    <div class="table">
                                        <div class="table-cell">
                                            <a href="tel:+{$_modx->config.phone | replace : ['+','(',')','-',' '] : ''}">{$_modx->config.phone}</a>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="cleaner"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <div class="inner relative">
                    <div class="table">
                        <div class="table-cell">
                            <div class="logo left">
                                <div class="table">
                                    <div class="table-cell">
                                        <a href="/" title="{$_modx->config.name__site}">
                                            <img class="logo__site" src="/assets/template/images/content/logo__site.png" alt="{$_modx->config.name__site}" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="header-bottom-bar right">
                                <div class="table">
                                    <div class="table-cell">
                                        <div class="header-cart">
                                            [[!msMiniCart]]
                                            
                                            
    <div id="msMiniCart" class="full">
        <div class="empty text-center">
            <div>
                <i class="fa fa-shopping-cart f18"></i> 
                <span class="hidden-xs">Корзина </span>
                ( <span class="ms2_total_count">1</span> )
            </div>
        </div>
        
        <div class="not_empty text-center relative">
            <a href="korzina.html" class="absolute"></a>
            <div>
                <i class="fa fa-shopping-cart f18"></i> 
                <span class="hidden-xs">Корзина </span>
                ( <span class="ms2_total_count">1</span> )
            </div>
        </div>
    </div>
</div>
                                        
                                        <div class="menu-button">
                                            <span class="icon-menu-burger">
                                                <span class="icon-menu-burger__line"></span>
                                            </span>
                                        </div> 
                                        
                                    </div>
                                </div>
                            </div>
                                                            
                            <div class="top-menu-wrapper right">
                                <div class="table">
                                    <div class="table-cell">
                                        <div class="top-menu">
                                            {*$_modx->runSnippet('pdoMenu', 
                                            [
                                            'parents' => 2,
                                            'level' => '1',
                                            'tpl' => '@INLINE <li [[+classes]]><a href="#[[+alias]]" [[+attributes]]>[[+menutitle]]</a>[[+wrapper]]</li>'
                                            ]
                                            )*}                                       
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="header-bottom-push"></div>
    </div>