id: 26
source: 1
name: js
description: ''
properties: 'a:0:{}'

-----

{if $_modx->resource.template == 2}
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script type="text/javascript">
ymaps.ready(init);
	var myMap;

	function init() {
		myMap = new ymaps.Map("map2", {
			center: [55.165313, 61.409785],
			zoom: 11
		}, {
			searchControlProvider: 'yandex#search'
		});
		var cord = [
			[55.165313, 61.409785]
		];
		var adr = ['{$_modx->config.adres}'];
		var phone = ['{$_modx->config.phone}'];
		var pm = [];
		for (i = 0; i < 18; i++) {
			pm[i] = new ymaps.GeoObject({
				geometry: {
					type: "Point",
					coordinates: cord[i]
				},
				properties: {
					addres: adr[i],
					phone: phone[i]
				}
			}, {
				preset: 'islands#redIcon',
				draggable: false
			});
			myMap.geoObjects.add(pm[i]);
		}
		myMap.geoObjects.events.add('click', function(e) {
			var addres = e.get('target').properties._data.addres;
			jQuery('.footer_line_1 > .text').text(addres);
			var phone = e.get('target').properties._data.phone;
			jQuery('.footer_line_2 > .text').text(phone);
		});
		myMap.behaviors.disable('scrollZoom');
	}
</script>
{/if}

<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<script src="/assets/template/js/jquery.min.js"></script>
<script src="/assets/template/js/modernizr.js"></script>
<script src="/assets/template/js/jquery.fancybox.js"></script>
<script src="/assets/template/js/slick.min.js"></script>
<script src="/assets/template/js/jquery.viewportchecker.js"></script>
<script src="/assets/template/js/jquery.maskedinput.js"></script>
<script src="/assets/template/js/jquery.mousewheel.js"></script>
<script src="/assets/template/js/jquery.formstyler.js"></script>
<script src="/assets/template/js/jquery.jscrollpane.min.js"></script>
<script src="/assets/template/js/scripts.js"></script>

<script type="text/javascript">
        $(function() {
            $('.top-slider').slick({
                infinite: true,
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 5000,
                speed: 900,
                fade: false,
                arrows: true,
                dots: true,
                prevArrow: '<a href="#" class="slick-prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>',
                nextArrow: '<a href="#" class="slick-next"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>',
                responsive:[
                    {
                      breakpoint: 1290,
                      settings: {
                        arrows: false,
                      }
                    }
                ]     
            }); 
        });
</script>