id: 74
name: lgnExpiredTpl
description: ''
category: Login
properties: 'a:0:{}'

-----

<p><strong>Password Reset Information</strong></p>
<p>Your password has already been reset or the link expired. If you need to reset your password again, click <a href="#">here</a>.</p>