id: 67
name: lgnForgotPassSentTpl
description: ''
category: Login
properties: 'a:0:{}'

-----

<h2>Your Login Information Has Been Sent</h2>

<p>Your login information has been sent to the email address [[+email]].</p>