id: 64
name: lgnLogoutTpl
description: ''
category: Login
properties: 'a:0:{}'

-----

<div class="loginMessage">[[+errors]]</div>
<br />
<div class="loginLogin">
    <div class="loginRegister">
        <a href="[[+logoutUrl]]" title="[[+actionMsg]]">[[+actionMsg]]</a>
    </div>
</div>