id: 69
name: lgnResetPassTpl
description: ''
category: Login
properties: 'a:0:{}'

-----

<div class="loginResetPass">
<p class="loginResetPassHeader">[[+username]],</p>

<p class="loginResetPassText">Your password has been reset. Please return <a href="[[+loginUrl]]">here</a> to log in.</p>  
</div>