id: 23
source: 1
name: mobile-menu
description: ''
properties: 'a:0:{}'

-----

<div class="mobile-menu" id="mobmenu">  
    <div class="menu-button">
        <span class="icon-menu-burger">
            <span class="icon-menu-burger__line"></span>
        </span>
    </div>      
    <div class="mobile-menu-inner">
        <ul class=""><li class="first"><a href="#piczczyi" >Пиццы</a></li><li><a href="#zakuski" >Закуски</a></li><li><a href="#salatyi" >Салаты</a></li><li><a href="#desertyi" >Десерты</a></li><li class="last"><a href="#napitki" >Напитки</a></li></ul>
    </div>
    <div class="push60"></div>
</div>