id: 30
source: 1
name: product.tpl
description: ''
properties: 'a:0:{}'

-----

      <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="element relative">
                    <form method="post" class="ms2_form msoptionsprice-product">
                        <input type="hidden" name="id" value="{$id}">
             
                        
                        <a href="{$_modx->makeUrl($id)}" title="{$pagetitle}" class="absolute"></a>
                        
                        <div class="inner">
                            <div class="img-wrapper">
                                 <img src="{$image}" alt="{$pagetitle}" />
                                                                            </div>
                            <div class="element-content">
                                <div class="title">
                                    {$pagetitle}
                                    <span class="product-info-btn">i</span>                    </div>
                            </div>
                        </div>
                        <div class="element-bottom">
                        
                            <div class="push15"></div>
                            
                            <div class="row min">
                                <div class="col-xs-5">
                                    <div class="element-weight f13"></div>
                                    <div class="element-price">{$price} <i class="fa fa-rub" aria-hidden="true"></i></div>
                                </div>
                                <div class="col-xs-7 text-right">
                                    <div class="push8"></div>
                                    
                                    <div class="element-counter">
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn-number btn-minus" disabled="disabled" data-type="minus" data-field="count-{$id}">
                                                <span></span>
                                                </button>
                                            </span>
                                            <input type="text" name="count" id="count-{$id}" class="form-control input-number" value="1" min="1" max="99">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn-number btn-plus" data-type="plus" data-field="count-{$id}">
                                                <span></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    
                                    <button class="cart-btn" type="submit" name="ms2_action" value="cart/add"><i class="fa fa-shopping-cart"></i></button>
                                </div>
                            </div>
                        </div>
                                    <div class="element-text f13 white">{$id | resource : 'content'}</div>
                                </form>
                </div>
            </div>