id: 92
source: 1
name: searchproduct1.tpl
description: ''
properties: 'a:0:{}'

-----

<div data-id="{$id}" style="background: #fbfbfb;
    box-shadow: none;" class="card hover-trigger res-prod-selected selected-res{$id}">
                            <div class="card-body">
                                <div class="row m-b-30">
                                    <div class="col-md-4 col-xxl-12">
                                        <div class="new-arrival-product mb-4 mb-xxl-4 mb-md-0">
                                            <div class="new-arrivals-img-contnent">
                                                <img class="img-fluid" src="{$image|pthumb : 'w=300&h=200&zc=1'}" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-xxl-12">
                                        <div class="new-arrival-content position-relative">
                                            <h4>{$pagetitle}</h4>
                                            
                                            
                                            
                                            
                                            
                                            <div class="comment-review star-rating text-right">
                                                
                                                
                                            </div>
                                            <p class="text-content">{$description}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>