id: 59
name: tpl.new.ms.cart
properties: null

-----

<div id="msCart" class="{$products} idsopc">
    {if !count($products)}
        <div class="alert alert-warning">
            {'ms2_cart_is_empty' | lexicon}
        </div>
    {else}
        <div class="table-responsive">
            <table class="table table-striped">
                {foreach $products as $product}
                    {var $image1}
                        {if $product.thumb?}
                            <img src="{$product.thumb}" alt="{$product.pagetitle}" title="{$product.pagetitle}"/>
                        {else}
                            <img src="{'assets_url' | option}components/minishop2/img/web/ms2_small.png"
                                 srcset="{'assets_url' | option}components/minishop2/img/web/ms2_small@2x.png 2x"
                                 alt="{$product.pagetitle}" title="{$product.pagetitle}"/>
                        {/if}
                    {/var}
                    {var $image}
                    <img src="{$product.image}" alt="{$product.pagetitle}" title="{$product.pagetitle}"/>
                    {/var}
                    {if !$product.hidemenu}
                    <tr class="tr-cart-wrapper" id="{$product.key}">
                        <td class="td-cart-title">
                            <div class="cart-image-wrapper">
                                <div class="cart-image">
                                    {if $product.id?}
                                        <a href="{$product.id | url}">{$image}</a>
                                    {else}
                                        {$image}
                                    {/if}
                                </div>
                                <div class="cart-title">
                                    
                                    {if $product.id?}
                                        <a href="{$product.id | url}">{$product.pagetitle}</a>
                                    {else}
                                        {$product.name}
                                    {/if}
                                    {if $product.options?}
                                        <div class="small">
                                            {$product.options | join : '; '}
                                        </div>
                                    {/if}
                                                                    {if $product.price == 0 }
                                <div class="cart-subtitle">
                                        Вы можете указать количество наборов
                                    </div>
                                {/if}
                                </div>

                            </div>
                        </td>
                        <td class="td-cart-price">
                            {if $product.price == 0}
                            <span class="mr-2 text-nowrap gift">Подарок</span>
                            {else}
                            <span class="mr-2 text-nowrap">{$product.price} {'ms2_frontend_currency' | lexicon}</span>
                            {/if}
                            {if $product.old_price?}
                                <span class="old_price text-nowrap">{$product.old_price} {'ms2_frontend_currency' | lexicon}</span>
                            {/if}
                        </td>
                        <td class="td-cart-count">
                            <form method="post" class="ms2_form" role="form">
                                <input type="hidden" name="key" value="{$product.key}"/>
                                <div class="form-group">
                                    <div class="input-group input-group-sm cart-input-vals">
                                        <div class="cart-input-minus">
                                            {if $product.count == 1}
                                            <img class="cart-input-minus-image" src="assets/template/images/newimages/x.svg" alt="">
                                            {else}
                                            <img class="cart-input-minus-image" src="assets/template/images/newimages/minus.svg" alt="">
                                            {/if}
                                        </div>
                                        <input type="number" name="count" value="{$product.count}" class="form-control change-value-cart-input"/>
                                        {if $product.parent == 422}
                                        <div style="width:16px;"></div>
                                        {else}
                                        <div class="cart-input-plus">
                                            <img class="cart-input-plus-image" src="assets/template/images/newimages/plus.svg" alt="">
                                        </div>
                                        {/if}
                                    </div>
                                    <button class="btn btn-sm cart-add-btn" type="submit" name="ms2_action" value="cart/change">&#8635;</button>
                                </div>
                            </form>
                        </td>
                    </tr>
                    {/if}
                {/foreach}
                [[-<tr class="tr-cart-wrapper">
                        <td class="td-cart-title">
                            <div class="cart-image-wrapper">
                                <div class="cart-image">
                                    <img src="assets/template/images/newimages/вилки.png" alt="">
                                </div>
                                <div class="cart-title">
                                    <a href="#">Набор для еды</a>
                                    <div class="cart-subtitle">
                                        Вы можете указать количество наборов
                                    </div>
                                </div>

                            </div>
                        </td>
                        <td class="td-cart-price">
                            <span class="mr-2 text-nowrap gift">Подарок</span>
                        </td>
                        <td class="td-cart-count">
                            <form method="post" class="ms2_form" role="form">
                                <input type="hidden" name="key" value="keygift"/>
                                <div class="form-group">
                                    <div class="input-group input-group-sm cart-input-vals">
                                        <div class="cart-input-minus">
                                            {if $product.count == 1}
                                            <img class="cart-input-minus-image" src="assets/template/images/newimages/x.svg" alt="">
                                            {else}
                                            <img class="cart-input-minus-image" src="assets/template/images/newimages/minus.svg" alt="">
                                            {/if}
                                        </div>
                                        <input type="number" name="count" value="{$product.count}" class="form-control change-value-cart-input"/>
                                        <div class="cart-input-plus">
                                            <img class="cart-input-plus-image" src="assets/template/images/newimages/plus.svg" alt="">
                                        </div>
                                    </div>
                                    <button class="btn btn-sm cart-add-btn" type="submit" name="ms2_action" value="cart/change">&#8635;</button>
                                </div>
                            </form>
                        </td>
                </tr>]]

                <tr class="tr-cart-wrapper">
                        <td class="td-cart-title">
                            <div class="cart-image-wrapper">
                                <div class="cart-image">
                                    <img src="assets/template/images/newimages/доставка.png" alt="">
                                </div>
                                <div class="cart-title">
                                    <a href="#">Доставка</a>
                                    <div class="cart-subtitle delivery-subtitle-cart">
                                        Бесплатная доставка при заказе от 500 руб
                                    </div>
                                </div>

                            </div>
                        </td>
                        <td class="td-cart-price">
                            <span class="mr-2 text-nowrap">100 Р</span>
                        </td>
                </tr>
            </table>
        </div>

        [[-<form method="post">
            <button type="submit" name="ms2_action" value="cart/clean" class="btn btn-danger">
                {'ms2_cart_clean' | lexicon}
            </button>
        </form>]]
    {/if}
</div>
