id: 100
source: 1
name: tpl.email.order.row
description: 'Шаблон товара в заказе, отправляемом на email менеджеру'
category: 'Шаблоны для заказа'
properties: 'a:0:{}'

-----

<div class="element-order">
    <h4>[[+title]] (ID: [[+id]])</h4>
    <p>
        Количество: [[+count]] шт.;<br>
        Цена: [[+price]] руб.;<br>
        Вес: [[+weight]] гр.;<br>
    </p>
    <p>Опции товара:</p>
    <p>[[+options]]</p>
</div>

