id: 61
source: 1
name: tpl.badProductRatingEmail
description: ''
properties: 'a:0:{}'

-----

<p>Айди заказа: {$elem.order_id}</p>
<p>Номер заказа: [[+elem.num]]</p>
<p>Создан: [[+elem.createdon]]</p>
<p>Юзер айди: [[+elem.userid]]</p>
<p>имя: [[+elem.name]]</p>
<p>Юзер емейл: [[+elem.useremail]]</p>
<p>Юзер теоефон: [[+elem.mobilephone]]</p>
<p>Коммент: [[+elem.comment]]</p>
<h1>Оценки</h1>
{foreach $elem.products as $product}
{set $newbase1 = $.php.array_keys($product)}
{foreach $newbase1 as $newbase}
<p>{$newbase}: <span>{$product.$newbase}</span></p>
{/foreach}
{/foreach}
<a target="_blank" href="[[+elem.url]]/manager/?a=mgr/orders&namespace=minishop2&order=[[+elem.order_id]]">Открыть заказ</a>

