id: 86
source: 1
name: tpl.mFilter2.filter.select
description: ''
category: mSearch2
properties: null
static_file: core/components/msearch2/elements/chunks/chunk.mfilter2.filter.select.tpl

-----

<fieldset id="mse2_[[+table]][[+delimeter]][[+filter]]">
	<h4 class="filter_title">[[%mse2_filter_[[+table]]_[[+filter]]]]</h4>
	<select name="[[+filter_key]]" id="[[+table]][[+delimeter]][[+filter]]_0">
		<option value="" selected>[[%mse2_select]]</option>
		[[+rows]]
	</select>
</fieldset>