id: 60
source: 1
name: tpl.badRatingEmail
description: ''
properties: 'a:0:{}'

-----

<p>ID заказа в админ-панели: [[+order_id]]</p>
<p>Номер заказа: [[+num]]</p>
<p>Создан: [[+createdon]]</p>
<p>Юзер айди: [[+userid]]</p>
<p>Имя: [[+name]]</p>
<p>Юзер емейл: [[+useremail]]</p>
<p>Юзер теоефон: [[+mobilephone]]</p>
<p>Оценка вкуса: [[+taste]]</p>
<p>Оценка красоты подачи: [[+beauty]]</p>
<p>Оценка скорости доставки: [[+speed]]</p>
<p>Оценка температуры подачи: [[+temp]]</p>
<p>Оценка курьера: [[+courier]]</p>
<p>Коммент: [[+comment]]</p>
<p>Общий рейтинг: [[+rating]]</p>
<a target="_blank" href="[[+url]]/manager/?a=mgr/orders&namespace=minishop2&order=[[+order_id]]">Открыть заказ</a>
