id: 97
source: 1
name: tpl.email.notification
description: 'Тестовый шаблон для email рассылки'
category: 'Шаблон письма'
properties: 'a:0:{}'

-----

<h1>[[+title]]</h1>
<p><small>Данный шаблон является тестовым</small></p>
<p>[[+content]]</p>