id: 99
source: 1
name: tpl.email.order.outer
description: 'Шаблон заказа отправляемый на email менеджеру'
category: 'Шаблоны для заказа'
properties: 'a:0:{}'

-----

<h2>У вас новый заказ</h2>
<p>Товары в заказе:</p>
<div class="order-catalog">
    [[+elements]]
</div>
<h4>Данные что указал заказчик:</h4>
<ul>
    [[+order-data]]
</ul>
