id: 46
source: 1
name: tpl.msBonus2.form
description: ''
category: msBonus2
properties: null
static_file: core/components/msbonus2/elements/chunks/form.tpl

-----

{*@formatter:off*}

<div class="msb2 {$is_active ? 'is-active' : ''} [ js-msb2 ]">
    <div class="msb2-title">
        Оплатить бонусами
    </div>

    {* Form *}
    <div class="msb2-form">
        <input class="msb2-form__input [ js-msb2-input ]" {$is_active ? 'disabled="true"' : ''}
               type="number" min="1" max="{$points}" name="msb2_amount"
               value="{$amount ?: ''}" placeholder="Сколько списать">
        <button class="msb2-form__button msb2-form__button_submit [ js-msb2-submit ]"
                type="button">Применить</button>
        <button class="msb2-form__button msb2-form__button_cancel [ js-msb2-cancel ]"
                type="button">Отменить</button>
    </div>

    <div class="">
        {* User points *}
        <div class="msb2-points">
            Бонусов: {$points ?: 0}
            {'ms2_frontend_currency' | lexicon}
        </div>

        {* Discount *}
        <div class="msb2-discount [ js-msb2-discount-wrap ]" style="display:{$is_active ? 'block' : 'none'}">
            Оплата бонусами:
            <span class="[ js-msb2-discount-value ]">{$amount ?: 0}</span>
            {'ms2_frontend_currency' | lexicon}
        </div>
    </div>

    {* Info *}
    {* Скрыто, потому что не ясно, как отображать % при применении бонусов не ко всему каталогу, а только к определённым разделам
    <div class="msb2-description">
        Вы можете оплатить бонусами до {'msb2_cart_maximum_percent' | config | replace : '%' : ''}% стоимости вашей корзины
    </div>
    *}

    {* Notifications *}
    <div class="msb2-message">
        <div class="msb2-message__error [ js-msb2-message-error ]">{$message_error}</div>
        <div class="msb2-message__success [ js-msb2-message-success ]">{$message_success}</div>
    </div>
</div>