id: 47
source: 1
name: tpl.msBonus2.logs
description: ''
category: msBonus2
properties: null
static_file: core/components/msbonus2/elements/chunks/logs.tpl

-----

{*@formatter:off*}
{if $_modx->user['id']?}
    <div class="msb2-logs">
        <div class="msb2-logs-info">
            <div class="msb2-logs-info__level">
                <b>Уровень</b>: {$user['level']['name']} ({$user['level']['bonus']}%)
            </div>
            <div class="msb2-logs-info__points">
                <b>Бонусов</b>: {$user['points'] | number : 0 : '.' : ' '}
            </div>
            <div class="msb2-logs-info__reserve">
                <b>В резерве</b>: {$user['reserve'] | number : 0 : '.' : ' '}
            </div>
            <div class="msb2-logs-info__paid-points">
                <b>Оплачено бонусами</b>: {$user['paid_points'] | number : 0 : '.' : ' '}
            </div>
            <div class="msb2-logs-info__paid-money">
                <b>Оплачено деньгами</b>: {$user['paid_money'] | number : 0 : '.' : ' '}
            </div>
        </div>

        {if $logs?}
            <table class="msb2-logs-table">
                <thead>
                    <tr>
                        <th width="170">Когда</th>
                        <th width="120">Сколько</th>
                        <th width="">За что</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach $logs as $v}
                        {var $style = 'style="color: ' ~ ($v['action'] === '+' ? 'green' : 'red') ~ '"'}

                        <tr>
                            <td>
                                <div class="msb2-logs-table__createdon">
                                    <div class="msb2-logs-table__createdon-date">
                                        {$v['createdon'] | date : 'd.m.Y'}
                                    </div>
                                    <div class="msb2-logs-table__createdon-time">
                                        {$v['createdon'] | date : 'H:i'}
                                    </div>
                                </div>
                            </td>
                            <td {$style}>
                                {$v['action']}{$v['amount'] | number : 0 : '.' : ' '}
                            </td>
                            <td {$style}>
                                {$v['action_formatted']}
                            </td>
                        </tr>
                    {/foreach}
                </tbody>
            </table>
        {/if}
    </div>
{else}
    ...
{/if}