id: 49
source: 1
name: tpl.msOptionsPrice.modification
description: ''
properties: null
static_file: core/components/msoptionsprice/elements/chunks/chunk.modification.tpl

-----

<div class="row ms2_product">
	<div class="col-md-8">
		<form method="post" class="ms2_form">
			<a href="{$rid | url}">{$product_pagetitle}</a>

			{if $_pls['small']?}
				<img src="{$_pls['small']}" alt="{$product_pagetitle}" title="{$product_pagetitle}"/>
			{else}
				<img src="{'assets_url' | option}components/minishop2/img/web/ms2_small.png"
					 srcset="{'assets_url' | option}components/minishop2/img/web/ms2_small@2x.png 2x"
					 alt="{$product_pagetitle}" title="{$product_pagetitle}"/>
			{/if}

            <span class="flags">
                {if $data_new?}
					<i class="glyphicon glyphicon-flag" title="{'ms2_frontend_new' | lexicon}"></i>
				{/if}
				{if $data_popular?}
					<i class="glyphicon glyphicon-star" title="{'ms2_frontend_popular' | lexicon}"></i>
				{/if}
				{if $data_favorite?}
					<i class="glyphicon glyphicon-bookmark" title="{'ms2_frontend_favorite' | lexicon}"></i>
				{/if}
            </span>

			<span class="options">
				{if $options?}
					<span class="small">
						{$options | join : '; '}
					</span>
				{/if}
			</span>

            <span class="price">
                {$price} {'ms2_frontend_currency' | lexicon}
            </span>
			{if $old_price?}
				<span class="old_price">{$old_price} {'ms2_frontend_currency' | lexicon}</span>
			{/if}
			{if $article?}
				<span class="article">{'ms2_product_article' | lexicon}: {$article}</span>
			{/if}
			{if $weight?}
				<span class="weight">{'ms2_product_weight' | lexicon}
					: {$weight} {'ms2_frontend_weight_unit' | lexicon}</span>
			{/if}

			<input type="hidden" name="id" value="{$rid}">
			<input type="hidden" name="count" value="1">
			<input type="hidden" name="options" value="[]">
			{foreach $options as $name => $value}
				<input type="hidden" name="options[{$name}]" value="{$value}">
			{/foreach}

			<button class="btn btn-default btn-sm pull-right" type="submit" name="ms2_action" value="cart/add">
				<i class="glyphicon glyphicon-barcode"></i> {'ms2_frontend_add_to_cart' | lexicon}
			</button>

		</form>
	</div>
</div>