/*
This file is part of Ext JS 3.4

Copyright (c) 2011-2013 Sencha Inc

Contact:  http://www.sencha.com/contact

GNU General Public License Usage
This file may be used under the terms of the GNU General Public License version 3.0 as
published by the Free Software Foundation and appearing in the file LICENSE included in the
packaging of this file.

Please review the following information to ensure the GNU General Public License version 3.0
requirements will be met: http://www.gnu.org/copyleft/gpl.html.

If you are unsure which license is appropriate for your use, please contact the sales department
at http://www.sencha.com/contact.

Build date: 2013-04-03 15:07:25
*/
body {
	background-color:#16181a;
	color:#fcfcfc;
}

.ext-el-mask {
    background-color: #ccc;
}

.ext-el-mask-msg {
    border-color:#223;
    background-color:#3f4757;
    background-image:url(../images/access/box/tb-blue.gif);
}
.ext-el-mask-msg div {
    background-color: #232d38;
    border-color:#556;
    color:#fff;
    font:normal 14px tahoma, arial, helvetica, sans-serif;
}

.x-mask-loading div {
    background-color:#232d38;
    background-image:url(../images/access/grid/loading.gif);
}

.x-item-disabled {
    color: #ddd;
}

.x-item-disabled * {
    color: #ddd !important;
}

.x-splitbar-proxy {
    background-color: #aaa;
}

.x-color-palette a {
    border-color:#fff;
}

.x-color-palette a:hover, .x-color-palette a.x-color-palette-sel {
    border-color:#8bb8f3;
    background-color: #deecfd;
}

.x-color-palette em {
    border-color:#aca899;
}

.x-ie-shadow {
    background-color:#777;
}

.x-shadow {
    display: block!important;
    background: red !important;
    border: 1px solid red!important;;
}

.x-shadow .xsmc {
    background-image: url(../images/default/shadow-c.png);
}

.x-shadow .xsml, .x-shadow .xsmr {
    background-image: url(../images/default/shadow-lr.png);
}

.x-shadow .xstl, .x-shadow .xstc,  .x-shadow .xstr, .x-shadow .xsbl, .x-shadow .xsbc, .x-shadow .xsbr{
    background-image: url(../images/default/shadow.png);
}

.loading-indicator {
    font-size: 14px;
    background-image: url(../images/access/grid/loading.gif);
}

.x-spotlight {
    background-color: #ccc;
}
