{include 'head'}
{$_modx->lexicon('ms2_speedAssessment')}
</head>
<body class="{if $_modx->resource.template == 2}index-template{else}base-template{/if} anchor-menu-init">
<!-- Mobile menu --> 
{include 'mobile-menu'}
<div class="overlay 123"></div>
<!-- /. Mobile menu -->
<div class="main-wrapper">
{include 'header'}
        
<div class="middle">
<div class="top-slider-wrapper">
<div class="container">
    <div class="row">
        <div class="col-md-8 pr-18">
            <div class="top-slider">
{set $slider = $_modx->resource.id | resource : 'slider'}               
{set $rows = json_decode($slider, true)}
{set $i=1}
{foreach $rows as $row}
<div class="item">
<div class="element relative">
{if $row.link != '' && $row.link_name == ''}
    <a href="{$row.link}" class="absolute"></a> 
{/if}
{if $row.text != ''}
<div class="slide-pattern" style="background-color: #000000; opacity: 0.4;"></div>
{/if}
<div class="element-img" style="background-image: url('{$row.image_big}'); background-color: #ffffff;"></div>
<div class="slider-content">
    <div class="table">
        <div class="table-cell">
             <div class="slider-content-inner">
                <div class="slider-content-inner__text">
                    {$row.text}
                </div>
                {if $row.link != '' && $row.link_name != ''}                                    
                     <a href="{$row.link}" class="btn min">{$row.link_name}</a>
                {/if}                                    
             </div>
        </div>
    </div>
</div>
</div>
</div>
{/foreach}
</div>
        </div>
        <div class="col-md-4 hidden-xs">
            <div class="top-title-wrapper">
                <div class="title-item">
                    <img src="assets/template/images/newimages/speed (3) 1.svg" alt="">
                    <div class="titles-wrapper">
                        <div class="top-title__maintitle">Быстрая доставка</div>
                        <div class="top-title__subtitle">Доставка пиццы на дом всего за 40 минут</div>
                    </div>
                </div>
                <div class="title-item">
                    <img src="assets/template/images/newimages/fresh 1.svg" alt="">
                    <div class="titles-wrapper">
                        <div class="top-title__maintitle">Свежие ингредиенты</div>
                        <div class="top-title__subtitle">Только от проверенных производителей</div>
                    </div>
                </div>
                <div class="title-item">
                    <img src="assets/template/images/newimages/free 1.svg" alt="">
                    <div class="titles-wrapper">
                        <div class="top-title__maintitle">Бесплатная доставка</div>
                        <div class="top-title__subtitle">При заказе на сумму более 500 рублей </div>
                    </div>
                </div>
                <div class="title-item">
                    <img src="assets/template/images/newimages/beer 1.svg" alt="">
                    <div class="titles-wrapper">
                        <div class="top-title__maintitle">Напитки в подарок</div>
                        <div class="top-title__subtitle">При заказе более 5 пицц 0.5 в подарок</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
            
    <div class="catalog-wrapper">
                <div class="container">
                    <div class="nav_root_wrapper">
                        <ul class="nav nav-tabs nav_root">
                        <li><a data-id="all" class="nav-btn active catalog-li-trigger" data-toggle="tab">Все меню</a></li>
                        {$_modx->runSnippet('pdoResources', [
                            'parents' => 2,
                            'tpl' => 'catalog__category-name.tpl',
                            'depth' => 0,
                            'limit' => 0,
                            'sortby' => '{"menuindex":"ASC"}'
                        ])}
                    </ul>
                    </div>

                    <div class="tab-content">
                        {$_modx->runSnippet('!pdoResources', [
                            'parents' => 2,
                            'tpl' => 'catalog__index.new.tpl',
                            'depth' => 0,
                            'limit' =>0,
                            'sortby' => '{"menuindex":"ASC"}'
                        ])}
                        <div data-id="all" class="category tab-pane active content-tab" id="cat_all">
                            <h2 id="allmenuanchor" class="all-menu">Все меню</h2>
                            <div class="catalog">
        <div class="row  row-flex row-flex-wrap">
            {'!pdoPage' | snippet : [
                'element' => 'msProducts',
                'parents' => $id,
                'tpl'=>'product.tpl',
                'limit'=>'12',
                'includeContent' =>1,
                'includeTVs' => 'unit',
                'pageVarKey' => "catalog{$id}",
                'pageNavVar' => "catalog{$id}.nav",
                'ajax' => '1',
                'ajaxMode' => 'button',
                'ajaxElemWrapper' => "#cat_all",
                'ajaxElemRows' => "#cat_all .catalog > .row",
                'ajaxElemPagination' => "#cat_{$id} .pagenavigation",
                'ajaxElemLink' => "#cat_all .pagenavigation a",
                'ajaxElemMore' => "#cat_all .btn-more",
                'ajaxTplMore' => '@INLINE <button class="btn min btn-success btn-more">Загрузить еще</button>',
                'cache' => 0,
                'cache_user' => 1,
            ]}
          </div>
          <div class="pagenavigation allitems">
              {$_modx->getPlaceholder('catalog'~$id~'.nav')}
          </div>
    </div>
                        </div>
                    </div>
                </div>
            </div>
    <div class="push20"></div>
</div>
<div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="main-news-title">Акции</div>
                </div>
                [[-<div class="col-sm-3 text-right-sm">
                    <div class="push15 hidden-xs"></div>
                    <a href="{$_modx->makeUrl(8)}" title="Все акции" class="invert hidden-xs">Все акции</a>
                    <a href="{$_modx->makeUrl(8)}" title="Все акции" class="btn min visible-xs-inline-block">Все акции</a>
                    <div class="push25 visible-xs"></div>
                </div>]]
            </div>
            
            <div class="news-list">
                <div class="row news-list-slick-init">
        [[!pdoResources?
            &parents=`8`
            &tpl=`news.tpl`
            &depth=`0`
            &limit=`6`
        ]]  


                </div>
            </div>
            <div class="push50"></div>
        </div>
[[-<div class="index-information-block text-center">
            <div class="push90"></div>
                <div class="container">
                    <div class="row">

{set $slider = $_modx->resource.id | resource : 'info__graf'}               
{set $rows = json_decode($slider, true)}
{set $i=1}  


{foreach $rows as $row} 

<div class="col-sm-6 col-md-3">
    <div class="element">
        <div class="img-wrapper">
            <img src="{$row.image_big}" alt="{$row.title}" />
        </div>
        <div class="element-content">
            <div class="title">{$row.title}</div>
            <div class="text info__graf__text">{$row.text}</div>
        </div>
    </div>
</div>

<hr class="cleaner-hr" />
{/foreach}
                        



                    </div>
                </div>
            <div class="push20"></div>
        </div>]]
[[-<div class="reviews-section" style="background:url('{$_modx->resource.id | resource : 'bg_reviews'}')">
            <div class="table">
                <div class="table-cell">
                    <div class="reviews-carousel-wrapper">
                        <div class="reviews-carousel">

{set $slider = $_modx->resource.id | resource : 'reviews'}               
{set $rows = json_decode($slider, true)}
{set $i=1}  


{foreach $rows as $row} 
    {if $row.yes_no == 1}                            
        <div class="item">
            <div class="element relative">
                <div class="img-wrapper">
                    <img src="{$row.image_big}" alt="{$row.title}" />
                </div>
                <div class="element-content">
                    <div class="title">{$row.title}</div>
                    <div class="text">{$row.text}</div>
                </div>
            </div>
        </div>
    {/if}
{/foreach}
                        </div>
                        <div class="push30"></div>
                        <a href="#reviewsModal" class="btn min fancyboxModal">Оставить отзыв</a>
                    </div>
                </div>
            </div>
        </div>]]
<section class="trigger-section-wrapper">
    <div class="order-trigger-section">
        <div class="container relative">
            <img class="iphone-amazing-img" src="assets/template/images/newimages/Iphone X_1.png" alt="">
            <div class="otder-trigger-title">
                Закажи проще и быстрее!
            </div>
            <div class="order-trigger-subtitle">
                Закажи в приложении и получи бонусы на свой счет. Бонусы можно использовать для оплаты следующего заказа
            </div>
            <div class="order-trigger-images">
                <a href="#"><img src="assets/template/images/newimages/applestore.svg" alt=""></a>
                <a href="#"><img src="assets/template/images/newimages/googleplay.svg" alt=""></a>
            </div>
        </div>
    </div>
    <div class="app-trigger-section">
        <div class="container">
            <div class="row d-flex">
                <div class="app-item">
                    <div class="app-item-wrapper">
                        <img src="assets/template/images/newimages/Vector.svg" alt="">
                        <div class="app-item-title">Про приложение тизер первый</div>
                        <div class="app-item-subtitle">Здесь небольшое описание преимущества заказа в приложении</div>
                    </div>
                </div>
                <div class="app-item">
                    <div class="app-item-wrapper">
                        <img src="assets/template/images/newimages/Vector.svg" alt="">
                        <div class="app-item-title">Про приложение тизер первый</div>
                        <div class="app-item-subtitle">Здесь небольшое описание преимущества заказа в приложении</div>
                    </div>
                </div>
                <div class="app-item">
                    <div class="app-item-wrapper">
                        <img src="assets/template/images/newimages/Vector.svg" alt="">
                        <div class="app-item-title">Про приложение тизер первый</div>
                        <div class="app-item-subtitle">Здесь небольшое описание преимущества заказа в приложении</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>
[[!AjaxForm?
    &snippet=`FormIt`
    &emailTpl=`emailTpl.reviews.tpl`
    &form=`form.reviews.tpl`
    &hooks=`and_reviews,email,FormItSaveForm`
    &emailFrom=`[[++Form.emailFrom]]`
    &emailSubject=`Новый отзыв`
    &emailTo=`[[++Form.emailTo]]`
    &validate=`fio:required,email:required,message:required`
    &validationErrorMessage=`В форме содержатся ошибки!`
    &formFields=`fio,email,message,social`
    &fieldNames=`fio==Имя,email==E-mail,message==Отзыв
    ,social==Ссылка на социальную сеть`
    &successMessage=`Отзыв оставлен`
]]
     
    
         
[[-<div class="content-section">
            <div class="push90"></div>
            
            <div class="container">
                <div class="content">
                    {$_modx->resource.content}
                </div>
            </div>
            
            <div class="push60"></div>
        </div>
<div class="map">
            <div class="container">
                <div class="relative">
                    <div class="callback">
                    	<div class="footer_line_1">
                    		<i class="fa fa-map-marker" aria-hidden="true"></i>
                    		<div class="text">{$_modx->config.adres}</div>
                    	</div>
                    	<div class="footer_line_2">
                    		<i class="fa fa-phone" aria-hidden="true"></i>
                    		<div class="text">{$_modx->config.phone}</div>
                    	</div>
                    	<div class="footer_line_4">Остались вопросы?</div>
                    	<div class="footer_line_5">Оставьте свой номер телефона,<br> и мы с вами свяжемся</div>
                        
<div class="callback-form rf">
[[!AjaxForm?
    &snippet=`FormIt`
    &emailTpl=`emailTpl.footer.tpl`
    &form=`form.footer.tpl`
    &hooks=`email,FormItSaveForm`
    &emailFrom=`[[++Form.emailFrom]]`
    &emailSubject=`Остались вопросы`
    &emailTo=`[[++Form.emailTo]]`
    &validate=`fio:required,tel:required`
    &validationErrorMessage=`В форме содержатся ошибки!`
    &formFields=`fio,email,message,social`
    &fieldNames=`fio==Имя,tel==Телефон`
    &successMessage=`Ваш вопрос отправлен`
]]    
</div>
</div>
</div>
</div>
</div>]]
        
[[-<div id="map2"></div>]]
<div class="footer-push"></div>
</div>

{include 'footer'}
{include 'js'}
<script>
    $(document).ready(function(){
        if ($(window).width() >= 768){
            var position = $('.nav_root_wrapper').offset().top;
            $(window).scroll(function(){
                if ($(this).scrollTop()>position){
                    $('.nav_root_wrapper').addClass('fixed');
                    $('.nav_root').addClass('container');
                } else {
                    $('.nav_root_wrapper').removeClass('fixed');
                    $('.nav_root').removeClass('container');
                }
            });
        };
    });
</script>
</body>
</html>