{include 'head'}
</head>
<body class="{if $_modx->resource.template == 2}index-template{else}base-template{/if} anchor-menu-init">
<!-- Mobile menu --> 
{include 'mobile-menu'}
<div class="overlay"></div>
<!-- /. Mobile menu -->

<div class="main-wrapper">
{include 'header'}

        <div class="middle">
            <div class="push50"></div>
            <div class="container">
                <h1>{$_modx->resource.pagetitle}</h1>
                <div class="content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="order-wrapper">
                            [[!msOrder? &tpl=`form.msOrder.tpl`]]
                            </div>
                        </div>
                        <div class="col-md-5 col-md-offset-1">
                            <div class="order-content">
                              {$_modx->resource.content}  
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
            <div class="push50"></div>
        </div>

<div class="footer-push"></div>
</div>
[[!msGetOrder? &tpl=`tpl.msGetOrder.site`]]
{include 'footer'}
{include 'js'}
</body>
</html>