{if $_modx->user.id == 1 || $_modx->user.id == 719}
{include 'head'}
</head>
<body class="{if $_modx->resource.template == 2}index-template{else}base-template{/if}">
<!-- Mobile menu --> 
{include 'mobile-menu'}
<div class="overlay"></div>
<!-- /. Mobile menu -->

<div class="main-wrapper">
{include 'header'}
    {set $salesTable = '!getSegment' | snippet : []}
<div class="delivery-page-crumbs">
    <div class="container">
        [[!pdoCrumbs?
            &showHome=`1`
            &outputSeparator=`&nbsp;&nbsp;/&nbsp;&nbsp;`
        ]]
        <input class="current-user-id" value="{$_modx->user.id}" type="hidden">
        <h1 class="delivery-pagetitle">{$_modx->resource.pagetitle}</h1>
    </div>
</div>
<div class="delivery-main-content container">
    <h2>Сегмент-фильтр</h2>
    <div class="segment-filter">
        <div class="segment-group">
            <div class="segment group-title">
                Средний чек от
            </div>
            <input class="segment-input" value="{$.get.min_avg}"  id="min_avg" type="text">
        </div>
        <div class="segment-group">
            <div class="segment group-title">
                Средний чек до
            </div>
            <input class="segment-input" value="{$.get.max_avg}" id="max_avg" type="text">
        </div>
        <div class="segment-group">
            <div class="segment group-title">
                Сумма заказов от
            </div>
            <input class="segment-input" value="{$.get.min_sum}" id="min_sum" type="text">
        </div>
        <div class="segment-group">
            <div class="segment group-title">
                 Сумма заказов до
            </div>
            <input class="segment-input" id="max_sum" value="{$.get.max_sum}" type="text">
        </div>
        <div class="segment-group">
            <div class="segment group-title">
                 Хоть одна из покупок на сумму минимум
            </div>
            <input class="segment-input" id="min_cartcost" value="{$.get.min_cartcost}" type="text">
        </div>
        <div class="segment-group">
            <div class="segment group-title">
                 Хоть одна из покупок на сумму максимум
            </div>
            <input class="segment-input" id="max_cartcost" value="{$.get.max_cartcost}" type="text">
        </div>
        <div class="segment-group">
            <div class="segment group-title">
                Количество заказов от
            </div>
            <input class="segment-input" value="{$.get.min_count}" id="min_count" type="text">
        </div>
        <div class="segment-group">
            <div class="segment group-title">
                Количесто заказов до 
            </div>
            <input class="segment-input" value="{$.get.max_count}" id="max_count" type="text">
        </div>
        <div class="segment-group">
            <div class="segment group-title">
                За сколько последних дней брать информацию
            </div>
            <input class="segment-input" value="{$.get.days}" id="days" type="text">
        </div>
        <div class="segment-group">
            <div class="segment group-title">
                Пол
            </div>
            {set $gender = $.get.gender}
            <div class="gender-input-wrapper">
                <input class="segment-input-gender" {if $gender == 1} checked {/if} name="gender" value="1" id="gender1" type="radio">
                <label for="gender1">Мужской</label>
            </div>
            <div class="gender-input-wrapper">
                <input class="segment-input-gender" {if $gender == 2} checked {/if} name="gender" value="2" id="gender2" type="radio">
                <label for="gender2">Женский</label>
            </div>
            <div class="gender-input-wrapper">
                <input class="segment-input-gender" {if !$gender} checked {/if} name="gender" value="" id="gender3" type="radio">
                <label for="gender3">Не выбрано</label>
            </div>
        </div>
        <div class="segment-group">
            <div class="segment group-title">
                Дата покупки входит в диапазон от 
            </div>
            <input class="segment-input" value="{$.get.date_1}" id="date_1" type="datetime-local">
        </div>
        <div class="segment-group">
            <div class="segment group-title">
                Дата покупки входит в диапазон до 
            </div>
            <input class="segment-input" value="{$.get.date_2}" id="date_2" type="datetime-local">
        </div>
        <div class="segment-group">
            <div class="segment group-title">
                Сколько дней назад была последняя покупка, от Х дней  (от 3 дней) 
            </div>
            <input class="segment-input" value="{$.get.last_buy1}" id="last_buy1" type="text">
        </div>
        <div class="segment-group">
            <div class="segment group-title">
                Сколько дней назад была последняя покупка, до Y дней (до 30 дней)
            </div>
            <input class="segment-input" value="{$.get.last_buy2}" id="last_buy2" type="text">
        </div>
        <div class="segment-group">
            <div class="segment group-title">
                Возраст от
            </div>
            <input class="segment-input" value="{$.get.min_dob}" id="min_dob" type="text">
        </div>
        <div class="segment-group">
            <div class="segment group-title">
                Возраст до
            </div>
            <input class="segment-input" value="{$.get.max_dob}" id="max_dob" type="text">
        </div>
        <div class="segment-group">
            <div class="segment group-title">
                День рождения не более дней назад
            </div>
            <input class="segment-input" value="{$.get.birthday_1}" id="birthday_1" type="text">
        </div>
        <div class="segment-group">
            <div class="segment group-title">
                День рождения не более дней вперед
            </div>
            <input class="segment-input" value="{$.get.birthday_2}" id="birthday_2" type="text">
        </div>
        <div class="segment-group">
            <div class="segment group-title">
                Клиент покупал продукт 1
            </div>
            <input class="segment-input" value="{$.get.product_1}" id="product_1" type="text">
        </div>
        <div class="segment-group">
            <div class="segment group-title">
                Клиент покупал продукт 2
            </div>
            <input class="segment-input" value="{$.get.product_2}" id="product_2" type="text">
        </div>
        <div class="segment-group">
            <div class="segment group-title">
                Клиент покупал продукт 3
            </div>
            <input class="segment-input" value="{$.get.product_3}" id="product_3" type="text">
        </div>
        <div class="segment-group">
            <div class="segment group-title">
                Клиент покупал продукт 4
            </div>
            <input class="segment-input" value="{$.get.product_4}" id="product_4" type="text">
        </div>
        <div class="segment-group-btns">
            <div class="segment-group-btn segment-filter-btn">Фильтровать</div>
            <div data-toggle="modal" data-target="#saveModal" class="segment-group-btn segment-add-settings-modal">Сохранить новые настройки</div>
            <div class="segment-group-btn segment-select-settings-btn">Выбрать/изменить настройки сегмента</div>
            <a class="segment-group-btn" href="{$_modx->resource.id|url}">Сбросить</a>
            <div class="segment-group-btn add-segment-btn-modal">Сохранить новый сегмент</div>
            <div class="select-segment-btn-wrapper">
            <div class=" select-segment-btn">
                Выбрать сегмент
                {set $segmentSelectors = '!getSegmentSelectors' | snippet : []}
            </div>
            <div class="select-segments-id">
                    {foreach $segmentSelectors as $selector}
                    <div title="{$selector.segment_createdon}" class="dropdown-item">
                        <a href="{$_modx->resource.id|url}?segment_id={$selector.segment_id}{$selector.segment_settings}" {if $.get.segment_id == $selector.segment_id} style="font-weight:bold;" {/if}  class="">{$selector.segment_name}</a>
                        <img data-segmentid="{$selector.segment_id}" src="assets/template/images/newimages/x.svg" class="dropdown-item_delete" alt="">
                    </div>
                    {/foreach}
                </div>
                </div>
        </div>
        
    </div>
        {foreach $segmentSelectors as $selector}
            {if $.get.segment_id == $selector.segment_id}
            <h3 data-id="{$selector.segment_id}" class="segment_id_identify">{$selector.segment_name}</h3>
            {/if}
        {/foreach}
    <h3>Отправить сообщение сегменту</h3>
    <div class="send-message-to-segment_wrapper">
        <div class="messages-channel-dropdown-wrapper">
            <div class="segment-message-input messages-channel-input">Выберите канал</div>
            <input class="send-message-hidden-input channel-input" type="hidden">
            <div class="send-message-variants messages-channel-variants">
                <div data-channelid="1" class="message-item message-channel-item">
                    SMS
                </div>
                <div data-channelid="2" class="message-item message-channel-item">
                    EMAIL
                </div>
                <div data-channelid="PUSH" class="message-item message-channel-item">
                    PUSH
                </div>
            </div>
        </div>
        <div class="messages-channel-dropdown-wrapper">
            {set $messageBlanks = '!getMessagesBlanks' | snippet : []}
            <div  class="segment-message-input messages-message-input"> Выберите сообщение </div>
            <input class="send-message-hidden-input message-input" type="hidden">
            <div class="send-message-variants messages-messages-variants">
                {foreach $messageBlanks as $messageBlank}
                    <div data-channelid="{$messageBlank.message_Id}" class="message-item message-message-item">
                    {$messageBlank.message_name}
                </div>
                {/foreach}
            </div>
        </div>
        {if $.get.segment_id}
        <div class="segment-group-btn send-messages-btn">Отправить</div>
        <div class="segment-group-btn send-messages-btn-now">Отправить рассылку сейчас</div>
        {else}
        <div class="segment-group-btn send-messages-btn-disabled">Сначала выберите сегмент</div>
        {/if}
    </div>

    <h3>Добавить промокод для сегмента</h3>
    <div class="add-secret-group-wrapper">
        {foreach $salesTable as $user}
        <input value="{$user.user_id}" class="hidden-input__user-id" type="hidden">
        {/foreach}
        <div class="add-secret-group-title">
            Введите ID промокода
        </div>
        <input class="secret-input__promo-id" type="text">
        <button class="secret-input-btn">Добавить</button>
    </div>
    <table id="user_list" class="user-orders-table">
         <thead>
   <tr>
    <th>USER_ID</th>
    <th>Имя</th>
    <th>Почта</th>
    <th>Телефон</th>
    <th>Первый заказ</th>
    <th>Последний заказ</th>
    <th>Кол-во заказов</th>
    <th>Средний чек</th>
    <th>Общая сумма</th>
    <th>Сумма по параметрам</th>
   </tr>
   </thead>
   <tbody>
   {foreach $salesTable as $item}
   <tr>
    {foreach $item as $i}
    <th>{$i}</th>
    {/foreach}
   </tr>
   {/foreach}
   </tbody>
    </table>
</div>
{include 'footer'}
</div>
<div class="save-settings-modal-wrapper">
<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cохранить настройки текущего сегмента</h5>
        <button type="button" class="close save-settings-modal-close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group-segment">
            <label for="savename">Название</label>
        <input id="savename" type="text" class="save-settings-segment-input">
        </div>
        <div class="form-group-segment">
            <label for="savecomment">Комментарий</label>
        <input id="savecomment" type="text" class="save-settings-segment-input">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="segment-add-settings-btn">Сохранить</button>
      </div>
    </div>
  </div>
</div>
<div class="select-settings-modal-wrapper">
<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Выбрать настройки сегмента</h5>
        <button type="button" class="close select-settings-modal-close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
          {set $segmentSettings = '!getSegmentSettings' | snippet : []}
          {foreach $segmentSettings as $setting}
          {if $setting.segment_id != 0}
          <div data-id="{$setting.segment_id}" class="segment-setting-group-wrapper">
              <div title="{$setting.segment_comment}" class="segment-setting-group">
                <div class="segment-setting">
                    {$setting.segment_name}
                </div>
                <div class="segment-setting">
                    {$setting.segment_createdon}
                </div>
                <div class="segment-setting segment-get-params">{$setting.segment_settings}</div>
              </div>
              <div class="segment-setting-change">
                    Изменить
                </div>
              <div class="segment-setting-delete">
                    Удалить
                </div>
              
          </div>
          {/if}
          {/foreach}
      </div>
      <div class="modal-footer">
        <button type="button" class="">Сохранить</button>
      </div>
    </div>
  </div>
</div>
<div class="add-segment-modal-wrapper">
<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Сохранить новый сегмент</h5>
        <button type="button" class="close add-segment-modal-close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group-segment">
            <label for="newsegment_name">Название</label>
        <input id="newsegment_name" type="text" class="">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="add-segment-btn">Сохранить</button>
      </div>
    </div>
  </div>
</div>
{include 'js'}
{else}
<h1>Страница доступна только администратору.</h1>
{/if} 
<script src="assets/template/js/jquery.tablesorter.js"></script>
<script>
    $(document).ready(function() { 
        $("#user_list").tablesorter();
        jsonObj = [];
        var string123 = "";
        $('.segment-filter-btn').on('click', function(){
            var params = window
                .location
                .search
                .replace('?','')
                .split('&')
                .reduce(
                    function(p,e){
                        var a = e.split('=');
                        p[ decodeURIComponent(a[0])] = decodeURIComponent(a[1]);
                        return p;
                    },
                    {}
                );
            var segment_id= params['segment_id'];
            $('.segment-input').each(function(){
                var title = $(this).attr('id');
                var val = $(this).val();
                jsonObj[title] = val;
                string123=string123+"&"+title+"="+val;
            });
            $('.segment-input-gender').each(function(){
                    if ($(this).prop('checked')){
                    var title = $(this).attr('name');
                    var val = $(this).val();
                    string123 = string123+"&"+title+"="+val;
                }
            });
            if (segment_id){
                string123 = string123+"&segment_id="+segment_id;
            }
            var newlocation = "[[++site_url]]{$_modx->resource.alias}"+".html?"+string123;
            $(location).attr('href',newlocation);
        });
        var usersArray = [];
        $('.secret-input-btn').on('click', function(){
            var id_promo = $('.secret-input__promo-id').val();
            $('.hidden-input__user-id').each(function(){
                var user = $(this).val();
                usersArray.push(user);
            });
            for (var i=0;i<usersArray.length;i++){
                $.get(
                    "[[++site_url]]/changepromobase.html",
                    {
                     "action":"secret", 
                     "id_promo": id_promo, 
                     "id_user":usersArray[i]
                    },
                    onSuccess
                );
            }
            usersArray = [];
        });
        function onSuccess(data){
            data = JSON.parse(data);
            miniShop2.Message.success(data.response_text);
        }
        $('.segment-setting-change').on('click', function(){
            $('.segment-input').each(function(){
                var title = $(this).attr('id');
                var val = $(this).val();
                jsonObj[title] = val;
                string123=string123+"&"+title+"="+val;
            });
            $('.segment-input-gender').each(function(){
                    if ($(this).prop('checked')){
                    var title = $(this).attr('name');
                    var val = $(this).val();
                    string123 = string123+"&"+title+"="+val;
                }
            });
            var setting_id = $(this).parent().data('id');
                $.get(
                    "[[++site_url]]/segmentsettings.html",
                    {
                     "action":"change",
                     "setting_id":setting_id,
                     "settings":string123
                    },
                    onChangeSegmentSetting
                );
        });
        function onChangeSegmentSetting(data){
            if (data){
                var newlocation = "[[++site_url]]{$_modx->resource.alias}"+".html?"+data;
                $(location).attr('href',newlocation);
            }
        }
        $('.segment-setting-delete').on('click', function(){
            var setting_id = $(this).parent().data('id');
                $.get(
                    "[[++site_url]]/segmentsettings.html",
                    {
                     "action":"delete",
                     "setting_id":setting_id
                    },
                    onDeleteSegmentSetting
                );
        });
        function onDeleteSegmentSetting(data){
            if (data){
                $("[data-id="+data+"]").fadeOut();
            }
        }
        $('.segment-setting-group').on('click', function(){
            var setting_id = $(this).parent().data("id");
            var text = $(this).find('.segment-get-params').text();
            var newlocation = "[[++site_url]]{$_modx->resource.alias}"+".html?"+text+"&setting_id="+setting_id;
            $(location).attr('href',newlocation);
        });
        $('.select-segment-btn').on('click', function(){
            if ($(".select-segments-id").hasClass('active')){
                $('.select-segments-id').removeClass('active');
            } else {
                $('.select-segments-id').addClass('active');
            }
        });
        $('.add-segment-btn-modal').on('click', function(){
            $('.add-segment-modal-wrapper').addClass('active');
        });
        $('.add-segment-modal-close').on('click', function(){
            $('.add-segment-modal-wrapper').removeClass('active');
        });
        $('.segment-add-settings-modal').on('click', function(){
            $('.save-settings-modal-wrapper').addClass('active');
        });
        $('.save-settings-modal-close').on('click', function(){
            $('.save-settings-modal-wrapper').removeClass('active');
        });
        $('.segment-select-settings-btn').on('click', function(){
            $('.select-settings-modal-wrapper').addClass('active');
        });
        $('.select-settings-modal-close').on('click', function(){
            $('.select-settings-modal-wrapper').removeClass('active');
        });
        $(".segment-add-settings-btn").on('click', function(){
            $('.segment-input').each(function(){
                var title = $(this).attr('id');
                var val = $(this).val();
                jsonObj[title] = val;
                string123=string123+"&"+title+"="+val;
            });
            $('.segment-input-gender').each(function(){
                    if ($(this).prop('checked')){
                    var title = $(this).attr('name');
                    var val = $(this).val();
                    string123 = string123+"&"+title+"="+val;
                }
            });
            var name = $('#savename').val();
            var comment = $('#savecomment').val();
                $.get(
                    "[[++site_url]]/segmentsettings.html",
                    {
                     "action":"save",
                     "name":name,
                     "comment":comment,
                     "settings":string123
                    },
                    onSaveSegmentSetting
                );
        });
        function onSaveSegmentSetting(data){
            if (data){
                location.reload();
            }
        }
        $('.add-segment-btn').on('click', function(){
            var params = window
                .location
                .search
                .replace('?','')
                .split('&')
                .reduce(
                    function(p,e){
                        var a = e.split('=');
                        p[ decodeURIComponent(a[0])] = decodeURIComponent(a[1]);
                        return p;
                    },
                    {}
                );
            var setting_id = params['setting_id'];
            var segment_name = $('#newsegment_name').val();
            console.log(segment_name);
            $.get(
                "[[++site_url]]/segmentusers.html",
                {
                 "action":"add",
                 "setting_id":setting_id,
                 "name": segment_name
                },
                onAddSegment
            );
        });
        function onAddSegment (data){
        console.log(data);
            var usersArray = [];
            $('.hidden-input__user-id').each(function(){
                var user = $(this).val();
                usersArray.push(user);
            });
            for (var i=0;i<usersArray.length;i++){
                $.get(
                    "[[++site_url]]/segmentusers.html",
                    {
                     "action":"updatebase",
                     "user_id":usersArray[i],
                     "segment_id":data
                    },
                    onUpdateBase
                );
            }
        }
        function onUpdateBase(data){
            if (data){
                location.reload();
            }
        }
        $('.dropdown-item_delete').on('click', function(){
            var segment_id = $(this).data('segmentid');
            $.get(
                "[[++site_url]]/segmentusers.html",
                {
                 "action":"delete",
                 "segment_id":segment_id
                },
                onDeleteSegment
            );
        });
        function onDeleteSegment(data){
            if (data){
                $("[data-segmentid="+data+"]").parent().fadeOut();
            }  
        }
        $('.segment-message-input').on('click',function(){
            if ($(this).parent().find('.send-message-variants').hasClass('active')){
                $(this).parent().find('.send-message-variants').removeClass('active');
            } else {
                $(this).parent().find('.send-message-variants').addClass('active');
            }
        });
        $('.message-item').on('click', function(){
            var text = $(this).text();
            var channelid = $(this).data('channelid');
            $(this).parent().parent().find('.send-message-hidden-input').val(channelid);
            $(this).parent().parent().find('.segment-message-input').text(text);
            $(this).parent().removeClass('active');
        });
        $('.send-messages-btn').on('click', function(){
            channel = $('.channel-input').val();
            message = $('.message-input').val();
            userid = $('.current-user-id').val();
            var params = window
                .location
                .search
                .replace('?','')
                .split('&')
                .reduce(
                    function(p,e){
                        var a = e.split('=');
                        p[ decodeURIComponent(a[0])] = decodeURIComponent(a[1]);
                        return p;
                    },
                    {}
                );
            var segment_id= params['segment_id'];
                $.get(
                    "[[++site_url]]/sendmessages.html",
                    {
                        "action":"save",
                        "user_id":userid,
                        "segment_id":segment_id,
                        "message_id":message,
                        "channel":channel
                    },
                    onSaveMessagesSegment
                    );
        });
        function onSaveMessagesSegment(data){
            miniShop2.Message.success('Рассылка добавлена');
            $('.send-messages-btn').hide();
            $('.send-messages-btn-now').show();
        }
        $('.send-messages-btn-now').on('click',function(){
            $.get(
                "[[++site_url]]/sendmessages.html",
                {
                    "action":"send"
                },
                onSendMessagesSegment
                );
        });
        function onSendMessagesSegment(data){
            miniShop2.Message.success('Рассылка отправлена');
        }
    });
</script>
</body>
</html>