{include 'head'}
</head>
<body class="{if $_modx->resource.template == 2}index-template{else}base-template{/if}">
<!-- Mobile menu --> 
{include 'mobile-menu'}
<div class="overlay"></div>
<!-- /. Mobile menu -->

<div class="main-wrapper">
{include 'header'}
    {set $salesTable = '!getSaleTable' | snippet : []}
<div class="delivery-page-crumbs">
    <div class="container">
        [[!pdoCrumbs?
            &showHome=`1`
            &outputSeparator=`&nbsp;&nbsp;/&nbsp;&nbsp;`
        ]]
        <h1 class="delivery-pagetitle">{$_modx->resource.pagetitle}</h1>
    </div>
</div>
<div class="delivery-main-content container">
    <h2>Сегмент-фильтр</h2>
    <div class="segment-filter">
        <div class="segment-group">
            <div class="segment group-title">
                Средний чек от
            </div>
            <input class="segment-input" value="{$.get.min_avg}"  id="min_avg" type="text">
        </div>
        <div class="segment-group">
            <div class="segment group-title">
                Средний чек до
            </div>
            <input class="segment-input" value="{$.get.max_avg}" id="max_avg" type="text">
        </div>
        <div class="segment-group">
            <div class="segment group-title">
                Сумма заказов от
            </div>
            <input class="segment-input" value="{$.get.min_cartcost}" id="min_cartcost" type="text">
        </div>
        <div class="segment-group">
            <div class="segment group-title">
                 Сумма заказов до
            </div>
            <input class="segment-input" id="max_cartcost" value="{$.get.max_cartcost}" type="text">
        </div>
        <div class="segment-group">
            <div class="segment group-title">
                Количество заказов от
            </div>
            <input class="segment-input" value="{$.get.min_count}" id="min_count" type="text">
        </div>
        <div class="segment-group">
            <div class="segment group-title">
                Количесто заказов до 
            </div>
            <input class="segment-input" value="{$.get.max_count}" id="max_count" type="text">
        </div>
        <div class="segment-group">
            <div class="segment group-title">
                За сколько последних дней брать информацию
            </div>
            <input class="segment-input" value="{$.get.days}" id="days" type="text">
        </div>
        <div class="segment-group">
            <div class="segment group-title">
                Клиент покупал продукт 1
            </div>
            <input class="segment-input" value="{$.get.product_1}" id="product_1" type="text">
        </div>
        <div class="segment-group">
            <div class="segment group-title">
                Клиент покупал продукт 2
            </div>
            <input class="segment-input" value="{$.get.product_2}" id="product_2" type="text">
        </div>
        <div class="segment-group">
            <div class="segment group-title">
                Клиент покупал продукт 3
            </div>
            <input class="segment-input" value="{$.get.product_3}" id="product_3" type="text">
        </div>
        <div class="segment-group">
            <div class="segment group-title">
                Клиент покупал продукт 4
            </div>
            <input class="segment-input" value="{$.get.product_4}" id="product_4" type="text">
        </div>
        <div class="segment-filter-btn">Отправить</div>
    </div>
    <div class="add-secret-group-wrapper">
        <h3>Добавить промокод для сегмента</h2>
        {foreach $salesTable as $user}
        <input value="{$user.ID_us}" class="hidden-input__user-id" type="hidden">
        {/foreach}
        <div class="add-secret-group-title">
            Введите ID промокода
        </div>
        <input class="secret-input__promo-id" type="text">
        <button class="secret-input-btn">Добавить</button>
    </div>
    <table id="user_list" class="user-orders-table">
         <thead>
   <tr>
    <th>USER_ID </th>
    <th>Имя</th>
    <th>USERNAME</th>
    <th>Первый заказ</th>
    <th>Последний заказ</th>
    <th>Кол-во заказов</th>
    <th>Средний чек</th>
    <th>Сумма</th>
   </tr>
   </thead>
   <tbody>
   {foreach $salesTable as $item}
   <tr>
    {foreach $item as $i}
    <th>{$i}</th>
    {/foreach}
   </tr>
   {/foreach}
   </tbody>
    </table>
</div>
{include 'footer'}
</div>
{include 'js'}
<script src="assets/template/js/jquery.tablesorter.js"></script>
<script>
    $(document).ready(function() { 
        $("#user_list").tablesorter();
        jsonObj = [];
        var string123 = "";
        $('.segment-filter-btn').on('click', function(){
            $('.segment-input').each(function(){
                var title = $(this).attr('id');
                var val = $(this).val();
                jsonObj[title] = val;
                string123=string123+"&"+title+"="+val;
            });
            var newlocation = "[[++site_url]]{$_modx->resource.alias}"+".html?"+string123;
            $(location).attr('href',newlocation);
        });
        var usersArray = [];
        $('.secret-input-btn').on('click', function(){
            var id_promo = $('.secret-input__promo-id').val();
            $('.hidden-input__user-id').each(function(){
                var user = $(this).val();
                usersArray.push(user);
            });
            for (var i=0;i<usersArray.length;i++){
                $.get(
                    "http://demodelivery.appsj.su/changepromobase.html",
                    {
                     "action":"secret", 
                     "id_promo": id_promo, 
                     "id_user":usersArray[i]
                    },
                    onSuccess
                );
            }
            usersArray = [];
        });
        function onSuccess(data){
            data = JSON.parse(data);
            miniShop2.Message.success(data.response_text);
        }
    });
</script>
</body>
</html>