{include 'head'}
</head>
<body class="{if $_modx->resource.template == 2}index-template{else}base-template{/if} anchor-menu-init">
<!-- Mobile menu --> 
{include 'mobile-menu'}
<div class="overlay"></div>
<!-- /. Mobile menu -->

<div class="main-wrapper">
{include 'header'}
        
<div class="middle">
<div class="push50"></div>
<div class="container">
    <div class="product-detail">
                        <h1 class="visible-xs visible-sm">{$_modx->resource.pagetitle}</h1>
                        <div class="row">
                            <div class="col-md-7">
                                <div class="product-img-wrapper relative">
                                    <div class="product-carousel">
                                        
                <div class="item">
                     {$_modx->runSnippet('msGallery',['tpl'=>'product.gallery.tpl', 'limit'=>1])}      
              
                </div>
                
                </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="product-detail-content">
                                    <h1 class="visible-md visible-lg">{$_modx->resource.pagetitle}</h1>
                                    
                                    <form class="form-horizontal ms2_form msoptionsprice-product" method="post">
                                        <input type="hidden" name="id" value="{$_modx->resource.id}">
                                        
                                        
<div class="product__content">
    {$_modx->resource.content}
</div>
                                        <hr>
                                        
                                        
                                        
                                        
                                        <div class="row">
                                            <div class="col-xs-6 f20">
                                                <div class="price-wrap f26 weight900">
                                                    <span class="price">
                                                        <span class="msoptionsprice-cost msoptionsprice-16">{$_modx->resource.price}</span> 
                                                        <i class="fa fa-rub"></i></span>
                                                </div>
                                            </div>
                                {set $serving__size = $_modx->resource.id | resource : 'serving__size'}                
                                            <div class="col-xs-6 text-right">
                                            <div class="serving__size">
                                               {$serving__size} 
                                            </div>
                                             
                                            </div>
                                        </div>
                                        
                                        
                                        
                    
                                        
                                        
                                        <div class="row">
                                            <div class="col-xs-8 col-sm-6 col-lg-5">
                                                <button type="submit" class="btn min block" name="ms2_action" value="cart/add">В корзину</button>
                                            </div>
                                            <div class="col-xs-4 col-sm-3 col-lg-2">
                                                <div class="element-counter">
                                                    <div class="input-group">
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn-number btn-minus" disabled="disabled" data-type="minus" data-field="count-16"><span></span></button>
                                                        </span>
                                                        <input type="text" name="count" id="count-16" class="form-control input-number" value="1" min="1" max="99">
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn-number btn-plus" data-type="plus" data-field="count-16"><span></span></button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
              
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
   
</div>





<div class="footer-push"></div>
</div>

{include 'footer'}
{include 'js'}
</body>
</html>