{if $_modx->user.id == 1 || $_modx->user.id == 719}
{include 'head'}
</head>
<body class="{if $_modx->resource.template == 2}index-template{else}base-template{/if}">
<!-- Mobile menu --> 
{include 'mobile-menu'}
<div class="overlay"></div>
<!-- /. Mobile menu -->

<div class="main-wrapper">
{include 'header'}
    {set $messageBlanks = '!getMessagesBlanks' | snippet : []}
    {set $segmentSelectors = '!getSegmentSelectors' | snippet : []}
    {set $robots = '!getCronRobots' | snippet : []}
    <input class="current-user-id" value="{$_modx->user.id}" type="hidden">
<div class="delivery-page-crumbs">
    <div class="container">
        [[!pdoCrumbs?
            &showHome=`1`
            &outputSeparator=`&nbsp;&nbsp;/&nbsp;&nbsp;`
        ]]
        <h1 class="delivery-pagetitle">{$_modx->resource.pagetitle}</h1>
    </div>
</div>
<div class="delivery-main-content container">
        <h3>Добавить маркетингового робота</h3>
    <div class="cron-sender-wrapper">
        <div class="send-message-to-segment_wrapper">
            <div class="cron-input-dropwodown-wrapper">
                <div class="segment-message-input cron-segment-input-wrapper">Выберите сегмент</div>
                <input class="cron-segment-input" type="hidden">
                <div class="cron-segment-input-variants">
                    {foreach $segmentSelectors as $selector}
                    <div data-id="{$selector.segment_id}" class="cron-segment-dropdown-item">
                        {$selector.segment_name}
                    </div>
                    {/foreach}
                </div>
            </div>
            <div class="cron-input-dropwodown-wrapper">
                <div class="segment-message-input cron-segment-input-wrapper">Выберите сообщение</div>
                <input class="cron-message-input" type="hidden">
                <div class="cron-segment-input-variants">
                    {foreach $messageBlanks as $messageBlank}
                        <div data-id="{$messageBlank.message_Id}" class="cron-segment-dropdown-item">
                            {$messageBlank.message_name}
                        </div>
                    {/foreach}
                </div>
            </div>
            <div class="segment-group-btn cron-add-command">Добавить</div>
        </div>
        <div class="cron-sender-time">Команда будет выполняться</div>
        <div class="cron-sender-time-wrapper">
            
            <div class="cron-sender-time_minutes">
                <div class="cron-sender-time_minutes-title">
                Минуты
            </div>
                <div class="cron-input_group">
                    <input name="minutes" checked id="cron-sender-eveytimenull" type="radio">
                    <label for="cron-sender-eveytimenull">Каждую минуту <input value="" type="hidden"></label>
                </div>
                <div class="cron-input_group">
                    <input name="minutes" id="cron-sender-everytime" type="radio">
                    <label for="cron-sender-everytime">Каждую <input class="cron-sender-minutes-in" type="number"> минуту</label>
                </div>
                <div class="cron-input_group">
                    <input name="minutes" id="cron-sender-selecttime" type="radio">
                    <label for="cron-sender-selecttime">В указанные минуты <input class="cron-sender-minutes-in selected-props" type="text"></label>
                </div>
            </div>
            <div class="cron-sender-time_minutes">
                <div class="cron-sender-time_minutes-title">
                Часы
            </div>
                <div class="cron-input_group">
                    <input checked name="hours" id="cron-sender-everyhoursnull" type="radio">
                    <label for="cron-sender-everyhoursnull">Каждый <input class="cron-sender-minutes-in" type="hidden"> час</label>
                </div>
                <div class="cron-input_group">
                    <input name="hours" id="cron-sender-everyhours" type="radio">
                    <label for="cron-sender-everyhours">Каждый <input class="cron-sender-minutes-in" type="number"> час</label>
                </div>
                <div class="cron-input_group">
                    <input name="hours" id="cron-sender-hours" type="radio">
                    <label for="cron-sender-hours">В указанные часы <input class="cron-sender-minutes-in selected-props" type="text"></label>
                </div>
            </div>
            <div class="cron-sender-time_minutes">
                <div class="cron-sender-time_minutes-title">
                Дни
            </div>
                <div class="cron-input_group">
                    <input checked name="days" id="cron-sender-eveydaysnull" type="radio">
                    <label for="cron-sender-eveydaysnull">Каждый <input class="cron-sender-minutes-in" type="hidden"> день</label>
                </div>
                <div class="cron-input_group">
                    <input name="days" id="cron-sender-eveydays" type="radio">
                    <label for="cron-sender-eveydays">Каждый <input class="cron-sender-minutes-in" type="number"> день</label>
                </div>
                <div class="cron-input_group">
                    <input name="days" id="cron-sender-days" type="radio">
                    <label for="cron-sender-days">В указанные дни <input class="cron-sender-minutes-in selected-props" type="text"></label>
                </div>
            </div>
            <div class="cron-sender-time_minutes">
                <div class="cron-sender-time_minutes-title">
                Дни недели
            </div>
                <div class="cron-input_group">
                    <input checked name="w" id="cron-sender-eveyweekdaysnull" type="radio">
                    <label for="cron-sender-eveyweekdaysnull">Каждый <input value="1,2,3,4,5,6,7" class="cron-sender-minutes-in" type="hidden"> день недели</label>
                </div>
                <div class="cron-input_group">
                    <input name="w" id="cron-sender-eveyweekdays" type="radio">
                    <label for="cron-sender-eveyweekdays">Каждый <input class="cron-sender-minutes-in" type="number"> день недели</label>
                </div>
                <div class="cron-input_group">
                    <input name="w" id="cron-sender-selectweekdays" type="radio">
                    <label for="cron-sender-selectweekdays">В указанные дни недели <input class="cron-sender-minutes-in selected-props" type="text"></label>
                </div>
            </div>
            
        </div>
    </div>
    <table id="robots_list" class="user-orders-table">
         <thead>
   <tr>
    <th>ID</th>
    <th>Сегмент</th>
    <th>ID сообщения</th>
    <th>ID админа</th>
    <th>Минуты</th>
    <th>Часы</th>
    <th>Дни</th>
    <th>Месяцы</th>
    <th>Дни недели</th>
    <th>Дата создания</th>
    <th>Дата последней отправки</th>
    <th>Активность</th>
   </tr>
   </thead>
   <tbody>
   {foreach $robots as $item}
   <tr>
    {foreach $item as $i}
    {if $i}
    <th>{$i}</th>
    {else}
    <th>*</th>
    {/if}
    {/foreach}
   </tr>
   {/foreach}
   </tbody>
    </table>
</div>
{include 'footer'}
</div>
{else}
<h1>Страница доступна только администратору.</h1>
{/if}
{include 'js'}
<script src="assets/template/js/jquery.tablesorter.js"></script>
<script>
    $("#robots_list").tablesorter();
    $('.cron-segment-input-wrapper').on('click', function(){
        if ($(this).parent().find('.cron-segment-input-variants').hasClass('active')){
            $(this).parent().find('.cron-segment-input-variants').removeClass('active');
        } else {
            $(this).parent().find('.cron-segment-input-variants').addClass('active');    
        }
    });
    $('.cron-segment-dropdown-item').on('click', function(){
        $(this).parent().parent().find('input').val($(this).data('id'));
        $(this).parent().parent().find('.cron-segment-input-wrapper').text($(this).text());
        $(this).parent().removeClass('active');
    });
    $('.cron-add-command').on('click', function(){
        var minutes;
        var hours;
        var weekdays;
        var days;
        $("input[name*='minutes']").each(function(){
            if ($(this).prop('checked')){
                minutes = $(this).parent().find('label').find('input').val();
                if ($(this).parent().find('label').find('input').hasClass('selected-props')){
                    minutes = '*,'+minutes;
                }
            }
        });
        $("input[name*='hours']").each(function(){
            if ($(this).prop('checked')){
                 hours = $(this).parent().find('label').find('input').val();
                if ($(this).parent().find('label').find('input').hasClass('selected-props')){
                    hours = '*,'+hours;
                }
            }
        });
        $("input[name*='days']").each(function(){
            if ($(this).prop('checked')){
                 days = $(this).parent().find('label').find('input').val();
                if ($(this).parent().find('label').find('input').hasClass('selected-props')){
                    days = '*,'+days;
                }
            }
        });
        $("input[name*='w']").each(function(){
            if ($(this).prop('checked')){
                 weekdays = $(this).parent().find('label').find('input').val();
            }
        });
        var segment = $('.cron-segment-input').val();
        var message = $('.cron-message-input').val();
        var userid = $('.current-user-id').val();
        if (!segment || !message){
            miniShop2.Message.error('Заполните все поля.');
            return false;
        }
        $.get(
            "[[++site_url]]/sendmessages.html",
            {
                "action":"cron",
                "minutes":minutes,
                "message_id":message,
                "segment_id":segment,
                "hours":hours,
                "days":days,
                "weekdays":weekdays,
                "user_id":userid
            },
            onCronAdd
        );
    });
    function onCronAdd(data){
        miniShop2.Message.success('Рассылка добавлена');
    }

</script>
</body>
</html>