{include 'head'}
</head>
<body class="{if $_modx->resource.template == 2}index-template{else}base-template{/if}">
<!-- Mobile menu --> 
{include 'mobile-menu'}
<div class="overlay"></div>
<!-- /. Mobile menu -->

<div class="main-wrapper">
{include 'header'}
    {set $promobase = '!getPromoBase' | snippet : [
        'default' => 1
    ]}
<div class="delivery-page-crumbs">
    <div class="container">
        [[!pdoCrumbs?
            &showHome=`1`
            &outputSeparator=`&nbsp;&nbsp;/&nbsp;&nbsp;`
        ]]
        <h1 class="delivery-pagetitle">{$_modx->resource.pagetitle}</h1>
    </div>
</div>
<div class="container">
    <div class="promo-add-group-wrapper">
        {foreach $promobase as $item index=$index}
            {set $newbase1 = $.php.array_keys($item)}
            {foreach $item as $i index=$index11}
                {if $index == 0}
                    {if $newbase1.$index11 != 'id_promo'}
                        <div class="promo-add-group">
                            <div class="promo-add-title">{$newbase1.$index11}</div>
                            <input placeholder="text" data-title="{$newbase1.$index11}" class="promo-add-input" type="text">
                        </div>
                    {/if}
                {/if}
            {/foreach}
        {/foreach}
    </div>
        <div class="promo-add-group-btn">
            Добавить
        </div>
</div>
<div class="promobase-wrapper container">
     <table id="promo_list" class="user-orders-table">
         <thead>
   <tr>
       
    <th>ID Акции</th>
    <th>Доступность</th>
    <th>Промокод</th>
    <th>Сколько раз пользователь может заюзать</th>
    <th>Сколько кодов доступно</th>
    <th>Максимум использований в чеке</th>
    <th>Начало акции (дата)</th>
    <th>Конец акции (дата)</th>
    <th>Тип акции</th>
    <th>ID промотовара</th>
    <th>Сколько начислять бонусов</th>
    <th>Название акции</th>
    <th>Описание акции</th>
    <th>Активость</th>
    <th>Комментарий для админа</th>
    <th>Сохранить</th>
   </tr>
   </thead>
   <tbody>
   {foreach $promobase as $item index=$index}
   {set $newbase1 = $.php.array_keys($item)}
   
   <tr name="">
    {foreach $item as $i index=$index1}
    {if $newbase1.$index1 == 'id_promo'}
    <th data-name="{$newbase1.$index1}" class="data-id_{$index}">
        {$i}
        <input class="promo-change-val-input d-none" placeholder="{$i}" value="{$i}" type="text">
    </th>
    {else}
    <th data-name="{$newbase1.$index1}" class="data-id_{$index}">
        <p style="display:none;">{$i}</p>
        <input class="promo-change-val-input" placeholder="{$i}" value="{$i}" type="text">
    </th>
    {/if}
    {/foreach}
    <th data-id="{$index}" class="promo-save-changes">Сохранить</th>
    <th data-id="{$index}" class="promo-delete">Удалить</th>
   </tr>
   {/foreach}
   </tbody>
    </table>
</div>
{include 'footer'}
</div>
{include 'js'}
<script src="assets/template/js/jquery.tablesorter.js"></script>
<script>
    $(document).ready(function() { 
        $("#promo_list").tablesorter();
        let jsonObj = {};
        $('.promo-add-group-btn').on('click', function(){
            $('.promo-add-input').each(function(){
                var val = $(this).val();
                var name = $(this).data('title');
                jsonObj[name] = val;
            });
            jsonObj['action'] = 'add';
            $.get(
                    "[[++site_url]]/changepromobase.html",
                    jsonObj,
                    onSuccess
                );
            console.log(jsonObj);
        });
        $('.promo-delete').on('click', function(){
            var data = $(this).data('id');
            $('.data-id_'+data).each(function(){
                var val = $(this).find('input').val();
                var name = $(this).data('name');
                jsonObj[name] = val;
            });
            jsonObj['action'] = 'delete';
            $.get(
                    "[[++site_url]]/changepromobase.html",
                    jsonObj,
                    onSuccess
                );
            console.log(jsonObj);
        });
        $('.promo-save-changes').on('click', function(){
            var data = $(this).data('id');
            $('.data-id_'+data).each(function(){
                var val = $(this).find('input').val();
                var name = $(this).data('name');
                jsonObj[name] = val;
            });
            $.get(
                    "[[++site_url]]/changepromobase.html",
                    jsonObj,
                    onSuccess
                );
            jsonObj['action'] = 'change';
                    console.log(jsonObj);
        });
        function onSuccess(data){
            if (data){
                console.log(data);
            }
        }

    });
</script>
</body>
</html>