.minimal-font-size-content {font-size: 0.8rem}
.minimal-font-size-content strong {font-weight: bold;}
.minimal-font-size-content .table table {border-radius: 10px;}
.minimal-font-size-content .table th, .minimal-font-size-content .table td {padding: 6px;}
.minimal-font-size-content .table thead .sorting {background-position: center right 0;}
.minimal-font-size-content .table thead th {font-size: 0.8rem;}
.minimal-font-size-content .table td p {margin-bottom: 5px;}
.minimal-font-size-content .table td small {color: #2f4cdd;}
.minimal-font-size-content .table td .rating-text {font-size: 1.4rem;font-weight: bold;color: #f72b50;}

.minimal-font-size-content .table tr.desabled .rating-text,
.minimal-font-size-content .table tr.off,
.minimal-font-size-content .table tr.desabled .bootstrap-select .btn,
.minimal-font-size-content .table tr.off .bootstrap-select .btn {color: #ccc !important}

.minimal-font-size-content .table tr.off td:first-child {border-left: 5px solid #ccc;}
.minimal-font-size-content .table tr.off .btn[data-action=disable]:hover {color: #2c7f17;}
.minimal-font-size-content .table tr:not(.off) td:first-child {border-left: 5px solid #2c7f17;}
.minimal-font-size-content .table tr:not(.off) .btn[data-action=disable] {color: #2c7f17;}

.minimal-font-size-content .table tr.black-list td:first-child {border-left: 5px solid #000;}
.minimal-font-size-content .table tr.black-list-1 td {background: #e0e0e0 !important;}
.minimal-font-size-content .table tr.black-list-2 td {background: #d7beff !important;}
.minimal-font-size-content .table tr.black-list-3 td {background: #bfbeff !important;}

.minimal-font-size-content .table .edit-input {width: 100%;border: 1px solid #e4e4e4;padding: 4px;}
.minimal-font-size-content .table .element-property .bootstrap-select {width: 100%;}
.minimal-font-size-content .custom-control-input {display: none;}
.minimal-font-size-content .custom-control-label:before,
.minimal-font-size-content .custom-control-label:after {width: 18px;height: 18px;}
.minimal-font-size-content .table .btn {padding: 2px; margin-right: 0; transition: .3s; cursor: pointer;}
.minimal-font-size-content .table .btn.warning {color: red;}
.minimal-font-size-content .table .btn:hover {color: #ccc;}

.minimal-font-size-content .filtration-block {padding: 1.5rem 1.75rem 0;}
.minimal-font-size-content .filtration-block .row {position: relative; margin-left: -7.5px;margin-right: -7.5px;}
.minimal-font-size-content .filtration-block .row .filter-block {padding-left: 7.5px;padding-right: 7.5px;}
.minimal-font-size-content .filtration-block .row.padding-left {padding-left: 60px;}
.minimal-font-size-content .filtration-block input {height: 35.6px;width: 100%; padding: 5px 10px;border-radius: 5px;}
.minimal-font-size-content .filtration-block textarea {min-height: 100px;width: 100%; padding: 5px 10px;border-radius: 5px;}
.minimal-font-size-content .filtration-block input:not(.btn) {border: 1px solid #ccc;}
.minimal-font-size-content .filtration-block .bootstrap-select {width: 100% !important; max-width: 220px; height: 35.6px;}
.minimal-font-size-content .filtration-block button.btn {border-color: #ccc !important; padding: 5px 10px;height:100%;}
.minimal-font-size-content .filtration-block input.btn {background-color: #2f4cdd; color: #fff;text-decoration: none;opacity: 1;transition: 0.3s;}
.minimal-font-size-content .filtration-block input.btn:hover{opacity: 0.8;}
.minimal-font-size-content .filtration-block .buttin-clear {position: absolute;left: 15px;top: 26px; height: 34px;width: 34px;border-radius: 5px;background-color: #ccc;cursor: pointer;padding: 0 8px; text-align: center; font-size: 22px; font-weight: bold; text-decoration: none; display: block; transition: .3s;color: #fff;}
.minimal-font-size-content .filtration-block .buttin-clear:hover {background-color: #f72b50;}

.minimal-font-size-content .filter-btn {cursor: pointer;}
.minimal-font-size-content .resource-filter {text-decoration: underline;}
.minimal-font-size-content .filtration-block.control-block {padding: 0;margin-bottom: 15px;}

.minimal-font-size-content .control-block .form-block {margin-bottom: 10px;}
.minimal-font-size-content .control-block.filtration-block .error {border: 1px solid red;}

#jGrowl .alert.saccess {background-color: #207d0f; color: #fff}
#jGrowl .alert.error {background-color: #b30808; color: #fff}
#jGrowl .alert.info {background-color: #4786bd; color: #fff}

.hidden-text {display: none;}

.avail-type {margin-bottom: 10px;}
.avail-type:nth-child(3) {width: 100%;}
.minimal-font-size-content .hidden {display: none;}
.minimal-font-size-content .prices:not(.hidden) {display: inline-block; width: 100%;}

.content-body .date-block,
.content-body .schedule-block,
.content-body .revenue-chart {display: none;}
.content-body .date-block.active,
.content-body .schedule-block.active,
.content-body .revenue-chart.active {display: block;}

.hidden {display: none;}
.discount-for-pickup-block {margin-bottom: 15px;}
.discount-for-pickup-block .edit-discount-for-pickup {max-width: 300px;}

.container-add-marker .row .col-12 {padding-left: 5px; padding-right: 5px; margin-bottom: 15px;}
.container-add-marker .btn {width: 100%; background-color: #2f4cdd;}
.marker-intro {padding: 5px 10px; margin-bottom: 10px;}
.container-add-marker .btn {background-color: #2f4cdd; color: #fff; height: 35px !important;}
.container-add-marker .btn.add-marker {margin-top: 26px;}

.stickers-property {position: relative;}
.stickers-property .stickers-block {position: absolute;top: 0;left:50%; margin-left: -175px; padding: 10px 15px; background-color: #fff; box-shadow: 0 10px 15px rgba(0,0,0,0.3); border-radius: 5px;z-index: 1; width: 250px;}
.stickers-property .stickers-block input {margin-right: 10px;}
.stickers-property .stickers-block .btn {display: inline-block;padding: 3px 10px;width: 49%;color: #fff;}
.stickers-property .stickers-block .btn-close {background-color: #2f4cdd;}
.stickers-property .stickers-block .btn-save {background-color: #267729;}
.stickers-property .stickers-block .stickers-list {margin-bottom: 10px;}

.input-search-block {position: relative;}
.input-search-block .input-search {width: 100%;}
.input-search-block .product-list {position: absolute;top: 100%;left: 0;padding: 10px; box-shadow: 0 10px 7px rgba(0,0,0,0.3); overflow-y: auto; max-height: 200px;z-index: 5; display: none; background-color: #fff; width: 100%;}
.input-search-block .product-list.show {display: block;}
.input-search-block .product-list ul li {padding: 3px 5px; background-color: #fff; transition: .3s; cursor: pointer;}
.input-search-block .product-list ul li:hover {background-color: #eeeeee;}
.add-price-gift .select-list{
    width: 100%!important;
}
.edit-price-gift .select-list{
    width: 100%!important;
}

#promoModalList .modal-body {padding: 1rem 1.875rem !important;}
#user-promo-list {width: 100%;}
#user-promo-list td,th {padding: 7px;}
#user-promo-list tr:nth-child(2n) {background-color: #eee;}
.btn.show-user-list-btn {padding: 3px 7px; background-color: #1b32a5; color: #fff; box-shadow: 0 5px 10px rgba(0,0,0,0.2); margin-left: 10px; float: right;}

.tab-list {border-bottom: 2px solid #2f4cdd; margin-bottom: 25px;}
.tab-list .tab-list_element {display: inline-block;padding: 5px 15px;border: 2px solid #ccc; border-radius: 10px 10px 0 0;border-bottom: 0px;cursor: pointer;background-color: #fbfbfb;transition: 0.3s;position: relative;bottom: -1px;}
.tab-list .tab-list_element:hover, .tab-list .tab-list_element.active {background-color: #2f4cdd; color: #fff;}
.tab-block {display: none;}
.tab-block.active {display: block;}
.tab-block h2 {margin-bottom: 25px;}

#form-birthday-setting .form-birthday-setting__title {margin-bottom: 15px;}
#form-birthday-setting .form-birthday-setting__title input[type=text] {width: 100%;padding: 5px 15px;border: 2px solid #ccc; border-radius: 5px;}
#form-birthday-setting .form-birthday-setting__title textarea {width: 100%;padding: 5px 15px;border: 2px solid #ccc; border-radius: 5px; min-height: 40px;}

.type_value_block span {display: none;}
.type_value_block[data-type=type-1] span.type-1,.type_value_block[data-type=type-2] span.type-2,.type_value_block[data-type=type-5] span.type-5 {display: initial;}

.dropdown-menu .dropdown-menu__element {display: block; position: relative; cursor: pointer;}
.dropdown-menu .dropdown-menu__element i {position: absolute; top: 0; right: 0; padding: 12px; transition: .3s}
.dropdown-menu .dropdown-menu__element i:hover {color: red;}
.dropdown-menu .dropdown-item {padding: 0.5rem 2.3rem 0.5rem 1rem;}